.datepick-td .service-table-select-div p.directInput{display:none;}
.datepick-td .service-table-select-div p.directInput.show{display:table-footer-group;}
.service-table-content-div{display:none;}
.service-table-content-div {margin-bottom:6px;}
.version_text {position:relative; top:330px; left:620px; font-size:0.8em;}