/* Ion.Zoom
// css version 1.2.63
// © 2013 Denis Ineshin | IonDen.com
//
// Project page:    http://ionden.com/a/plugins/ion.zoom/
// GitHub page:     https://github.com/IonDen/ion.zoom
//
// Released under MIT licence:
// http://ionden.com/a/licence.html
// ===================================================================================================================*/

.ion-zoom-preloader {
    position: absolute;
    top: -9999px; left: -9999px;
    width: 30px; height: 30px;
    margin: -15px 0 0 -15px;
    border-radius: 50%;
    background: #fff url(../../../img/ion.zoom.preloader.gif) no-repeat 50% 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 998;
}
.ion-zoom-image {
    position: absolute; display: block;
    top: -9999px; left: -9999px;
    background: #222;
    cursor: pointer;
    outline: none !important;
    z-index: 999;
    overflow: hidden;
}
    .ion-zoom-image img {
        display: block !important;
        border: 0 !important;
        padding: 0 !important;
        z-index: 1;
    }

    .ion-zoom-image.isOpen {
        box-shadow: 0 0 10px rgba(0,0,0,0.8);
    }
    .ion-zoom-image.noControls div {
        display: none !important;
    }

.ion-zoom-close,
.ion-zoom-prev,
.ion-zoom-next {
    position: absolute;
    background: rgba(0,0,0,0.7);
    _background: #000;

    -webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -ms-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

    .ion-zoom-close {
        top: -30px; right: -30px;
        width: 30px; height: 30px;
        border-radius: 0 0 0 5px;
        z-index: 2;
        font: 22px/30px Arial, Helvetica, sans-serif;
        color: #fff; text-shadow: none;
        text-align: center;
    }
    .ion-zoom-prev {
        top: 50%; left: -30px; margin-top: -25px;
        width: 30px; height: 50px;
        overflow: hidden;
        border-radius: 0 5px 5px 0;
        z-index: 2;
    }
        .ion-zoom-prev div {
            position: absolute;
            top: 15px; left: -3px;
            border: 10px solid transparent;
            border-right-color: #fff;
        }
    .ion-zoom-next {
        top: 50%; right: -30px; margin-top: -25px;
        width: 30px; height: 50px;
        overflow: hidden;
        border-radius: 5px 0 0 5px;
        z-index: 2;
    }
        .ion-zoom-next div {
            position: absolute;
            top: 15px; left: 13px;
            border: 10px solid transparent;
            border-left-color: #fff;
        }

.ion-zoom-image.isOpen .ion-zoom-close {
    top: 0; right: 0;
}
.ion-zoom-image.isOpen .ion-zoom-prev {
    left: 0;
}
.ion-zoom-image.isOpen .ion-zoom-next {
    right: 0;
}