@charset "utf-8";
@font-face {font-family:"NanumGothic"; src:url('../fonts/NanumGothic-Regular.eot'); src:url('../fonts/NanumGothic-Regular.eot') format('eot'); src:url(../fonts/NanumGothic-Regular.woff) format('woff')}

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;font-family:나눔고딕, "NanumGothic", sans-serif;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* margin */
.mg-t10{margin-top:10px;}
.mg-t20{margin-top:20px;}
.mg-t30{margin-top:30px;}
.mg-t40{margin-top:40px;}
.mg-b10{margin-bottom:10px;}
.mg-b20{margin-bottom:20px;}
.mg-b30{margin-bottom:30px;}
.mg-b40{margin-bottom:40px;}

/* align */
.text-right{text-align:right;}
/* text style */
.text-bold{font-weight:bold;}

/*text-color*/
.color-black{color:black!important;}
.color-black:hover{color:black!important;}
.color-red{color:#da2127!important;}
.color-red:hover{color:#da2127!important;}

/* view */
.hidden{display:none;}
.block{display:block;}
body{background:#ddd;}

.vt-top{vertical-align:top;}
.vt-top textarea{height:100%;border:none;resize:none;}

/* 헤더 (최상단 카테고리 메뉴) */
#wrap{position:relative;background:#fff;}
header.header{border-bottom:solid 2px #da2127;background:#fff;}
header.header .logo-div{margin:0 auto;width:1280px;padding:17px 0;}
header.header .logo-div img{width:500px;vertical-align:middle;}
header.header .logo-div .log-div{width:auto; float:right; text-align:right;width:}
header.header .logo-div .log-div p{font-size:14px;color:#666;}
header.header .logo-div .log-div p .top-ip{padding-right:10px ;border-right:solid 1px #ddd; margin-right:10px;}
header.header .logo-div .log-div p a{text-decoration:none;color:#333;}
header.header .logo-div .log-div p a:hover{color:#da2127;}
header.header .logo-div .log-div nav ul{padding-top:11px;display:block;width:100%;}
header.header .logo-div .log-div nav ul li{display:inline-block;border-left:solid 1px #ccc;text-align:center;vertical-align:top;padding:0 23px;}
header.header .logo-div .log-div nav ul li:first-child{border:none;}
header.header .logo-div .log-div nav ul li.last-li-top{text-align:right;padding-right:0;}
header.header .logo-div .log-div nav ul li a{font-size:19px;text-decoration:none;color:#333;}
header.header .logo-div .log-div nav ul li a.active{font-weight:600; color:#da2127;}

/* 본문 영역 */
#wrap .container{padding:40px 0px 60px 0px;width:1280px;margin:0 auto;min-height:620px;}

/* 좌측메뉴 */
#wrap .container .left_menu{width:auto; margin:0 auto; background-color:#d03238; display:inline-block;border-radius:10px 0px 0px 10px; padding-left:20px;padding-bottom:20px;}
#wrap .container .left_menu .left_ul{width:100%; margin-top:10px; text-align:right; display:table;}
#wrap .container .left_menu .left_ul li a{width:145px; margin-top:20px; font-size:18px; color:#eee; text-decoration:none; display:block; font-weight:600; padding:22px 30px 22px 0px;}
#wrap .container .left_menu .left_ul li.menuon{ background-image:url(../images/leftmenu_bg.png); background-repeat:no-repeat; background-position:right top;}
#wrap .container .left_menu .left_ul li.menuon a{color:#d03238;}



/* My-알림-게시판 */
#wrap .container .content{width:1040px; float:right; margin:0 auto;}
#wrap .container .content .board_a{width:1040px;}
#wrap .container .content .board_a .Notice{width:100%; text-align:center; color:#444; font-size:13px;}
#wrap .container .content .board_a .Notice .title_bg{background-color:#efefef; font-size:17px; border-top:2px solid #888; color:#333; font-weight:600;}
#wrap .container .content .board_a .Notice .t_left{text-align:left; color:#666; font-size:15px;}
#wrap .container .content .board_a .Notice .t_left a{text-decoration:none;color:#666; font-size:15px;}
#wrap .container .content .board_a .Notice .t_left a:hover{text-decoration:underline;}
#wrap .container .content .board_a .Notice tr{border-bottom:1px solid #ccc; height:50px;}
#wrap .container .content .board_a .Notice .bottom_line{border-bottom:1px solid #ccc;}
#wrap .container .content .board_a .Notice .notice_ok{display:inline-block; background-color:#3db4eb; border-radius:10px;color:#fff; font-size:11px; padding:8px 12px;margin-right:15px;}
#wrap .container .content .board_a .Notice .notice_return{display:inline-block; background-color:#9957af; border-radius:10px; color:#fff; font-size:11px; padding:8px 12px; margin-right:15px;}

/* My-알림게시판-하단번호 */
.table-list-num{text-align:center;padding:40px 0px 80px 0px;}
.table-list-num ul{display:table;width:auto; margin:0 auto;}
.table-list-num ul li{display:table-cell;padding:0 5px;}
.table-list-num ul li a{display:inline-block;padding:6px 9px;text-decoration:none;color:#777;font-size:12px;border:solid 1px #ddd; font-weight:500;}
.table-list-num ul li a.active{background:#da2127;color:#fff;border-color:#da2127;}
.table-list-num ul li.active{background:#da2127;color:#fff!important;border-color:#da2127;display:inline-block;padding:6px 9px;text-decoration:none;color:#777;font-size:14px;border:solid 1px #ccc;}
/* My-알림게시판//반려상세페이지 */
#wrap .container .content .board_all{margin:0 auto;}
#wrap .container .content .board_all .con_top{margin:0 auto; width:auto; height:100px;}
#wrap .container .content .board_all .con_top img{display:inline-block; padding-top:3px;}
#wrap .container .content .board_all .con_top .con_t{font-size:18px; font-weight:600; color:#666; margin:10px 0px;padding-left:20px; vertical-align:top;display:inline-block;}
#wrap .container .content .board_all .con_top .con_date{margin:10px 0px; padding-top:15px;border-top:1px solid #ddd; text-align:right;font-size:13px; color:#666;}
#wrap .container .content .board_all .con_memo_in{margin:20px 0px;  text-align:center;}
#wrap .container .content .board_all .con_memo_in .con_memo {width:1000px; height:200px; background-color:#f5f5f5;color:#666; font-size:22px; padding:15px; border:1px solid #ddd; display:inline-block; line-height:1.5; padding-top:100px; border-radius:20px;}
#wrap .container .content .board_all .red_bt{margin:0 auto; text-align:center;}
#wrap .container .content .board_all .red_bt a{border-radius:10px;padding:15px 30px; display:inline-block; text-decoration:none; color:#fff; font-weight:500; font-size:15px;background-color:#e9575d; margin-top:25px; border:1px solid #d03238;}
/* My-내정보수정 */
#wrap .container .content .info_editer{width:1040px; height:auto; margin:0 auto;}
#wrap .container .content .info_editer table{width:100%;}
#wrap .container .content .info_editer .text_left{ text-align:left; padding-left:40px;  font-size:16px; font-weight:600; color:#888;}
#wrap .container .content .info_editer .text_right{ text-align:left; font-size:15px; color:#444;}
#wrap .container .content .info_editer .text_right .a_input{width:50%; height:28px; padding:5px; border:1px solid #ccc; color:#444; box-sizing:border-box; font-size:15px;}
#wrap .container .content .info_editer .text_right .b_input{width:14%; height:28px; padding:0 5px; border:1px solid #ccc; color:#444; margin-right:8px; font-size:15px;}
#wrap .container .content .info_editer tr{border-top:1px solid #ddd; height:60px;}
#wrap .container .content .info_editer .bottom_line{border-bottom:1px solid #e7e7e7;}
#wrap .container .content .info_editer .bt_bottom_set{margin:50px 0px; text-align:center;}
#wrap .container .content .info_editer .bt_bottom_set .red_bt{margin:0 auto; text-align:center; padding-right:50px;}
#wrap .container .content .info_editer .bt_bottom_set .red_bt a{border-radius:10px;padding:10px 30px; display:inline-block; text-decoration:none; color:#fff; font-weight:500; font-size:15px;background-color:#e9575d; margin-top:25px; border:1px solid #d03238;}
#wrap .container .content .info_editer .bt_bottom_set .gray_bt{margin:0 auto;text-align:center;}
#wrap .container .content .info_editer .bt_bottom_set .gray_bt a{border-radius:10px;padding:10px 30px;display:inline-block; text-decoration:none;color:#fff;font-weight:500;font-size:15px;background-color:#888;margin-top:25px;border:1px solid #666;}

/* 교육 - 기간안내페이지 */
#wrap .container .date_not{margin:0 auto;width:100%; height:550px; background-color:#f5f5f5;border:1px solid #ddd; border-radius:20px; text-align:center;}
#wrap .container .date_not img{padding-top:50px;}
#wrap .container .date_not .date_memo_title{color:#666;font-size:25px;line-height:1.5;font-weight:600;padding:15px;display:inline-block;padding-top:20px;}
#wrap .container .date_not .date_memo_text{color:#666; font-size:20px;}
#wrap .container .date_not .red_bt{margin:0 auto;text-align:center;padding-top:60px;}
#wrap .container .date_not .red_bt a{border-radius:10px;padding:15px 30px; display:inline-block; text-decoration:none; color:#fff; font-weight:500; font-size:15px;background-color:#e9575d; border:1px solid #d03238;}

/* 연구 */
.guide-txt-table-div{line-height:1.4;font-size:13px;color:#666;margin-top:15px;}
.guide-txt-table-div p{margin-top:5px;}
.guide-txt-table-div .service-table{margin:10px 0;width:590px!important;border:solid 1px #ddd;}
.guide-txt-table-div .service-table th{background:#fafafa!important;font-size:14px!important;padding:4px;}
.signup-btn-div{padding-top:15px;}
.signup-btn-div a{display:inline-block;vertical-align:middle;padding:8px 30px;background:url(../images/bg_button.png);border:solid 1px #ccc;background-size:contain;color:#666;cursor:pointer;text-decoration:none;}
.signup-btn-div a.btn-signup{padding:8px 40px;border:solid 1px #d10707;color:#fff;background:#d83a3a;}

/* 봉사 탭메뉴 */
.score-input-td input{width:50px;border:solid 1px #ccc;height:25px;text-align:center;background:none;}
.score-input-td select{height:29px;padding:1px 1px;border:solid 1px #ccc;font-size:13px;vertical-align:top;}
.service-table .total-score-tr td{font-size:18px;font-weight:600;background:#e86776;color:#fff;}
.tabmenu-div{margin-bottom:40px; border-bottom:solid 1px #da2127;}
.tabmenu-div .tabmenu-ul{display:table-cell;width:100%;}
.tabmenu-div .tabmenu-ul li{display:table-cell;}
.tabmenu-div .tabmenu-ul li a{display:inline-block;width:250px;height:35px;vertical-align:middle; text-align:center;padding-top:15px;text-decoration:none;color:#6a6a6a;border:solid 1px #ccc; border-bottom:solid 1px #da2127;border-left:none;margin-bottom:-1px;font-size:22px; color:#666;cursor:pointer;background:#eee;}
.tabmenu-div .tabmenu-ul li:first-child a{border-left:solid 1px #ccc;}
.tabmenu-div .tabmenu-ul li.active a{border-color:#da2127;border-left:solid 1px #da2127;border-bottom:solid 1px #fff;color:#da2127;font-weight:500;font-size:22px;background:#fff;}
/* 봉사 탭메뉴 테이블 */
.list-table-contents table.service-table{width:100%;}
.list-table-contents .service-table caption{display:none;}
.list-table-contents .service-table .text_big{background-color:#efefef; font-size:15px; font-weight:600;}
.list-table-contents .service-table th,.list-table-contents .service-table td{padding:12px 10px;border-bottom:solid 1px #ddd;text-align:center;}
.list-table-contents .service-table tr:first-child th{background:#ffefef;color:#666;padding:8px 5px;font-size:17px; height:40px; font-weight:600; line-height:1.3;}
.list-table-contents .service-table td,.list-table-contents .list-table tbody th{color:#666; font-size:13px; line-height:1.3;}
.list-table-contents .service-table th{border-left:solid 1px #e2e2e2;}
.list-table-contents .service-table th:first-child{border-left:none;}
.list-table-contents .service-table td{border-left:solid 1px #e2e2e2;line-height:1.3}
.list-table-contents .service-table td:first-child{border-left:none;}
.list-table-contents .service-table tr:hover{background:none!important;}
.text-left{text-align:left!important; vertical-align:middle; font-size:13px!important;}
.service-table .total-score-tr td{font-size:18px;font-weight:600;background:#e86776;color:#fff;}
.list-table-contents .service-table .textbox_a textarea{width:100%; height:100%; font-family:'나눔고딕', "NanumGothic", sans-serif;font-size:14px;color:#666; resize:none;overflow:auto;box-sizing:border-box;border:#ddd 1px solid;}
.tab-content-table-title{margin-top:30px;margin-bottom:10px;font-weight:600;color:#666;font-size:22px;}
.co-tabs-table td .service-table-content-div{font-size:12px;background:#fafafa;margin-bottom:5px;}
/* 봉사 탭메뉴 테이블 - 보직선택 기간입력 */
.datepick-td {vertical-align:top;}
.datepick-td .datepick-div{display:table;width:100%;margin-bottom:10px; margin-left:7px;}
.datepick-td .datepick-div div{display:table-cell;text-align:left;}
.datepick-td .datepick-div input[type="text"]{width:55%;vertical-align:middle;border:solid 1px #ccc; padding:3px 5px; color:#666; font-size:13px;}
.datepick-td .datepick-div .long-input-div input[type="text"]{width:184px;}
.datepick-td .datepick-div button{background:none;border:none;margin:0;vertical-align:middle;padding:0;cursor:pointer;}
.datepick-td .datepick-div button img{width:21px;vertical-align:middle;}
.datepick-td .service-table-select-div{display:table; width:100%;margin-left:7px;}
.datepick-td .service-table-select-div p{display:table-cell; text-align:left; width:78%; }
.datepick-td .service-table-select-div p select{height:24px; vertical-align:middle; width:96%;border:solid 1px #ccc; font-size:12px; color:#666;font-family:'나눔고딕', "NanumGothic", sans-serif;}
.datepick-td .service-table-select-div p input{height:20px;vertical-align:middle;padding:1px;width:92%;border:solid 1px #ccc; padding-left:4px;font-size:12px;color:#666;font-family:'나눔고딕', "NanumGothic", sans-serif;}
.datepick-td .service-table-select-div p button{background:#0475cc;border:solid 1px #1f6498;height:px;vertical-align:middle;color:#eee;cursor:pointer; font-size:12px; padding:1px 5px 3px 5px;}
/* 봉사 탭메뉴 테이블 - 내용 */
.service-td{vertical-align:top;}
.service-table-content-div{padding:8px;background:#f8f8f8;border-radius:5px;position:relative;text-align:left;border:solid 1px #ddd;}
.service-table-content-div p{line-height:1.3;margin-top:3px;padding-right:23px;}
.service-table-content-div p:first-child{margin-top:0;}
.service-table-content-div label button{position:absolute;bottom:6px;right:8px;border:solid 1px #afafaf;border-radius:5px;background:#fff;cursor:pointer;color:#8b8b8b; padding:2px 5px;}
.list-table-contents table.service-table .border-l{border-left:solid 1px #e2e2e2; font-size:14px;}
/* 봉사 탭메뉴 테이블 - 증빙서류 */
.service-table-up-td p{margin-top:10px; font-size:13px;}
.service-table-up-td a{text-decoration:underline; color:#666;cursor:pointer;}
.service-table-up-td a:hover{text-decoration:underline; color:#da2127;}
.btn-service-popup{background:#f57c7c; border:solid 1px #df5353; width:55px; height:28px;vertical-align:middle; border-radius:5px; color:#fff; cursor:pointer; font-size:13px; font-weight:600; padding-bottom:2px;}
.list-table-contents table.service-table .total_text{font-size:18px; font-weight:600; background-color:#e86767; color:#fff;}

/* 검수 - 연구 */
.co-tabs-table td.textarea-td{vertical-align:top;}
.co-tabs-table td.textarea-td textarea{min-height:15px;resize:none;background:none;border:solid 1px #ccc;font-family:'나눔고딕', "NanumGothic", sans-serif;border:none;overflow:auto;box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;width:100%;}
.co-tabs-table td.service-table-up-td a.btn-down{display:inline-block;background:#ee5656; border:solid 1px #da2228;width:50px;vertical-align:middle;border-radius:5px;color:#fff;padding:5px; cursor:pointer;font-size:12px;font-weight:500;text-decoration:none;}
.co-tabs-table td.service-table-up-td p{margin-bottom:4px;}
.guide-txt-table-div{line-height:1.4;font-size:13px;color:#666;margin-top:15px;}
.guide-txt-table-div p{margin-top:5px;}
.guide-txt-table-div .service-table{margin:10px 0;width:590px!important;border:solid 1px #ddd;}
.guide-txt-table-div .service-table th{background:#fafafa!important;font-size:14px!important;padding:4px;}

/* 검수 - 봉사 */
.tab-content-table-title{margin-top:30px;margin-bottom:10px;font-weight:600;color:#666;}
.tab-content-table-title:first-child{margin-top:0;}
.co-tabs-table td .service-table-content-div{font-size:12px;background:#fafafa;margin-bottom:5px;}



/* 게시판 좌측메뉴 */
#wrap .container .left_bomenu{width:auto; margin:0 auto;display:inline-block; padding-left:20px;padding-bottom:20px;}
#wrap .container .left_bomenu .board_ul{width:100%; text-align:right; display:table;}
#wrap .container .left_bomenu .board_ul li a{width:180px; margin-bottom:20px; text-align:center;  font-size:18px; color:#666; background-color:#eee; border-radius:50px; text-decoration:none; display:block; font-weight:600; padding:22px 0px 22px 0px;}
#wrap .container .left_bomenu .board_ul li.menuon{}
#wrap .container .left_bomenu .board_ul li.menuon a{color:#fff; background-color:#995d0b; border-radius:50px; font-weight:600; font-size:18px; padding:22px 0px 22px 0px; display:block;}



/* 게시판 목록 */
.board_b{width:1040px;}
.board_b .Notice{width:100%; text-align:center; color:#444; font-size:13px;}
.board_b .Notice .title_bg{background-color:#efefef; font-size:17px; border-top:2px solid #888; color:#333; font-weight:600;}
.board_b .Notice .t_left{text-align:left; color:#666; font-size:15px;}
.board_b .Notice .t_left a{text-decoration:none;color:#666; font-size:15px;}
.board_b .Notice .t_left a:hover{text-decoration:underline;}
.board_b .Notice tr{border-bottom:1px solid #ccc; height:50px;}
.board_b .Notice .bottom_line{border-bottom:1px solid #ccc;}
.board_b .Notice .t_left .list_blue{display:inline-block; background-color:#e04a4a; color:#fff; font-size:13px; padding:8px 12px;margin-right:15px;}
.board_b .Notice .t_left .list_orange{width:25px; text-align:center; display:inline-block; background-color:#995d0b; border-radius:10px; color:#fff; font-size:11px; padding:8px 12px; margin-right:15px;}
.board_b .Notice .t_left .list_gray{width:25px; text-align:center; display:inline-block; background-color:#8e7c63; border-radius:10px; color:#fff; font-size:11px; padding:8px 12px; margin-right:15px;}

/* 게시판 상세페이지 */
#wrap .container .content{width:1040px; float:right; margin:0 auto;}
#wrap .container .content .board_c{width:900px; height:auto; text-align:center; font-family:'나눔고딕', "NanumGothic"; border:1px #999 solid; margin:0 auto;}
#wrap .container .content .board_c .wr_square{margin:0 auto; width:800px; text-align:left; color:#444; font-size:16px; margin-top:45px;}
#wrap .container .content .board_c .wr_square tr{height:35px;}
#wrap .container .content .board_c .wr_square .tit_a{width:98%; height:25px; font-size:0.9em; padding:5px;}
#wrap .container .content .board_c .wr_square .in_memo{width:100%; height:150px; margin:0; padding:10px; font-size:0.9em; color:#666; font-family:'나눔고딕', "NanumGothic"; margin-top:10px; box-sizing:border-box;}
#wrap .container .content .board_c .wr_square .wri_data{font-size:0.8em; height:70px; width:100%; padding:40px 0px 15px 0px; text-align:center;}
#wrap .container .content .board_c .wr_square .bt_red_a {background-color:#ee5656; color:#fff; border-radius:10px; width:150px; height:30px; display:inline-block; text-align:center; font-size:15px; padding-top:10px;}
#wrap .container .content .board_c .wr_square .bt_gray_a {background-color:#999; color:#fff; border-radius:10px; width:150px; height:30px; display:inline-block; text-align:center; font-size:15px; padding-top:10px; margin-left:20px;}

/* 게시판 댓글쓰기 */
#wrap .container .content .board_c .wr_square .wri_data .date{margin-right:20px;}
#wrap .container .content .board_c .wr_square .wri_data .write{margin-right:80px;}
#wrap .container .content .board_c .wr_square .wri_data .bt_gray{background-color:#666; color:#fff; width:60px; height:20px; display:inline-block; text-align:center; padding-top:7px; margin-left:15px;}
#wrap .container .content .bt_bottom{width:900px; height:80px; margin:0 auto; font-size:13px;padding-top:30px; margin-bottom:30px; text-align:center;}
#wrap .container .content .bt_bottom .bt_gray_left{background-color:#999; color:#fff; width:150px; height:25px; display:inline-block; text-align:center; padding-top:10px; float:left;}
#wrap .container .content .bt_bottom .bt_red_center{background-color:#ee5656; color:#fff; width:150px; height:25px; display:inline-block; text-align:center; padding-top:10px;}
#wrap .container .content .bt_bottom .bt_gray_right{background-color:#999; color:#fff; width:150px; height:25px; display:inline-block; text-align:center; padding-top:10px; float:right;}

/* 행정팀답변 */
#wrap .container .content .widthbox{width:900px; margin:0 auto;}
#wrap .container .content .widthbox .box_orange{height:auto; margin:30px 0; font-size:13px; color:#333; font-family:'나눔고딕', "NanumGothic"; padding-top:20px;}
#wrap .container .content .widthbox .box_orange .reply_orange{width:65px; text-align:center; display:inline-block; background-color:#995d0b; border-radius:10px; color:#fff; font-size:11px; padding:8px 12px; margin-right:15px;}
#wrap .container .content .widthbox .box_orange .re_box{height:70px; width:100%; margin-top:10px; box-sizing:border-box;}
/* 나의답변 */
#wrap .container .content .widthbox .box_gray{height:auto; margin:30px 0; font-size:13px; color:#333; font-family:'나눔고딕', "NanumGothic";padding:20px 0;}
#wrap .container .content .widthbox .box_gray .reply_gray{width:65px; text-align:center; display:inline-block; background-color:#8e7c63; border-radius:10px; color:#fff; font-size:11px; padding:8px 12px; margin-right:15px;}
#wrap .container .content .widthbox .box_gray .bt_gray{background-color:#666; color:#fff; width:50px; height:20px; float:right; text-align:center; padding-top:6px; margin-left:20px;}
#wrap .container .content .widthbox .box_gray .re_box{height:70px; width:100%; margin-top:10px;box-sizing:border-box;}



/* 증빙서류 등록 팝업 */
.wrap-popup{position:fixed;width:100%;height:100%;top:0;left:0;background:rgba(17, 17, 17, 0.55);z-index:1000;min-height:600px;}
.popup-guide{width:521px;margin:0 auto;position:relative;padding:3px;border-radius:10px;background:#6f6f6f;box-shadow:0px 0px 11px #444;margin-top:70px;font-family:'나눔고딕', "NanumGothic", sans-serif;}
.popup-guide .popup-guide-header h2{background:#da2127;padding:15px 8px;border-radius:10px 10px 0 0;}
.popup-guide .popup-guide-header h2 img{width:100px;}
.popup-guide .popup-guide-header a{position:absolute;top:13px;right:16px;cursor:pointer;;}
.popup-guide-content{background:#efefef;border-radius:0px 0px 10px 10px;padding:15px 20px;}
.wrap-plan-popup .popup-guide-header h2{color:#fff;font-size:20px;text-align: center}
.wrap-plan-popup .popup-guide-header a{top:13px;color:#fff;font-size:25px;font-family:sans-serif;}

.popup-input-file-up-div{padding:15px 0;font-size:15px; color:#666;}
.popup-input-file-up-div p.popup-fd-title{font-weight:600;margin-bottom:7px;}
.popup-input-file-up-div .popup-input-file-div{display:table;width:100%;margin-bottom:5px;}
.popup-input-file-up-div .popup-input-file-div p{display:table-cell;padding:0px 4px;text-align:center;line-height:1.3;}
.popup-input-file-up-div .popup-input-file-div p+p+p{width:80px;text-align:right;padding-right:0;}
.popup-input-file-up-div .popup-input-file-div p:first-child{background:#fff;border:solid 1px #eaeaea;color:#555;font-size:13px;}
.popup-thesis .popup-input-file-up-div .popup-input-file-div p+p{padding-left:6px;padding-right:0;}
.popup-thesis .popup-input-file-up-div .popup-input-file-div p:first-child{padding:0;width:400px;}
.popup-input-file-up-div .popup-input-file-div p input[type="text"]{width:100%;vertical-align:middle;height:26px;text-indent:6px; border:solid 1px #eaeaea;color:#666;}
.popup-input-file-up-div .popup-input-file-div p .btn-input-file-label{display:inline-block;padding:0px 2px 5px 5px;width:70px;text-align:center;background:#f06767;color:#eee;height:auto;vertical-align:middle;cursor:pointer; font-size:13px;font-weight:bold;border:solid 1px #df5353;}
.popup-input-file-up-div .popup-input-file-div p .btn-input-file-label input[type="file"]{width:0;height:0;opacity:0;filter:alpha(opacity=0);}
.popup-input-file-up-div .btn-add-file{background:#fafafa;border:solid 1px #ccc;padding:4px 7px;color:#666;cursor:pointer;}
.popup-input-file-up-div .btn-add-file:hover{color:#333;border-color:#aaa;background:#fefefe;}

.popup-input-file-up-div .popup-input-del-div{display:table;width:100%;border-bottom:#ccc 1px solid;}
.popup-input-file-up-div .popup-input-del-div p{display:table-cell;padding:6px 4px 6px;text-align:center;line-height:1.3;width:50%;}
.popup-input-file-up-div .popup-input-del-div p+p+p{width:100px;text-align:right;padding-right:0;}
.popup-input-file-up-div .popup-input-del-div p:first-child{width:110px;font-size:12px;}
.popup-input-file-up-div .popup-input-del-div p input[type="text"]{width:100%;vertical-align:middle;height:22px;background:none;border:none; color:#666;}
.popup-input-file-up-div .popup-input-del-div p .btn-dle-file{display:inline-block;padding:3px 0 5px 0px;width:80px;;text-align:center;background:#d8d8d8;color:#666;height:auto;vertical-align:middle;border:solid 1px #8d8d8d;cursor:pointer;}

.popup-input-file-up-div .btn-submit-div{text-align:center;padding:25px 0 0;}
.popup-input-file-up-div .btn-submit-div a{padding:8px 40px;border:solid 1px #d10707;color:#fff;background:#d83a3a;display:inline-block;cursor:pointer;}

/* footer */
#footer{border-top:solid 1px #c6c6c6;width:100%;background:#ddd; clear:both;}
#footer .footer_con{margin:0 auto;width:1280px;height:50px;padding:30px 0;}
#footer .footer_address{background:url(../images/logo_g.png);background-position:left;background-repeat:no-repeat;padding-left:670px;}
#footer .footer_address p{font-size:12px;margin-bottom:3px;color:#555;}

/* 구버젼 경고창 */
.pop-up-ie7{position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(17, 17, 17, 0.55);z-index:1000;min-height:600px;}
.popup-ie7{width:400px;margin:15% auto 0;border:solid 1px #484848;background:#fefefe;box-shadow:0px 0px 11px #444;border-radius:10px;}
.popup-ie7 .popup-ie7-header p{float:left;padding:10px;background:#656565;border-bottom:solid 1px #414141;border-radius:0 8px 0 0}
.popup-ie7 .popup-ie7-header p:first-child{width:350px;font-size:18px;text-align:center;color:#fff;height:;padding:16px 0;border-radius:8px 0 0 0;}
.popup-ie7 .popup-ie7-header p button{width:30px;height:30px;background:#656565;border:none;color:#fff;border-radius:100%;}
.popup-ie7 .popup-ie7-content{clear:both;padding:15px;}
.popup-ie7 .popup-ie7-content p{line-height:160%;font-size:15px;}
.popup-ie7 .popup-ie7-button-div{text-align:center;padding:0 0 20px 0;}
.popup-ie7 .popup-ie7-button-div button{width:100px;height:35px;background:#fafafa;border:outset 1px #aaa;border-radius:5px;font-size:15px;color:#111;background:#eee;}

