@charset "utf-8";
/* 시신 기증이력보기 팝업*/
.form-div-view fieldset .form-div-view-bottom label input.input-call-numb{width:50px;}
.form-div-view fieldset .form-div-view-bottom label input.last-call-numb{width:100px;}

.form-div-view fieldset .form-div-view-bottom label select{width:380px;height:37px!important;border:solid 1px #aaa;}