@charset "utf-8";
/* 시신 기증이력보기 팝업*/
.form-div-view fieldset .form-div-view-bottom label input.input-call-numb{width:116px;}
.form-div-view fieldset .form-div-view-bottom label input.last-call-numb{width:115px;}

.form-div-view fieldset .form-div-view-bottom label .popup-select-div{width:363px;vertical-align:middle;}
.form-div-view fieldset .form-div-view-bottom label input[type="file"]{/*width:365px;*/height:30px;padding:0;}
.form-div-view fieldset .form-div-view-bottom label input.last-call-numb{width:113px;}
