@charset "utf-8";
@font-face {font-family:NanumGothic; src:url('../fonts/NanumGothic-Regular.eot'); src:url('../fonts/NanumGothic-Regular.eot') format('eot'); src:url(../fonts/NanumGothic-Regular.woff) format('woff')}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;font-family:나눔고딕, "NanumGothic", sans-serif;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}
/* text style */
.text-bold{font-weight:bold;}
/*text-color*/
.color-black{color:black!important;}
.color-black:hover{color:black!important;}
.color-red{color:#da2127!important;}
.color-red:hover{color:#da2127!important;}
/* view */
.hidden{display:none;}
.block{display:block;}

#wrap{position:relative;background:#fff;}
header.header{border-bottom:solid 2px #da2127;background:#fff;}
header.header .logo-div{margin:0 auto;width:1280px;padding:17px 0;}
header.header .logo-div img{vertical-align:middle;}
header.header .logo-div h1{width:auto;display:inline-block;font-weight:;text-indent:5px;font-size:17px;color:#666;letter-spacing:-1px;word-spacing:-2px;}

#wrap .container{padding-bottom:130px;}
.container .form-contents{margin:0 auto;width:640px;height:280px;margin-top:160px;padding:40px;border:solid 2px #dedede;background-color:#fff;padding-left:290px;background-image:url(../images/intro_pic01.png);background-repeat:no-repeat;background-position:0;background-size:contain;}
.container .form-contents h1{text-align:center;font-size:32px;padding-bottom:24px;border-bottom:solid 2px #777;color:#444;word-spacing:-2px;letter-spacing:-1px;width:510px;float:right;}
.container .form-contents p.guide-call{font-size:11px;margin-top:15px;color:#777;float:right;}
.container .form-contents p.guide-call img{vertical-align:text-bottom;margin-left:5px;margin-right:11px;}
.container .form-contents .login-form{margin-top:6px;border-bottom:solid 1px #bbb;width:510px;float:right;}

/* 아이디 비번 입력창 로그인 버튼 */
.has-js .label-check,
.has-js .label-radio {display:inline-block;padding-left:28px;padding-top:2px;padding-bottom:3px;margin-bottom:10px;}
.has-js .label-radio { background: url(../images/radio-off.png) no-repeat;}
.has-js .label-check,.lb-checkbox{background:url(../images/bcheck-off.png) no-repeat;}
.has-js label.c-on,.lb-checkbox.on{ background: url(../images/bcheck-on.png) no-repeat;}
.has-js label.r-on { background: url(../images/radio-on.png) no-repeat;}
.has-js .label-check input,
.has-js .label-radio input,.lb-checkbox input{position: absolute;left:-9999px;}
.check-member-div .oper{color:#1268b2;}

.container .form-contents .login-form .inputbutton-div{background:#fff;padding:17px 18px;}
.container .form-contents .login-form .section-radio-div{margin-bottom:5px;}
.container .form-contents .login-form .section-radio-div span{display:inline-block;width:89px;}
.container .form-contents .login-form .section-radio-div label{padding-left:20px;margin-right:20px;background-position:left center;cursor:pointer;}
.container .form-contents .login-form .inputbutton-div .login-input-div{width:354px;display:inline-block;float:left;}
.container .form-contents .login-form .inputbutton-div .login-input-div p input{border:solid 1px #aaa;padding:0 6px;height:30px;width:236px;vertical-align:middle;}
.container .form-contents .login-form .inputbutton-div .login-input-div p:first-child{margin-bottom:12px;}
.container .form-contents .login-form .inputbutton-div .login-input-div p label{display:inline-block;width:89px;font-size:16px;cursor:pointer;color:#444;}
.container .form-contents .login-form .inputbutton-div .login-button-div{width:119px;display:inline-block;vertical-align:top;}
.container .form-contents .login-form .inputbutton-div .login-button-div button{width:100%;height:76px;display:inline-block;background:#111;color:#fff;border-color:#da2127;cursor:pointer;border:none;font-size:18px;}

/* 아이디저장 / 비번찾기 */
.lb-checkbox.on{background-position:left center;color:#111;}
.lb-checkbox{padding-left:20px;background-position:left center;}
.container .form-contents .login-form .login-chceck-div{background:#fff;padding-left:110px;padding-bottom:20px;}
.container .form-contents .login-form .login-chceck-div p{width:45%;display:inline;font-size:14px;color:#777;}
.container .form-contents .login-form .login-chceck-div p label{cursor:pointer;}
.container .form-contents .login-form .login-chceck-div p label:hover{color:#000;}
.container .form-contents .login-form .login-chceck-div p a{text-decoration:none;color:#777;cursor:pointer;}
.container .form-contents .login-form .login-chceck-div p a:hover{color:#000;}
.container .form-contents .login-form .login-chceck-div p:first-child{margin-right:20px;}
.container .form-contents .login-form .login-chceck-div p input{vertical-align:middle;}

#footer{border-top:solid 1px #c6c6c6;width:100%;background:#dddddd;}
#footer .footer-contents{margin:0 auto;width:1280px;height:45px;padding:11px 0;}
#footer .footer-logo-div{width:290px;float:left;height:50px;}
#footer .footer-logo-div img{width:250px;margin-top:6px;}
#footer .footer-address{background:url(../images/logo_b.png);background-position:left;background-repeat:no-repeat;padding-left:290px;}
#footer .footer-address p{font-size:12px;margin-bottom:3px;color:#555;}

/* popup */
.pop-up{position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(17, 17, 17, 0.55);z-index:1000;min-height:600px;}
.pop-up .form-div{width:410px;margin:15% auto 0;border:solid 2px #575757;padding:0;background:#fafafa;box-shadow:0px 0px 11px #444;border-radius:10px;}
.popup-form-div-title{padding:14px 20px;border-bottom:solid 1px #ccc;background:#656565;border-bottom:solid 1px #414141;color:#fff;border-radius:6px 6px 0 0;}
.popup-form-div-title:before{content:":: ";}
.pop-up .form-div fieldset{padding:20px;}
.pop-up .form-div fieldset p{margin-bottom:20px;color:#333;}
.pop-up .form-div fieldset p.guide-find{font-size:12px;color:#666;text-align:center;}
.pop-up .form-div fieldset p input{width:300px;border:solid 1px #bbb;height:30px;text-indent:5px;background:#fff;border-radius:5px;font-size:12px;}
.pop-up .form-div fieldset p label{display:inline-block;width:60px;font-size:14px;cursor:pointer;}
.pop-up .form-div fieldset .form-btn-div{text-align:center;padding-top:20px;border-top:solid 1px #ccc}
.pop-up .form-div fieldset .form-btn-div button{width:120px;height:40px;border:outset 1px #aaa;border-radius:5px;font-size:15px;background:#eee;color:#111;cursor:pointer;}
.pop-up .form-div fieldset .form-btn-div button:first-child{margin-right:30px;color:#111;}

/* 구버젼 경고창 */
.pop-up-ie7{position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(17, 17, 17, 0.55);z-index:1000;min-height:600px;}
.popup-ie7{width:400px;margin:15% auto 0;border:solid 1px #484848;background:#fefefe;box-shadow:0px 0px 11px #444;border-radius:10px;}
.popup-ie7 .popup-ie7-header p{float:left;padding:10px;background:#656565;border-bottom:solid 1px #414141;border-radius:0 8px 0 0}
.popup-ie7 .popup-ie7-header p:first-child{width:350px;font-size:18px;text-align:center;color:#fff;height:;padding:16px 0;border-radius:8px 0 0 0;}
.popup-ie7 .popup-ie7-header p button{width:30px;height:30px;background:#656565;border:none;color:#fff;border-radius:100%;}
.popup-ie7 .popup-ie7-content{clear:both;padding:15px;}
.popup-ie7 .popup-ie7-content p{line-height:160%;font-size:15px;}
.popup-ie7 .popup-ie7-button-div{text-align:center;padding:0 0 20px 0;}
.popup-ie7 .popup-ie7-button-div button{width:100px;height:35px;background:#fafafa;border:outset 1px #aaa;border-radius:5px;font-size:15px;color:#111;background:#eee;}