@charset "utf-8";
@font-face {font-family:"NanumGothic"; src:url('../fonts/NanumGothic-Regular.eot'); src:url('../fonts/NanumGothic-Regular.eot') format('eot'); src:url(../fonts/NanumGothic-Regular.woff) format('woff')}

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;font-family:나눔고딕, "NanumGothic", sans-serif;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* align */
.text-right{text-align:right;}
/* text style */
.text-bold{font-weight:bold;}

/*text-color*/
.color-black{color:black!important;}
.color-black:hover{color:black!important;}
.color-red{color:#da2127!important;}
.color-red:hover{color:#da2127!important;}
.color-orange{color:orange;}
.color-blue{color:#0070b5;}
/* size */
.width-0{width:0!important;}
.width-100{width:100%!important;}
.mx-width-100{max-width:100%!important;}

/* view */
.hidden{display:none;}
.hidden-important{display:none!important;}
.block{display:block;}

/* align */
.vt-top{vertical-align:top;}
.vt-top textarea{height:100%;border:none;resize:none;}

body{background:#ddd;}

/* 헤더 (최상단 카테고리 메뉴) */
#wrap{position:relative;background:#fff;}
header.header{border-bottom:solid 2px #da2127;background:#fff;}
header.header .logo-div{margin:0 auto;width:1280px;padding:17px 0;}
header.header .logo-div img{width:500px;vertical-align:middle;}
header.header .logo-div .log-div{width:auto; float:right; text-align:right;}
header.header .logo-div .log-div p{font-size:14px;color:#666;}
header.header .logo-div .log-div p .top-ip{padding-right:10px ;border-right:solid 1px #ddd; margin-right:10px;}
.logname-admin{font-weight:bold;color:#0070b5;}/* 수퍼 어드민 */
.logname-co{font-weight:bold;color:darkorange;}/* 행정 */
header.header .logo-div .log-div p a{text-decoration:none;color:#333;}
header.header .logo-div .log-div p a:hover{color:#da2127;}
header.header .logo-div .log-div nav ul{padding-top:11px;display:block;width:100%;}
header.header .logo-div .log-div nav ul li{display:inline-block;border-left:solid 1px #ccc;text-align:center;vertical-align:top;padding:0 10px;}
header.header .logo-div .log-div nav ul li:first-child{border:none;}
header.header .logo-div .log-div nav ul li.last-li-top{text-align:right;padding-right:0;}
header.header .logo-div .log-div nav ul li a{font-size:19px;text-decoration:none;text-decoration:none;color:#333;}
header.header .logo-div .log-div nav ul li a.active{font-weight:600; color:#da2127;}

/* 레이아웃 펼침 닫기 버튼 */
.btn-coll{display:inline-block;position:absolute;top:0;left:0;width:20px;height:39px;word-break:break-all;background-image:url(../images/btn_trigger_l.png);background-repeat:no-repeat;background-position:right top;cursor:pointer;}
.btn-coll span{display:none;}
.move-trigger{left:0px;background-image:url(../images/btn_trigger_r.png);background-repeat:no-repeat;background-position:left top;}

/* 본문 영역 */
#wrap .container,#wrap .container-table{padding:30px 0;width:1280px;margin:0 auto;min-height:620px;}
#wrap .container-table{display:table;padding-top:0;}
.aside{display:table-cell;width:186px;background:;vertical-align:top;position:relative;padding-top:40px;position:relative;padding-right:20px;}
.contents{display:table-cell;padding-top:40px;padding-left:30px;position:relative;border-left:solid 1px #bbb;}

/* 봉사 탭메뉴 */
.tabmenu-div{margin-bottom:40px; border-bottom:solid 1px #da2127;}
.tabmenu-div .tabmenu-ul{display:table-cell;width:100%;}
.tabmenu-div .tabmenu-ul li{display:table-cell;}
.tabmenu-div .tabmenu-ul li a{display:inline-block;width:250px;height:35px;vertical-align:middle; text-align:center;padding-top:15px;text-decoration:none;color:#6a6a6a;border:solid 1px #ccc; border-bottom:solid 1px #da2127;border-left:none;margin-bottom:-1px;font-size:22px; color:#666;cursor:pointer;background:#eee;}
.tabmenu-div .tabmenu-ul li:first-child a{border-left:solid 1px #ccc;}
.tabmenu-div .tabmenu-ul li.active a{border-color:#da2127;border-left:solid 1px #da2127;border-bottom:solid 1px #fff;color:#da2127;font-weight:500;font-size:22px;background:#fff;}
.tabmenu-ul li.active a.wid-pad{width:320px;border-color:#da2127;border-left:solid 1px #da2127;border-bottom:solid 1px #fff;color:#da2127;font-weight:500;font-size:22px;background:#fff;}
.tabmenu-div .tabmenu-ul li a.wid-pad{width:320px;}
/* 행정 관리 */
.btn-re-td a{width:60px;background:#fefefe;border:solid 1px #aaa;padding:3px;border-radius:5px;color:#666;cursor:pointer;background:url(../images/bg_button.png);margin-left:5px;display:inline-block;text-decoration:none;}
.btn-re-td a:first-child{margin:0;}
.btn-re-td a:hover{color:#222;border-color:#666;}

/* 이용자 구분 검색 */
.contents-serach-btns-div{display:table;width:100%;color:#666;margin-bottom:25px;padding-bottom:10px;border-bottom:solid 1px #eee;}
.contents-serach-btns-div .contents-search-div,.contents-serach-btns-div .contents-btns-div{display:table-cell;}
.contents-serach-btns-div .contents-btns-div{text-align:right;}
.contents-serach-btns-div .contents-btns-div a{display:inline-block;text-decoration:none;background:#e55050;color:#ffffff;padding:6px 15px;font-size:13px;vertical-align:middle;border-radius:5px;background:#f57c7c; border:solid 1px #df5353; vertical-align:middle; border-radius:5px;cursor:pointer;font-weight:600;}
.contents-serach-btns-div .contents-btns-div a.ex{display:inline-block;background:none; border:0; padding:6px 0;}
.contents-serach-btns-div .contents-search-div p{display:inline-block;}
.contents-serach-btns-div .contents-search-div p label{font-size:14px;display:inline-block;vertical-align:middle;margin-left:20px;font-weight:600;}
.contents-serach-btns-div .contents-search-div p:first-child label{margin-left:0;}
.contents-serach-btns-div .contents-search-div p select{height:26px;display:inline-block;vertical-align:middle;min-width:80px;border:solid 1px #bbb;border-radius:5px;}
.contents-serach-btns-div .contents-search-div p input[type="text"],.aside .contents-serach-btns-div input[type="text"]{height:20px;display:inline-block;vertical-align:middle;padding:2px 5px;width:110px;border:solid 1px #bbb;border-radius:5px;font-size:13px;}
.contents-serach-btns-div .contents-search-div p button,.aside .contents-serach-btns-div button{background:none;padding:0;border:none;display:inline-block;vertical-align:middle;}
.aside .contents-serach-btns-div button{margin-left:5px;}
.contents-serach-btns-div .contents-search-div p button img,.aside .contents-serach-btns-div button img{height:26px;display:inline-block;vertical-align:middle;cursor:pointer;}
.contents-serach-btns-div .contents-search-div p.dept-lab-wid{width:95px; margin-right:4px; background:url(../images/label_sem.png) no-repeat center right;}/* 20161226추가 */

/* 행정관리 - 이용자 등록 */
.signup-div fieldset{border-bottom:solid 1px #ddd;}
.signup-div fieldset legend{display:none;}
.signup-div fieldset div{display:table;width:100%;border-top:solid 1px #ddd;}
.signup-div fieldset div.co-view{display:none;}
.signup-div fieldset div.co-view div.co-view-div{display:table-cell;padding:7px;border:none;}
.signup-div fieldset div.co-view div.co-view-div select{height:32px;padding:3px 6px;border:solid 1px #ccc;max-width:260px;min-width:100px;font-size:15px;vertical-align:middle;margin-bottom:3px;}
.signup-div fieldset div.co-view div.co-view-div .btn-add-del{background:#fff;border:solid 1px #ccc;width:31px;height:32px;vertical-align:top;cursor:pointer;font-size:24px;color:#666;}
.addselect-div{border:none!important;}
.signup-div fieldset div.co-view div.co-view-div .btn-add-co-select:hover{color:#111;border-color:#aaa;}
.signup-div fieldset div.co-view label{width:14%;display:table-cell;}
.signup-div fieldset div.co-view .append-div{display:block;border:none;}

.signup-div fieldset span.color-red{display:block;padding-bottom:10px;font-size:14px;}
.signup-div fieldset div label,.signup-div fieldset div p{display:table-cell;padding:7px;}
.signup-div fieldset div label{width:14%;border-right:solid 1px #ddd;color:#666;padding-left:20px;font-size:14px;}
.signup-div fieldset div label.required:before{content:"*";margin-left:-20px;margin-right:10px;color:#da2127;}
.signup-div fieldset div p{color:#666;font-size:12px;}
.signup-div fieldset div p input[type="text"],.signup-div fieldset div p input[type="password"]{height:22px;padding:3px 6px;border:solid 1px #ccc;width:240px;font-size:15px;vertical-align:middle;}
.signup-div fieldset div p.signup-pro-select{width:100px;}
.signup-div fieldset div p.signup-pro-checkbox label{display:inline-block;width:170px;vertical-align:middle;border:none;padding:5px;cursor:pointer;}
.lb-checkbox{background:url(../images/bcheck-off.png) no-repeat;background-position:right center;}
.lb-checkbox.on{ background: url(../images/bcheck-on.png) no-repeat;background-position:right center;color:#da2127;}
.lb-checkbox input{position: absolute;left:-9999px;}
.signup-div fieldset div p.signup-pro-checkbox label input{vertical-align:middle;}
.signup-div fieldset div p select{height:32px;padding:3px 6px;border:solid 1px #ccc;max-width:260px;min-width:100px;font-size:15px;vertical-align:middle;}
.signup-div fieldset div p button{border:solid 1px #ccc;background:#ebebeb;padding:6px 0;width:125px;text-align:center;cursor:pointer;height:38px;vertical-align:middle;}
.signup-div fieldset div p button:before{font-size:19px;}
.signup-div fieldset div p button.on{background:#ea6a6f;color:#fff;border-color:#d84646;}
button.on:before{content:"● ";}
.signup-div fieldset div p.tel-p input{width:68px;text-align:center;}
.signup-btn-div{padding-top:15px;}
.signup-btn-div a{display:inline-block;vertical-align:middle;padding:8px 30px;background:url(../images/bg_button.png);border:solid 1px #ccc;background-size:contain;color:#666;cursor:pointer;text-decoration:none;}
.signup-btn-div a.btn-signup{padding:8px 40px;border:solid 1px #d10707;color:#fff;background:#d83a3a;}

/* 행정관리 - 단체등록 */
.btn-down-div{margin-bottom:30px;}
.btn-down-div h2{text-align:center;font-weight:600;font-size:20px;color:#666;line-height:1.4;}
.btn-down-div h2 ins{text-decoration:none;border-bottom:solid 1px #333;font-weight:600;}
.btn-down-div .btn-execl-down-div{margin-top:30px;display:table;width:100%;border-top:dashed 1px #ccc;border-bottom:dashed 1px #ccc;}
.btn-down-div .btn-execl-down-div p{display:table-cell;text-align:center;color:#666;border-left:dashed 1px #ccc;font-weight:600;font-size:19px;padding:20px 0;}
.btn-down-div .btn-execl-down-div p:first-child{border-left:none;}
.btn-down-div .btn-execl-down-div p a{cursor:pointer;display:inline-block;margin-top:10px;}
.btn-down-div .btn-execl-down-div p a img{width:180px;}
.signup-div fieldset div p input.input-upload-txt{width:320px;font-size:13px;}
.signup-div fieldset div p label.btn-input-file{display:inline-block;padding:8px;text-align:center;background:#d85b5b;color:#fff;vertical-align:top;cursor:pointer;width:70px;}
.signup-div p .btn-input-file input[type="file"]{position:absolute;width:0;height:0;left:-9999px;opacity:0;filter:alpha(opacity=0);}

/* 행정관리 - 기간설정 */
.range-up-div{margin-bottom:0px;padding:15px 0 15px;border-bottom:dashed 1px #ccc;}
.range-up-div+.range-up-div+.range-up-div{margin-bottom:25px;border-bottom:solid 1px #ddd;}
.range-up-div .contents-search-div p input{font-size:13px;text-align:center;}
.contents-search-div .guide-txt-div{margin-top:8px;font-size:12px;color:#ea6262;}
.guide-top-txt-div{margin-bottom:0;font-size:14px;color:#666;padding:0px 0 10px;border-bottom:solid 1px #ddd;margin-top:-10px;}
p.contents-btns-div{margin-left:10px;}

/* 테이블 스크롤 영역 */
.scroll-section{max-height:350px;overflow:auto;}
.scroll-section table,.thead-table table{width:1263px!important;}
.text-small{font-size:11px;}
.score-div{border-bottom:solid 1px #8a8a8a;display:inline-block;}
.table-bottom-btns-div{margin-top:20px;text-align:right;padding-right:17px;position:relative;}
.table-bottom-btns-div a{display:inline-block;vertical-align:middle;padding:10px;border:solid 1px #ccc;background:#dedede;cursor:pointer;font-size:14px;color:#666;width:100px;text-align:center;background-image:url(../images/bg_button.png);background-size:contain;}
.table-bottom-btns-div a.btn-cons{border:solid 1px #d10707;color:#fff;background:#d83a3a;}

/* 봉사 탭메뉴 테이블 */
span.guide-color{background:#fdcadc;font-size:13px;padding:9px;}
.list-table-contents table.service-table{width:100%;}
.list-table-contents .service-table caption{display:none;}
.list-table-contents .service-table .text_big{background-color:#efefef; font-size:14px;}
.list-table-contents .service-table th,.list-table-contents .service-table td{padding:12px 8px;border-bottom:solid 1px #ddd;text-align:center;}
.list-table-contents table.service-table td a{text-decoration:none;color:#555;cursor:pointer;}
.list-table-contents table.service-table td.disappr{background:#e6d3f7;}
.list-table-contents table.service-table td.waiting{background:#fdcadc;}
.list-table-contents .service-table tr:first-child th{background:#ffefef;color:#666;padding:8px 5px;font-size:16px; height:40px;}
.list-table-contents .service-table tr:nth-child(2) th{background:#ffefef;color:#666;padding:4px 5px;font-size:16px; height:40px;}
.list-table-contents .service-table td,.list-table-contents .list-table tbody th{font-size:12px; color:#666;}
.list-table-contents .service-table th{border-left:solid 1px #e2e2e2;}
.list-table-contents .service-table th:first-child{border-left:none;}
.list-table-contents .service-table td:first-child{border-left:none;}
.list-table-contents .service-table td{border-left:solid 1px #e2e2e2;line-height:1.3em;}
.list-table-contents .service-table td.dept_arr{ color:red; background:url(../images/ar_m.png) top left no-repeat;}
.list-table-contents .service-table td.checks {position: relative;}
.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0}
.checks input[type="checkbox"] + label {display: inline-block;position: relative;cursor: pointer;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */content: ' ';display: inline-block;width: 21px;height: 21px;line-height: 21px;text-align: center; vertical-align: middle;background: #fafafa;border: 1px solid #cacece;border-radius : 3px;box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);}
.checks input[type="checkbox"] + label:active:before, .checks input[type="checkbox"]:checked + label:active:before {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ content: '\2714';  /* 체크표시 유니코드 사용 */color: #99a1a7;text-shadow: 1px 1px #fff;background: #e9ecee;
border-color: #adb8c0;box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);}
.list-table-contents .service-table td textarea{width:100%; border:0; padding:5px 0; color:#666; text-align:center; font-size:12px;}
.text-left{text-align:left!important;vertical-align:top;font-size:13px!important;}
/* 봉사 탭메뉴 테이블 - 보직선택 기간입력 */
.datepick-td {vertical-align:top;}
.datepick-td .datepick-div{display:table;width:100%;margin-bottom:10px; margin-left:7px;}
.datepick-td .datepick-div div{display:table-cell;text-align:left;}
.datepick-td .datepick-div input[type="text"]{width:55%;vertical-align:middle;border:solid 1px #ccc; padding:3px 5px; color:#666; font-size:13px;}
.datepick-td .datepick-div button{background:none;border:none;margin:0;vertical-align:middle;padding:0;cursor:pointer;}
.datepick-td .datepick-div button img{width:21px;vertical-align:middle;}
.datepick-td .service-table-select-div{display:table; width:100%;margin-left:7px;}
.datepick-td .service-table-select-div p{display:table-cell; text-align:left; width:78%; }
.datepick-td .service-table-select-div p select{height:24px; vertical-align:middle; width:96%;border:solid 1px #ccc; font-size:12px; color:#666;font-family:'나눔고딕', "NanumGothic", sans-serif;}
.datepick-td .service-table-select-div p input{height:20px;vertical-align:middle;padding:1px;width:92%;display:;border:solid 1px #ccc; padding-left:4px;font-size:12px; color:#666; font-family:'나눔고딕', "NanumGothic", sans-serif;}
.datepick-td .service-table-select-div p button{background:#1584d9;border:solid 1px #1f6498;height:px;vertical-align:middle;border-radius:3px;color:#eee;cursor:pointer; font-size:12px; padding:3px 7px;}
/* 봉사 탭메뉴 테이블 - 내용 */
.service-td{vertical-align:top;}
.service-table-content-div{padding:8px;background:#f0ebeb;border-radius:5px;position:relative;text-align:left;}
.service-table-content-div p{line-height:1.3;margin-top:3px;padding-right:23px;}
.service-table-content-div p:first-child{margin-top:0;}
.service-table-content-div label button{position:absolute;bottom:6px;right:8px;border:solid 1px #afafaf;border-radius:5px;background:#fff;cursor:pointer;color:#8b8b8b; padding:2px 5px;}
.list-table-contents table.service-table .border-l{border-left:solid 1px #e2e2e2; font-size:13px;}
.list-table-contents table.service-table .border-l-text-left{border-left:solid 1px #e2e2e2; font-size:13px; text-align:left;}
/* 봉사 탭메뉴 테이블 - 증빙서류 */
.service-table-up-td p{margin-top:10px; font-size:12px;}
.btn-service-popup{background:#ee5656; border:solid 1px #da2228; width:50px; height:25px;vertical-align:middle; border-radius:5px; color:#fff; cursor:pointer; font-size:12px; font-weight:500;}
.list-table-contents table.service-table .total_text{font-size:18px; background-color:#ecbbbb; color:#da2127;}
/* 증빙서류 등록 팝업 */
.wrap-popup{position:fixed;width:100%;height:100%;top:0;left:0;background:rgba(17, 17, 17, 0.55);z-index:1000;min-height:600px;}
.wrap-popup-nonebg{position:fixed;width:100%;height:100%;top:0;left:0;z-index:1000;min-height:600px;}
.popup-guide{width:521px;margin:0 auto;position:relative;padding:3px;border-radius:10px;background:#6f6f6f;box-shadow:0px 0px 11px #444;margin-top:70px;font-family:'나눔고딕', "NanumGothic", sans-serif;}
.popup-guide .popup-guide-header h2{background:#da2127;padding:8px;border-radius:10px 10px 0 0}
.popup-guide .popup-guide-header h2 img{width:100px;}
.popup-guide .popup-guide-header a{position:absolute;top:13px;right:16px;cursor:pointer;}
.popup-guide-content{background:#efefef;border-radius:0px 0px 10px 10px;padding:15px;line-height:1.3;}
.wrap-plan-popup .popup-guide-header h2{color:#fff;font-size:20px;text-align: center}
.wrap-plan-popup .popup-guide-header a{top:10px;color:#fff;font-size:20px;font-family:sans-serif;}

.popup-input-file-up-div{padding:10px 0;font-size:13px;}
.popup-input-file-up-div p.popup-fd-title{font-weight:600;margin-bottom:7px;}
.popup-input-file-up-div .popup-input-file-div{display:table;width:100%;margin-bottom:5px;}
.popup-input-file-up-div .popup-input-file-div p{display:table-cell;padding:0px 4px;text-align:center;line-height:1.3;}
.popup-input-file-up-div .popup-input-file-div p+p+p{width:100px;text-align:right;padding-right:0;}
.popup-input-file-up-div .popup-input-file-div p:first-child{background:#fff;border:solid 1px #a9a9a9;color:#555;}
.popup-input-file-up-div .popup-input-file-div p input[type="text"]{width:100%;vertical-align:middle;height:26px;text-indent:6px;}
.popup-input-file-up-div .popup-input-file-div p .btn-input-file-label{display:inline-block;padding:5px 0;width:100px;;text-align:center;background:#d85b5b;color:#fff;height:auto;vertical-align:middle;cursor:pointer;}
.popup-input-file-up-div .popup-input-file-div p .btn-input-file-label input[type="file"]{width:0;height:0;opacity:0;filter:alpha(opacity=0);}
.popup-input-file-up-div .popup-input-del-div{display:table;width:100%;margin-bottom:5px;border-bottom:solid 1px #aaa;}
.popup-input-file-up-div .popup-input-del-div p{display:table-cell;padding:6px 4px 6px;text-align:center;line-height:1.3;}
.popup-input-file-up-div .popup-input-del-div p+p+p{width:100px;text-align:right;padding-right:0;}
.popup-input-file-up-div .popup-input-del-div p:first-child{width:110px;}
.popup-input-file-up-div .popup-input-del-div p input[type="text"]{width:100%;vertical-align:middle;height:22px;background:none;border:none;}
.popup-input-file-up-div .popup-input-del-div p .btn-dle-file{display:inline-block;padding:5px 0;width:100px;;text-align:center;background:#7b7b7b;color:#fff;height:auto;vertical-align:middle;border:solid 1px #7b7b7b;cursor:pointer;}

/* 평가결과 - 예측평가결과 */
.contents-serach-btns-div .contents-btn-div{display:table-cell;text-align:right;}
.table-bottom-btns-div .contents-btn--bottom-div{display:inline-block;padding:0;position:absolute;left:0;}
.table-bottom-btns-div .contents-btn--bottom-div a{padding:0;display:inline-block;background:none;width:auto;border:none;}
.contents-serach-btns-div .contents-btn-div a{display:inline-block;vertical-align:middle;cursor:pointer;}
.contents-serach-btns-div .contents-btn-div a img{width:;}

/* 교육등록 */
#wrap .contents .date_not{margin:0 auto;width:100%; height:550px; background-color:#f5f5f5;border:1px solid #ddd; border-radius:20px; text-align:center;}
#wrap .contents .date_not img{padding-top:50px;}
#wrap .contents .date_not .date_memo_title{color:#666;font-size:25px;line-height:1.5;font-weight:600;padding:15px;display:inline-block;padding-top:20px;}
#wrap .contents .date_not .date_memo_text{color:#666; font-size:20px;}
#wrap .contents .date_not .red_bt{margin:0 auto;text-align:center;padding-top:60px;}
#wrap .contents .date_not .red_bt a{border-radius:10px;padding:15px 30px; display:inline-block; text-decoration:none; color:#fff; font-weight:500; font-size:15px;background-color:#e9575d; border:1px solid #d03238;}

.aside .contents-serach-btns-div{margin-bottom:15px;}
.contents-serach-btns-div p.contents-title-name,.contents-title-name-div p.contents-title-name{;width:auto;display:inline-block;font-size:20px;font-weight:600;color:#333;}
.contents-title-name-div p.contents-title-name{margin-bottom:15px;}
.contents-serach-btns-div p.contents-title-name span,.contents-title-name-div p.contents-title-name span{display:inline-block;padding:0 10px;}
.contents-title-name-div .regist-on{color:#111;font-size:19px;font-weight:600;margin-right:10px;}
.contents-title-name-div .regist-off{color:#0070b5;font-size:19px;font-weight:600;margin-right:10px;}
.contents-serach-btns-div p.contents-title-name span:first-child{border-right:solid 1px #ccc;padding-left:0;}
.contents-title-name-div p.contents-title-name span:first-child{border-right:solid 1px #ccc;padding-left:0;}
.aside .count-div p{display:table;width:100%;margin-bottom:12px;color:#666;font-size:14px;border-bottom:}
.aside .count-div p span{display:table-cell;}
.aside .count-div p span:first-child{width:46%;background-image:url(../images/icon_sq_l.png);background-repeat:no-repeat;padding-left:11px;background-position:left center;}
.aside .count-div p.stay span{color:#da2127}
.aside .count-div p.stay span:first-child{color:#666;font-weight:600;text-decoration:underline;background-image:url(../images/icon_sq.png);color:#0070b5}
.aside .count-div p.stay span .btn-stay-cnt,.aside .count-div p span .btn-done-cnt{text-decoration:none;color:#555;display:inline-block;padding:3px 6px;border:solid 1px #ccc;}
.aside .count-div p span a.active{background:#0070b5!important;color:#fff!important;}
.aside .list-pro{border-top:solid 1px #eee;padding-top:20px;}
.aside .list-pro li{margin-bottom:10px;}
.aside .list-pro li.view-all-pro{padding-left:10px;}
.aside .list-pro li.view-all-pro a{color:#da2127;border-bottom:solid 1px #da2127;padding-bottom:3px;background:none;padding:2px;font-size:16px;}
.aside .list-pro li.view-all-pro a:hover{color:#d10707;}
.aside .list-pro li.on a{color:#333;background-image:url(../images/icon_circle_chk.png);font-weight:600;}
.aside .list-pro li.on a span{border-bottom:solid 1px #666;}
.aside .list-pro li a{display:inline-block;text-decoration:none;color:#666;font-size:14px;background-image:url(../images/icon_circle.png);background-size:10px;background-repeat:no-repeat;background-position:left center;padding-left:15px;}
.aside .list-pro li a:hover{color:#333;}
.aside .list-pro li a span{display:inline-block;padding:0 1px 2px 6px;}
.aside .list-pro li a span:first-child{border-right:solid 1px #ccc;padding-left:0;padding-right:7px;}
.score-input-td input{width:50px;border:solid 1px #ccc;height:25px;text-align:center;background:none;}
.score-input-td select{height:29px;padding:1px 1px;border:solid 1px #ccc;font-size:13px;vertical-align:top;}
.service-table .total-score-tr td{font-size:18px;font-weight:600;background:#e86776;color:#fff;}

/* 교육 - 전체 확인 */
.regist-done,.regist-no{margin-bottom:29px;}
.regist-done .list-table-contents .service-table th{}
.regist-done .list-table-contents .service-table td{padding:5px 8px!important;}

/* 검수 - 연구 */
.co-tabs-table td.textarea-td{vertical-align:top;}
.co-tabs-table td.textarea-td textarea{min-height:15px;resize:none;background:none;border:solid 1px #ccc;font-family:'나눔고딕', "NanumGothic", sans-serif;border:none;overflow:auto;box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;width:100%;}
.co-tabs-table td.service-table-up-td a.btn-down{display:inline-block;background:#ee5656; border:solid 1px #da2228;width:50px;vertical-align:middle;border-radius:5px;color:#fff;padding:5px; cursor:pointer;font-size:12px;font-weight:500;}
.co-tabs-table td.service-table-up-td p{margin-bottom:4px;}
.guide-txt-table-div{line-height:1.4;font-size:13px;color:#666;margin-top:15px;}
.guide-txt-table-div p{margin-top:5px;}
.guide-txt-table-div .service-table{margin:10px 0;width:590px!important;border:solid 1px #ddd;}
.guide-txt-table-div .service-table th{background:#fafafa!important;font-size:14px!important;padding:4px;}

/* 검수 - 봉사 */
.tab-content-table-title{margin-top:30px;margin-bottom:10px;font-weight:600;color:#666;}
.tab-content-table-title:first-child{margin-top:0;}
.co-tabs-table td .service-table-content-div{font-size:12px;background:#fafafa;margin-bottom:5px;}

/* 이용자 삭제 팝업 */
.wrap-del-popup .popup-guide{width:340px;margin-top:13%;padding:1px;box-shadow:0px 0px 6px #555;}
.wrap-del-popup .popup-guide .popup-guide-header{color:#fff;}
.wrap-del-popup .popup-guide .popup-guide-header a{top:9px;}
.wrap-del-popup .popup-guide .popup-guide-header h2{text-align:center;}
.wrap-del-popup .popup-guide .popup-guide-content{text-align:center;padding-top:40px;background:#f5f5f5;}
.wrap-del-popup .popup-guide .popup-guide-content .popup-btns-div{margin-top:30px;}
.wrap-del-popup .popup-guide .popup-guide-content .popup-btns-div button{width:80px;background:#fefefe;border:solid 1px #aaa;padding:3px;border-radius:5px;color:#666;cursor:pointer;background:url(../images/bg_button.png);margin-left:10px;}
.popup-btns-div button:first-child{margin:0;}
.wrap-del-popup .popup-guide .popup-guide-content .popname{font-weight:600;}

/* 기간 삭제 팝업 & 평가 확정 취소 팝업 */
.wrap-rage-del-popup .popup-guide,.wrap-cons-cancel-popup .popup-guide{width:413px;margin-top:13%;padding:1px;box-shadow:0px 0px 6px #555;}
.wrap-rage-del-popup .popup-guide .popup-guide-header,.wrap-cons-cancel-popup .popup-guide .popup-guide-header{color:#fff;}
.wrap-rage-del-popup .popup-guide .popup-guide-header a,.wrap-cons-cancel-popup .popup-guide .popup-guide-header a{top:9px;}
.wrap-rage-del-popup .popup-guide .popup-guide-header h2,.wrap-cons-cancel-popup .popup-guide .popup-guide-header h2{text-align:center;}
.wrap-rage-del-popup .popup-guide .popup-guide-content,.wrap-cons-cancel-popup .popup-guide .popup-guide-content{padding-top:10px;background:#fafafa;}
.wrap-rage-del-popup .popup-guide .popup-guide-content h3,.wrap-cons-cancel-popup .popup-guide .popup-guide-content h3{font-weight:600;color:#333;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .popup-input-date-p{font-size:13px;margin:10px 0 0;padding-bottom:10px;border-bottom:solid 1px #ddd;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .popup-input-date-p label{display:inline-block;vertical-align:middle;font-weight:600;color:#666;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .popup-input-date-p input[type="text"]{height:20px;display:inline-block;vertical-align:middle;padding:2px 1px;width:110px;border:solid 1px #bbb;border-radius:5px;text-align:center;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .popup-input-date-p button{background:none;padding:0;border:none;display:inline-block;vertical-align:middle;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .popup-input-date-p button img{height:26px;display:inline-block;vertical-align:middle;cursor:pointer;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .search-re-btn-div,.wrap-cons-cancel-popup .popup-guide .popup-guide-content .search-re-btn-div{margin-top:10px;margin-bottom:10px;padding-bottom:10px;border-bottom:solid 1px #ddd;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .search-re-btn-div button,.wrap-cons-cancel-popup .popup-guide .popup-guide-content .search-re-btn-div button{border:solid 1px #ccc;font-size:13px;padding:4px 12px;background:#efefef;color:#666;cursor:pointer;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .search-re-btn-div p,.wrap-cons-cancel-popup .popup-guide .popup-guide-content .search-re-btn-div p{margin-top:5px;color:#666;font-size:13px;line-height:1.2}
.wrap-rage-del-popup .popup-guide .popup-guide-content .textarea-div textarea,.wrap-cons-cancel-popup .popup-guide .popup-guide-content .textarea-div textarea{box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;width:100%;resize:none;overflow:auto;padding:5px;border:solid 1px #ddd;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .popup-btns-div,.wrap-cons-cancel-popup .popup-guide .popup-guide-content .popup-btns-div{margin-top:30px;text-align:center;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .popup-btns-div button,.wrap-cons-cancel-popup .popup-guide .popup-guide-content .popup-btns-div button{min-width:80px;background:#fefefe;border:solid 1px #aaa;padding:3px 11px;border-radius:5px;color:#666;cursor:pointer;background:url(../images/bg_button.png);margin-left:10px;}
.wrap-rage-del-popup .popup-guide .popup-guide-content .popup-btns-div button:first-child,.wrap-cons-cancel-popup .popup-guide .popup-guide-content .popup-btns-div button:first-child{margin:0;}

/* 최종점수 현황 팝업 */
.wrap-final-score-popup .popup-guide{margin-top:1%;width:730px;-webkit-print-color-adjust:exact; }
.wrap-final-score-popup .popup-guide .popup-guide-header{color:#fff;}
.wrap-final-score-popup .popup-guide .popup-guide-header h2{padding:13px;text-align:center;font-size:18px;}
.wrap-final-score-popup .popup-guide .popup-guide-header a{font-size:24px;right:20px;}
.wrap-final-score-popup .popup-guide .popup-guide-header a.btn-print{right:60px;top:14px;}
.wrap-final-score-popup .popup-guide .popup-guide-header a.btn-print img{width:22px;}
.wrap-final-score-popup .popup-guide .popup-guide-content{border-radius:0;}
.wrap-final-score-popup .popup-guide .popup-guide-content .info-heading{padding-bottom:15px;}
.wrap-final-score-popup .popup-guide .popup-guide-content .info-heading ul{display:table;width:100%;}
.wrap-final-score-popup .popup-guide .popup-guide-content .info-heading ul li{display:table-cell;width:33.333%;color:#444;font-size:13px;font-weight:600;}
.wrap-final-score-popup .popup-guide .popup-guide-content .info-heading ul li+li{text-align:center;}
.wrap-final-score-popup .popup-guide .popup-guide-content .info-heading ul li+li+li{text-align:right;}
.wrap-final-score-popup .popup-guide .popup-guide-content .info-bottom{font-size:13px;color:#666;margin-top:10px;}
.wrap-final-score-popup .popup-guide .popup-paging-btns-div{border-radius:0 0 10px 10px;padding:8px 15px;background:#ddd;border-top:solid 1px #ccc;}
.wrap-final-score-popup .popup-guide .popup-paging-btns-div .paging-btns-ul{display:table;width:100%;}
.wrap-final-score-popup .popup-guide .popup-paging-btns-div .paging-btns-ul li{display:table-cell;font-size:13px;background-image:url(../images/bg_arrow_lt.png);background-size:19px 27px;background-repeat:no-repeat;padding-left:19px;}
.wrap-final-score-popup .popup-guide .popup-paging-btns-div .paging-btns-ul li a{display:inline-block;padding:7px 0;min-width:120px;background:#fafafa;text-align:center;text-decoration:none;color:#666;}
.wrap-final-score-popup .popup-guide .popup-paging-btns-div .paging-btns-ul li a:hover{color:#111;}
.wrap-final-score-popup .popup-guide .popup-paging-btns-div .paging-btns-ul li+li{text-align:center;background:none;padding:0;}
.wrap-final-score-popup .popup-guide .popup-paging-btns-div .paging-btns-ul li+li+li{text-align:right;padding-right:19px;background-image:url(../images/bg_arrow_rt.png);background-size:19px 27px;background-repeat:no-repeat;background-position:right center;}

/* 최종점수 현황팝업 - 점수 테이블 */
.scroll-table-div{max-height:500px;overflow:auto;}
.btn-info-link{display:inline-block;vertical-align:middle;font-size:13px;background:#fafafa;padding:5px 8px;border:solid 1px #ccc;color:#666;background-image:url(../images/bg_button.png);background-size:contain;cursor:pointer;position:absolute;right:76px;top:4px;}
.btn-info-link:hover{color:#111;border-color:#999;}
.popup-info-score-table{width:100%;border-top:solid 1px #ccc;position:relative;}
.popup-info-score-table td,.popup-info-score-table th{border-bottom:solid 1px #ccc;text-align:center;border:solid 1px #ccc;padding:8px;font-size:13px;color:#333;line-height:1.3}
.popup-info-score-table td:first-child,.popup-info-score-table th:first-child{}
.popup-info-score-table th{background:#f4e1e1;font-size:14px;}
.popup-info-score-table td{background:#fafafa;}
.popup-info-score-table tr.total-score-tr td{background:#e86776;color:#fff;font-weight:bold;}

/* 증빙서류 등록 팝업 */
.wrap-popup{position:fixed;width:100%;height:100%;top:0;left:0;background:rgba(17, 17, 17, 0.55);z-index:1000;min-height:600px;}
.popup-guide{width:521px;margin:0 auto;position:relative;padding:3px;border-radius:10px;background:#6f6f6f;box-shadow:0px 0px 11px #444;margin-top:70px;font-family:'나눔고딕', "NanumGothic", sans-serif;}
.popup-guide .popup-guide-header h2{background:#da2127;padding:15px 8px;border-radius:10px 10px 0 0;}
.popup-guide .popup-guide-header h2 img{width:100px;}
.popup-guide .popup-guide-header a{position:absolute;top:13px;right:16px;cursor:pointer;;}
.popup-guide-content{background:#efefef;border-radius:0px 0px 10px 10px;padding:15px 20px;}
.wrap-plan-popup .popup-guide-header h2{color:#fff;font-size:20px;text-align: center}
.wrap-plan-popup .popup-guide-header a{top:13px;color:#fff;font-size:25px;font-family:sans-serif;}

.popup-input-file-up-div{padding:15px 0;font-size:15px; color:#666;}
.popup-input-file-up-div p.popup-fd-title{font-weight:600;margin-bottom:7px;}
.popup-input-file-up-div p.popup-fd-title span.word-cut{display:inline-block;max-width:160px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align:text-bottom}
.popup-input-file-up-div .popup-input-file-div{display:table;width:100%;margin-bottom:5px;}
.popup-input-file-up-div .popup-input-file-div p{display:table-cell;padding:0px 4px;text-align:center;line-height:1.3;}
.popup-input-file-up-div .popup-input-file-div p+p+p{width:80px;text-align:right;padding-right:0;}
.popup-input-file-up-div .popup-input-file-div p:first-child{background:#fff;border:solid 1px #eaeaea;color:#555;font-size:13px;}
.popup-thesis .popup-input-file-up-div .popup-input-file-div p+p{padding-left:6px;padding-right:0;}
.popup-thesis .popup-input-file-up-div .popup-input-file-div p:first-child{padding:0;width:400px;}
.popup-input-file-up-div .popup-input-file-div p input[type="text"]{width:100%;vertical-align:middle;height:26px;text-indent:6px; border:solid 1px #eaeaea;color:#666;}
.popup-input-file-up-div .popup-input-file-div p .btn-input-file-label{display:inline-block;padding:0px 2px 5px 5px;width:70px;text-align:center;background:#f06767;color:#eee;height:auto;vertical-align:middle;cursor:pointer; font-size:13px;font-weight:bold;border:solid 1px #df5353;}
.popup-input-file-up-div .popup-input-file-div p .btn-input-file-label input[type="file"]{width:0;height:0;opacity:0;filter:alpha(opacity=0);}
.popup-input-file-up-div .btn-add-file{background:#fafafa;border:solid 1px #ccc;padding:4px 7px;color:#666;cursor:pointer;}
.popup-input-file-up-div .btn-add-file:hover{color:#333;border-color:#aaa;background:#fefefe;}

.popup-input-file-up-div .popup-input-del-div{display:table;width:100%;border-bottom:#ccc 1px solid;}
.popup-input-file-up-div .popup-input-del-div p{display:table-cell;padding:6px 4px 6px;text-align:center;line-height:1.3;}
.popup-input-file-up-div .popup-input-del-div p+p+p{width:100px;text-align:right;padding-right:0;}
.popup-input-file-up-div .popup-input-del-div p:first-child{width:110px;font-size:12px;}
.popup-input-file-up-div .popup-input-del-div p input[type="text"]{width:100%;vertical-align:middle;height:22px;background:none;border:none; color:#666;}
.popup-input-file-up-div .popup-input-del-div p .btn-dle-file{display:inline-block;padding:3px 0 5px 0px;width:80px;;text-align:center;background:#d8d8d8;color:#666;height:auto;vertical-align:middle;border:solid 1px #8d8d8d;cursor:pointer;}

.popup-input-file-up-div .btn-submit-div{text-align:center;padding:25px 0 0;}
.popup-input-file-up-div .btn-submit-div a{padding:8px 40px;border:solid 1px #d10707;color:#fff;background:#d83a3a;display:inline-block;cursor:pointer;}


/* 테이블 리스트 페이지넘버 */
.table-list-num{text-align:center;}
.table-list-num ul{display:table;width:auto;margin:30px auto 20px;}
.table-list-num ul li{display:table-cell;padding:0 5px;}
.table-list-num ul li a{display:inline-block;padding:6px 9px;text-decoration:none;color:#777;font-size:12px;border:solid 1px #ddd; font-weight:500;}
.table-list-num ul li.active a{background:#da2127;color:#fff;border-color:#da2127;}
.table-list-num ul li a.active{background:#da2127;color:#fff;border-color:#da2127;}


/* footer */
#footer{border-top:solid 1px #c6c6c6;width:100%;background:#dddddd;}
#footer .footer_con{margin:0 auto;width:1280px;height:50px;padding:30px 0;}
#footer .footer_address{background:url(../images/logo_g.png);background-position:left;background-repeat:no-repeat;padding-left:670px;}
#footer .footer_address p{font-size:12px;margin-bottom:3px;color:#555;}

/* 구버젼 경고창 */
.pop-up-ie7{position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(17, 17, 17, 0.55);z-index:1000;min-height:600px;}
.popup-ie7{width:400px;margin:15% auto 0;border:solid 1px #484848;background:#fefefe;box-shadow:0px 0px 11px #444;border-radius:10px;}
.popup-ie7 .popup-ie7-header p{float:left;padding:10px;background:#656565;border-bottom:solid 1px #414141;border-radius:0 8px 0 0}
.popup-ie7 .popup-ie7-header p:first-child{width:350px;font-size:18px;text-align:center;color:#fff;height:;padding:16px 0;border-radius:8px 0 0 0;}
.popup-ie7 .popup-ie7-header p button{width:30px;height:30px;background:#656565;border:none;color:#fff;border-radius:100%;}
.popup-ie7 .popup-ie7-content{clear:both;padding:15px;}
.popup-ie7 .popup-ie7-content p{line-height:160%;font-size:15px;}
.popup-ie7 .popup-ie7-button-div{text-align:center;padding:0 0 20px 0;}
.popup-ie7 .popup-ie7-button-div button{width:100px;height:35px;background:#fafafa;border:outset 1px #aaa;border-radius:5px;font-size:15px;color:#111;background:#eee;}

/* 달력선택 - month date picker */
.ui-state-disabled {cursor:default!important;}
.ui-icon {display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}
.ui-datepicker{width:auto;padding:5px;display:none;box-shadow:0px 5px 11px #adadad;font-size:14px;background:#fff;border:solid 1px #aaa;}
.ui-datepicker .ui-datepicker-header{position:relative;color:#666;margin-bottom:1px;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {position:absolute;width:30px;padding-top:5px;text-align:center;height:20px;cursor:pointer;color:#666;}
.ui-datepicker .ui-datepicker-prev{left:0px;}
.ui-datepicker .ui-datepicker-prev:hover{background:none;color:#000;}
.ui-datepicker .ui-datepicker-prev:before{content:"◀";}
.ui-datepicker .ui-datepicker-next{right:0px;}
.ui-datepicker .ui-datepicker-next:hover{background:none;color:#000;}
.ui-datepicker .ui-datepicker-next:before{content:"▶";}
.ui-datepicker .ui-datepicker-title{margin:0 30px;text-align:center;font-weight:600;}
.ui-datepicker .ui-datepicker-title select{font-size:14px;margin:1px 0;}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:45%;}
.ui-datepicker table{width:100%;border-collapse:collapse;margin:0 0 .4em;font-size:14px;}
.ui-datepicker th{padding:4px;text-align:center;font-weight:600;border:0;font-size:13px;color:#666;background:#e0e0e0;border:solid 1px #fff;}
.ui-datepicker td{border:0;padding:1px;}
.ui-datepicker td span,.ui-datepicker td a{display:block;padding:4px;text-align:right;text-decoration:none;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #d3d3d3;background:#efefef;color:#555555;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#555555;text-decoration:none;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{background:#f27533;font-weight:normal;color:#fff;}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited{color:#212121;text-decoration:none;}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #2089cb;background:#3eb0ed;color:#ffffff;}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#212121;text-decoration:none;}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{/*border: 1px solid #d3ca94;background: #fffef7;color: #6f6f6f;*/}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636;}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.6;filter:Alpha(Opacity=60);/* support: IE8 */font-weight:normal;}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);/* support: IE8 */background-image:none;}
.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35);/* support: IE8 - See #6059 */}

.total-sc{width:100%; display:block; margin-top:10px;}

p.list-table-contents-tit{width:100%; display:inline-block; color:#000; font-size:16px; margin-bottom:2px; height:30px; line-height:30px;}
p.list-table-contents-tit em{display:inline-block; color:#e13838; font-size:13px; margin-right:2px; float:left;}

.tatal-info-text{width:99%; display:block;padding-left:1%; font-size:16px; color:#dc232a;  position:relative; padding-top:12px; border-top:1px dashed #ddd;}
.tatal-info-text input[type="text"]{width:60px;vertical-align:middle; border:solid 1px #ccc; padding:3px 5px; color:#666; font-size:13px; margin:0 4px 2px 4px; text-align:center;}
a.btn-signup-ab{ position:absolute; right:0; padding:8px 40px; border:solid 1px #d10707;color:#fff;background:#d83a3a; top:10px; cursor:pointer;}

@media print {
    #wrap{display:none;}
}


/* s_업적 수정 팝업 */
.achievemodify{position:fixed;width:100%;height:100%;top:0;left:0;background:rgba(17, 17, 17, 0.55);z-index:1000;min-height:600px;}
.achievemodify .popup-guide{width:521px;margin:0 auto;position:relative;padding:3px;border-radius:10px;background:#6f6f6f;box-shadow:0px 0px 11px #444;margin-top:70px;font-family:'나눔고딕', "NanumGothic", sans-serif;}
.achievemodify .popup-guide .popup-guide-header h2{background:#da2127;padding:15px 8px;border-radius:10px 10px 0 0;}
.achievemodify .popup-guide .popup-guide-header h2 img{width:100px;}
.achievemodify .popup-guide .popup-guide-header a{position:absolute;top:13px;right:16px;cursor:pointer;;}
.achievemodify .popup_content{background:#efefef;border-radius:0px 0px 10px 10px;padding:15px 20px;}
.achievemodify .btn_wrap {display: table;text-align: center;width: 100%;height: auto;padding: 0;margin: 0 auto;}
.achievemodify .btn_wrap .btn01{text-align:center;padding:8px 40px;border:solid 1px #d10707;color:#fff;background:#d83a3a;display:inline-block;cursor:pointer;font-family:'나눔고딕', "NanumGothic", sans-serif;font-size: 14px;letter-spacing: 2px;}
.achievemodify .btn_wrap .btn02{text-align:center;padding:8px 40px;border:solid 1px #737373;color:#fff;background:#737373;display:inline-block;cursor:pointer;font-family:'나눔고딕', "NanumGothic", sans-serif;font-size: 14px;letter-spacing: 2px;}
.achievemodify .popup_content .formwrap{display: table;text-align: center;width: 100%;height: auto;padding: 0;margin: 0 auto;}
.achievemodify .popup_content .formwrap .datepick-div{display:table;width:100%;margin:10px auto; padding:0;font-size:12px;}
.achievemodify .popup_content .formwrap .datepick-div div{display:inline-block;text-align:left;margin: 0;padding: 0;float: left;}
.achievemodify .popup_content .formwrap div.tt{display:inline-block;font-size: 13px;width: 120px;height: 25px;line-height: 25px;background: #ffc1c2;margin: 0 10px 0 0;padding: 0;text-align: center;float: left;letter-spacing: 2px;}
.achievemodify .popup_content .formwrap .datepick-div input[type="text"]{width:130px;vertical-align:middle;border:solid 1px #ccc; padding:3px 5px; color:#555; font-size:13px;}
.achievemodify .popup_content .formwrap .service-table-select-div{display:table; width:100%;margin:0 0 10px 0;}
.achievemodify .popup_content .formwrap .service-table-select-div p{display:inline-block; text-align:left;  float: left;}
.achievemodify .popup_content .formwrap .service-table-select-div p select{height:25px; line-height:25px; vertical-align:middle; width:347px;border:solid 1px #ccc; font-size:13px; color:#666;font-family:'나눔고딕', "NanumGothic", sans-serif;float: left;}
.achievemodify .popup_content .formwrap .service-table-select-div p input{height:25px;vertical-align:middle;width:346px;border:solid 1px #ccc; font-size:13px; color:#555; font-family:'나눔고딕', "NanumGothic", sans-serif;float: right;box-sizing: border-box;padding: 0 0 0 4px;margin: 3px 4px 0 0;}
.achievemodify .popup_content .formwrap .service-table-select-div p.directInput{display:none;}
.achievemodify .popup_content .formwrap .service-table-select-div p.directInput.show{display:table-footer-group;width: 100%;}
.achievemodify .popup_content .formwrap .service-table-select-div button{background:#1584d9;border:solid 1px #1f6498;height:auto;vertical-align:middle;border-radius:3px;color:#eee;cursor:pointer; font-size:12px; padding:3px 7px;margin:0 0 0 7px;float: right;}
.achievemodify .popup_content .formwrap .service-table-select-div p input.ip01{display: inline-block !important;height:25px;vertical-align:middle;width:346px;border:solid 1px #ccc; font-size:13px; color:#555; font-family:'나눔고딕', "NanumGothic", sans-serif;float: right;box-sizing: border-box;padding: 0 0 0 4px;margin: 0 4px 0 0;}
.achievemodify .popup_content .formwrap .datepick-div button{background:none;border:none;margin:0;vertical-align:middle;padding:0;cursor:pointer;}
.achievemodify .popup_content .formwrap .datepick-div button img{width:21px;vertical-align:middle;}
/* e_업적 수정 팝업 */