﻿@charset "utf-8";
@import url(board.css); 
@import url(schedule.css); 

/* CSS Document */

/* Reset */
body,div, dl, dt, dd, ol, ul,li,h1,h2,h3,h4,form,fieldset,p,button,textarea{margin:0; padding:0}
body {-webkit-text-size-adjust: none; background-color:#fafafa;}
body,input,select,textarea, a {color:#000; font-family: dotum,'돋움',gulim,'굴림', Arial, sans-serif}
body, th, td{font-size:.95em;}
img,fieldset{border:0 none}
caption{display:none}
button, img, input, select, textarea{vertical-align:middle}
a {text-decoration:none;}
select{border:1px solid #ccc}
li{list-style:none;}
em{text-decoration:none; font-style:normal}

#wrap {width:100%; -webkit-font-smoothing: antialiased;}
#wrap table.schedule {width:100%; border-spacing:0; border-collapse:collapse; border-top:1px solid #aaa; font-weight:700; font-size:.9em;}
#wrap table.schedule tr th {background:url(../img/th_bg.png) bottom repeat-x #ebf4f6; border-bottom:1px solid #ccc; color:#4b4b4b; height:36px;} 
#wrap table.schedule tr td {background-color:#f6f6f6; border-bottom:1px solid #ccc; color:#888; text-align:center; line-height:18px; min-height:50px} 
#wrap table.schedule tr td.period {background:url(../img/period_bg.png) center no-repeat #f6f6f6; color:#fff;}
#wrap table.schedule tr td.subject {background-color:#f0f0f0; text-align:left; padding:20px;}
#wrap table.schedule tr th.bg {background-color:#d5ebf1;}
#wrap table.schedule tr td.bg {background-color:#f0f0f0;}
#wrap table.schedule tr td.line {border-top:1px solid #ccc;}