@charset "utf-8";

/*
 * File name : common.css
 * Version : 1.0(2013-02-26) YYYY-MM-DD
 * Website : http://
 * Author : LUJ
 * Modify : (YYYY-MM-DD)
 * Description: Layout, Main, Common style
 * Page Width : fixed
 * Structer : 
 * Naming rule : camelCase, number_(underscore)
 */

/* Reset */
body,div, dl, dt, dd, ol, ul, li, h1, h2,h3,h4,form,fieldset,p,button{margin:0; padding:0;}
body,input,select,textarea{color:#333; font-family:dotum,'돋움',gulim,'굴림','맑은 고딕', Helvetica,sans-serif; font-size:.75em; color:#555;}
img,fieldset{border:0 none;}
caption{display:none;}
button, input, select, textarea{vertical-align:middle;}
img{vertical-align:middle;}
*+html button{vertical-align:top; padding-top:2px !important;}/* ie7 */
/* *+html input{vertical-align:top; padding-top:2px !important;}/* ie7 */
*html button{vertical-align:top; padding-top:2px !important;}/* ie6 */
/* *html input{vertical-align:top; padding-top:2px !important;}/* ie6 */
button{border:none; cursor:pointer;}
select{font-size:1em; border:1px solid #ccc;}
input{font-size:1em; border:1px solid #ccc;}
input[type="checkbox"]{border:0;}
input[type="file"]{background:#fff; border:1px solid #ccc; margin:3px;}
input[type="radio"]{margin-top:-2px; margin-left:6px;}
input[type="text"]{margin:2px;}
input[type="password"]{margin:2px;}
label{cursor:pointer;}
textarea{overflow:auto; padding:5px; font-size:1em; margin:3px;}
ol, ul, li, dl, dt, dd{list-style:none outside;}
a, a:link, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
a:link    { font-family:굴림체,arial; color:#3f3f3f; text-decoration:none; }
a:active  { font-family:굴림체,arial; color:#FFFFFF; text-decoration:none; }
a:visited { font-family:굴림체,arial; color:#555555; text-decoration:none; }
/*a:hover   { font-family:굴림체,arial; color:#cc9900; text-decoration:underline; }*/
hr{display:none;}
em{text-decoration:none; font-style:normal; }
input.rd{margin-top:-2px; margin-right:2px;}
strong{color:#000; font-weight:700; text-decoration:underline;}
h1, h2, h3, h4, h5{margin:0; padding:0; background:none;}
html, body {height:100%;}

/* list */
#container {width:772px; margin:0 auto;}
#container table tr th {border-top:2px solid #444; border-bottom:1px solid #bdbdbd; background:#f1f1f1; padding:8px; font-size:1.2em;}
#container table tr td {border-bottom:1px solid #bdbdbd; padding:10px 14px; text-align:center; vertical-align:middle; color:#717e93;}
#container table tr td.date {font-size:0.9em; letter-spacing:1.2px; color:#a0a1a1;}
#container table tr td.class{font-size:1em; letter-spacing:1.2px; color:#0e2a4f;}
#container table tr td.start{letter-spacing:1.2px; color:#144ca2; font-weight:bold;}
#container table tr td.not{letter-spacing:1.2px; color:#9ba4ad;}
#container table tr td p.btn {letter-spacing:1.2px; color:#fff; font-weight:bold; background:#144ca2; padding:15px 0px; text-align:center;}
#container table tr td.view {text-align:left; line-height:16px; letter-spacing:1px; color:#696b6d;}
#container table tr td.test {text-align:left; line-height:16px; letter-spacing:1px; color:#4a5e77; font-size:1em; padding-left:18px; font-weight:bold;}
#container table tr td.f {text-align:left; line-height:16px; letter-spacing:1px; color:#4a5e77; font-size:1em; font-weight:bold;}
#container table tr td.view p.icon {float:right; color:#FFFFFF; background:#192da9; width:35px; text-align:center; padding:2px; font-size:0.7em; font-weight:bold;}

#container table tr.se td {border-bottom:1px solid #bdbdbd; padding:10px 14px; text-align:center; vertical-align:middle; color:#717e93; background:#f7f7f7;}
#container table tr.se td.date {font-size:0.9em; letter-spacing:1.2px; color:#a0a1a1;}
#container table tr.se td.class {font-size:1em; letter-spacing:1.2px; color:#0e2a4f;}
#container table tr.se td.start{letter-spacing:1.2px; color:#144ca2; font-weight:bold;}
#container table tr.se td.not{letter-spacing:1.2px; color:#9ba4ad;}
#container table tr.se td p.btn {letter-spacing:1.2px; color:#fff; font-weight:bold; background:#144ca2; padding:15px 0px; text-align:center;}
#container table tr.se td.view {text-align:left; line-height:16px; letter-spacing:1px; color:#696b6d;}
#container table tr.se td.test {text-align:left; line-height:16px; letter-spacing:1px; color:#4a5e77; font-size:1em; padding-left:18px; font-weight:bold;}
#container table tr.se td.view p.icon {float:right; color:#FFFFFF; background:#192da9; width:35px; text-align:center; padding:2px; font-size:0.7em; font-weight:bold;}

#container table tr.an td {border-bottom:1px solid #ddd; padding:20px 12px; text-align:center; line-height:15px; vertical-align:middle; color:#717e93; background:#f7f7f7;}
#container table tr.an td.img { text-align:right; vertical-align:text-top;}
#container table tr.an td.text {text-align:left; padding-left:0px;}

#container .page {text-align:center; margin-top:24px; font-weight:bold; color:#888;}
#container .page span {padding:10px;}
#container .page em {text-decoration:underline; color:#1930ba;}


/* fna */
#container_fna {width:692px; margin:0 auto;}
#container_fna table tr th {border-top:2px solid #444; border-bottom:1px solid #bdbdbd; background:#f1f1f1; padding:8px; font-size:1.2em;}
#container_fna table tr td {border-bottom:1px solid #bdbdbd; padding:10px 14px; text-align:center; vertical-align:middle; color:#717e93;}
#container_fna table tr td.date {font-size:0.9em; letter-spacing:1.2px; color:#a0a1a1;}
#container_fna table tr td.class{font-size:1em; letter-spacing:1.2px; color:#0e2a4f;}
#container_fna table tr td.start{letter-spacing:1.2px; color:#144ca2; text-decoration:underline; font-weight:bold;}
#container_fna table tr td.not{letter-spacing:1.2px; color:#9ba4ad;}
#container_fna table tr td p.btn {letter-spacing:1.2px; color:#fff; font-weight:bold; background:#144ca2; padding:15px 0px; text-align:center;}
#container_fna table tr td.view {text-align:left; line-height:16px; letter-spacing:1px; color:#696b6d;}
#container_fna table tr td.test {text-align:left; line-height:16px; letter-spacing:1px; color:#4a5e77; font-size:1em; padding-left:18px; font-weight:bold;}
#container_fna table tr td.f {text-align:left; line-height:16px; letter-spacing:1px; color:#4a5e77; font-size:1em; font-weight:bold;}
#container_fna table tr td.view p.icon {float:right; color:#FFFFFF; background:#192da9; width:35px; text-align:center; padding:2px; font-size:0.7em; font-weight:bold;}

#container_fna table tr.an td {border-bottom:1px solid #ddd; padding:20px 12px; text-align:center; line-height:15px; vertical-align:middle; color:#717e93; background:#f7f7f7;}
#container_fna table tr.an td.img { text-align:right; vertical-align:text-top; padding-top:12px;}
#container_fna table tr.an td.text {text-align:left; padding-left:0px;}

#container_fna .page {text-align:center; margin-top:24px; font-weight:bold; color:#888;}
#container_fna .page span {padding:10px;}
#container_fna .page em {text-decoration:underline; color:#1930ba;}
