@charset "utf-8";
/* CSS Document */

/*
 * File name : common.css
 * Version : 1.0(2014-03-) YYYY-MM-DD
 * Website : http://
 * Author : LUJ
 * Modify : (YYYY-MM-DD)
 * Description: Layout, Main, Common style
 * Page Width : fixed
 * Structer : 
 * Naming rule : camelCase, number_(underscore)
 */

/* Reset */
html {overflow-y:scroll;}
body,div, dl, dt, dd, ol, ul, li, h1, h2,h3,h4,form,fieldset,p,button {margin:0; padding:0;}
body,input,select,textarea{color:#333; font-family:dotum,'돋움',gulim,'굴림','맑은 고딕', Helvetica,sans-serif; font-size:.75em; color:#555;}
img,fieldset{border:0 none;}
caption{display:none;}
button, input, select, textarea{vertical-align:middle;}
*+html button{vertical-align:top; padding-top:2px !important;}/* ie7 */
/* *+html input{vertical-align:top; padding-top:2px !important;}/* ie7 */
/* *html button{vertical-align:top; padding-top:2px !important;}/* ie6 */
/* *html input{vertical-align:top; padding-top:2px !important;}/* ie6 */
button{border:none; cursor:pointer;}
select{font-size:1em; border:1px solid #ccc;}
input{font-size:1em; margin:0; padding:0;}
input[type="checkbox"]{border:0;}
input[type="file"]{background:#fff; border:1px solid #ccc; margin:3px;}
input[type="radio"]{margin-top:-2px;}
input[type="text"]{}
input[type="password"]{margin:2px;}
label{cursor:pointer;}
textarea{overflow:auto; margin:0; padding:10px; border:1px solid #ccc; font-size:1em;}
ol, ul, li, dl, dt, dd{list-style:none outside;}
/*a:hover   { font-family:굴림체,arial; color:#cc9900; text-decoration:underline; }*/
hr{display:none;}
em{text-decoration:none; font-style:normal;}
input.rd{margin-top:-2px; margin-right:2px;}
strong{color:#000; font-weight:700; text-decoration:underline;}
h1, h2, h3, h4, h5{margin:0; padding:0;}
html, body {height:100%;}
a, a:link, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
span a {color:#fff; text-decoration:none;}
.btn a {color:#fff; text-decoration:none;}
.line a {color:#fff; text-decoration:none;}
.sbtn a {color:#555; text-decoration:none;}
.page a {color:#555; text-decoration:none;}



/* main */
.main_top {width:900px; min-height:600px;}
.lf {width:100%; min-height:100%;}
	p.mtit{min-height:30px; color:#06296d; font-size:1.4em; font-weight:bold; line-height:30px;}
	p.mtit img{padding-bottom:2px;}
		
	.cal{width:; min-height:476px;}
	
	.cal .c_top{width:; min-height:73px; background:#fbfbfb;}
	
	.cal .c_top p.date{min-height:38px; border-top:3px solid #0964b3; text-align:center; font-size:2em; font-weight:bold; line-height:38px; color:#c2cbd3;}
	.cal .c_top p.date em{color:#01519a;}	
	.cal .c_top p.date img{padding-bottom:2px;}
	 
	.cal .c_top ul.day{min-height:30px ;border-bottom:1px solid #d6dee4; border-top:1px solid #d6dee4;display:table;width:100%;}
	.cal .c_top ul.day li {display:table-cell;width:79px; min-height:32px; text-align:center; line-height:32px; font-weight:800; color:#949699;}	
	.cal .c_top ul.day li.sun{color:#0778b3;}
	.cal .c_top ul.day li.sat{color:#6ba9ef;}
				
	.cal .c_date{width:; min-height:391px; margin-top:7px; border:1px solid #c7cdd3;}
	
	/* 달력 */	
	.cal .c_date table{width:;}	
	.cal .c_date table td{width:73px; height:78px; border-bottom:1px dotted #c9c9c9; border-right:1px dotted #c9c9c9; text-align:right; padding-right:5px;}	
	.cal .c_date table td.non{width:73px; height:78px; border-bottom:1px dotted #c9c9c9; border-right:1px dotted #c9c9c9; text-align:right; padding-right:5px; background:#f6f7fb;}			
	.cal .c_date table td.dt{width:74px; height:14px; border-right:1px dotted #c9c9c9;  border-bottom:0px; font-size:.9em; color:#aeb6ba; padding-left:5px; padding-top:5px; text-align:left; }		
	.cal .c_date table td.dt_on{width:74px; height:14px; border-right:1px dotted #c9c9c9;  border-bottom:0px; font-size:.7em; color:#aeb6ba; padding-left:5px; padding-top:5px; background:#0d6bd6; color:#fff; text-align:left; font-weight:bold;}			
	.cal .c_date table td.sp{width:79px; height:60px; border-bottom:1px dotted #c9c9c9; border-right:1px dotted #c9c9c9; }	
	.cal .c_date table td.sp_on{width:79px; height:60px; border-bottom:1px dotted #c9c9c9; border-right:1px dotted #c9c9c9; background:#0d6bd6; color:#fff; line-height:16px; font-size:1em;}
	.cal .c_date table td.sp_on span{text-decoration:underline; font-weight:800; font-size:.95em;}
		
	/* 마지막줄*/			
	.cal .c_date table th{width:78px; height:78px; border-right:1px dotted #c9c9c9; text-align:right; padding-right:5px;}
	.cal .c_date table th.non{width:73px; height:78px; border-right:1px dotted #c9c9c9; text-align:right; padding-right:5px; background:#f6f7fb;}				
	.cal .c_date table th.dt{width:74px; height:14px; border-right:1px dotted #c9c9c9; font-size:.9em; color:#aeb6ba; padding-left:5px; padding-top:5px; text-align:left; font-weight:normal;}
	
	.cal .c_date table th.dt_on{width:74px; height:14px; border-right:1px dotted #c9c9c9; font-size:1em; color:#aeb6ba; padding-left:5px; padding-top:5px; text-align:left; font-weight:normal;  background:#0d6bd6; color:#fff; text-align:left; font-weight:bold; font-size:.7em;}	
	.cal .c_date table th.sp{width:79px; height:60px; border-right:1px dotted #c9c9c9;}	
	.cal .c_date table th.sp_on{width:79px; height:60px; border-right:1px dotted #c9c9c9; background:#0d6bd6; color:#fff; line-height:16px; font-weight:normal; font-size:1em;}												
	.cal .c_date table th.sp_on span{text-decoration:underline; font-weight:800; font-size:0.95em;}
	/* //마지막줄*/
			
	/* //달력 */
	
	/* 달력팝업 */		
	.c_pop{width:300px; min-height:200px; background:#fff; position:absolute; z-index:300; top:200px; right:800px; border-top-right-radius:5em; border:1px solid #0e6ad7;}
	.c_pop p.close{ margin-top:20px; float:right; padding-right:22px;}
	.c_pop p.ddt{width:180px; min-height:20px; margin:20px 0 15px 10px; background:#e7ebf4; font-size:1.2em; line-height:25px; color:#00519b; font-weight:bold; text-align:center;}
	.c_pop p.sdt{width:250px; min-height:20px; margin:2px 0 0 10px; padding-left:14px; font-size:1m; line-height:20px; color:#8293ad; border-bottom:1px solid #dbdbdb;}
	.c_pop p.sdt span{padding-left:10px; font-weight:bold; font-size:1.1em; color:#194d87;}
	/* //달력팝업 */		
										
.rh {float:left; width:330px; height:506px; margin-left:16px;}
	.pc { width:330px;}
	.pc p.mtit{width:330px; min-height:30px;}
	
	.pc .dt{ width:330px; min-height:76px; margin-bottom:8px; text-align:right;}
	.pc .dt ul.tt{width:330px; min-height:38px; }
	.pc .dt ul.tt li.a{float:left; width:109px; min-height:38px; border-right:#4D609F 1px dotted; min-height:38px; text-align:center; background:#213d76; font-size:1em; color:#fff; line-height:38px;}
	.pc .dt ul.tt li.nn{float:left; width:110px; min-height:38px; min-height:38px; text-align:center; background:#213d76; font-size:1em; color:#fff; line-height:38px;}	
	.pc .dt ul.tt li em{font-size:.9em;}	
	
	.pc .dt ul.info{width:328px; min-height:38px; background:#fff; border:1px solid #d8d8da;}
	.pc .dt ul.info li.a{float:left; width:108px; min-height:38px; border-right:#4D609F 1px dotted; line-height:38px; text-decoration:underline; font-weight:bold; color:#0353a8;}
	.pc .dt ul.info li.nn{float:left; width:109px; min-height:38px; line-height:38px; text-decoration:underline; font-weight:bold; color:#0353a8;}	
	.pc .dt ul.info li span{padding-right:5px;}	

	.ed {float:left; width:330px; margin-top:15px;}
	.ed p.mtit{width:330px; min-height:30px; font-size:1.1em;}
	
	.ed .dt{width:330px; min-height:64px; margin-bottom:4px;}
	
	.ed .dt ul.da{width:330px; min-height:29px; border-top:1px solid #afb3b6; border-left:1px solid #afb3b6; border-right:1px solid #45484f; border-bottom:1px solid #45484f; text-align:center;}
	.ed .dt ul.da li{float:left; width:54px; min-height:31px; border-right:1px solid #999999; line-height:31px;}
	.ed .dt ul.da li.non{float:left; width:54px; min-height:31px; border-right:0px; line-height:31px;}	

	.ed .dt ul.num{width:330px; min-height:30px; border:1px solid #cfcfd1; border-top:0px; text-align:right;}
	.ed .dt ul.num li{float:left; width:49px; min-height:30px; border-right:1px solid #cfcfd1; line-height:30px; padding-right:5px;}
	.ed .dt ul.num li.non{float:left; width:49px; min-height:30px; border-right:0px; line-height:30px; padding-right:5px;}	

.main_step {width:1200px; min-height:400px; margin-top:40px;margin:0 auto;}
.main_step .step {width:900px; min-height:184px; margin-bottom:10px;}
.main_step .step ul li.m1{float:left; width:207px; min-height:178px; border:3px solid #dcddde; border-right:0px; background:url(../img/main/pl1.png) no-repeat bottom right;}
.main_step .step ul li.m1 p.st{padding:8px 14px; background:#003399; color:#FFFFFF; float:right; text-align:center; font-weight:bold;}
.main_step .step ul li.m1 p.s1{padding:55px 0 0 10px; font-size:1.5em; font-weight:bold; color:#0d509e;}
.main_step .step ul li.m1 p.s2{padding:5px 0 0 10px; font-size:1em; color:#9e9fa1;}

.main_step .step ul li.m2{float:left; width:213px; min-height:184px; background:#003399;}
.main_step .step ul li.m2 p.st{padding:8px 14px; color:#FFFFFF; float:right; text-align:center; font-weight:bold;}
.main_step .step ul li.m2 p.s1{padding:28px 0 0 15px; font-size:1.2em; color:#efefef;}
.main_step .step ul li.m2 p.s2{padding:5px 0 0 15px; font-size:1.2em; color:#efefef;}
.main_step .step ul li.m2 p a{color:#efefef;}
.main_step .step ul li.m2 p span{font-size:.75em;}
.main_step .step ul li.m2 p.et{padding:2px 0 0 22px; font-size:.95em; color:#9ac8fc; text-decoration:underline; font-weight:bold;}

.main_step .step ul li.m1.over{float:left; width:207px; min-height:178px; border:3px solid #003399; border-right:0px;}
.main_step .step ul li.m1.over p.st{padding:8px 14px; background:#003399; color:#FFFFFF; float:right; text-align:center; font-weight:bold;}
.main_step .step ul li.m1.over p.s1{padding:40px 0 0 10px; font-size:1em; color:#003399;}
.main_step .step ul li.m1.over p.s2{padding:5px 0 0 10px; font-size:1em; color:#003399;}
.main_step .step ul li.m1.over p.ss_un{padding:2px 0 0 14px; font-size:1em; color:#b0b1b2;}

.main_step .step ul li.no_ar{float:left; width:216px; min-height:178px; border:3px solid #dcddde; background:url(../img/main/pl1.png) no-repeat bottom right;}
.main_step .step ul li.no_ar p.st{padding:8px 14px; background:#003399; color:#FFFFFF; float:right; text-align:center; font-weight:bold;}
.main_step .step ul li.no_ar p.s1{padding:55px 0 0 10px; font-size:1.5em; font-weight:bold; color:#0d509e;}
.main_step .step ul li.no_ar p.s2{padding:5px 0 0 10px; font-size:1em; color:#9e9fa1;}

.main_step .step ul li.no_ar.over{float:left; width:216px; min-height:178px; border:3px solid #003399;}
.main_step .step ul li.no_ar.over p.st{padding:8px 14px; background:#003399; color:#FFFFFF; float:right; text-align:center; font-weight:bold;}
.main_step .step ul li.no_ar.over p.s1{padding:40px 0 0 10px; font-size:1em; color:#003399;}
.main_step .step ul li.no_ar.over p.s2{padding:5px 0 0 10px; font-size:1em; color:#003399;}

.main_step .step ul li.ar{float:left; width:14px; min-height:184px; padding-right:1px; background:url(../img/main/s_ar1.png) no-repeat; }
.main_step .step ul li.ar.on{float:left; width:14px; min-height:184px; padding-right:1px; background:url(../img/main/s_ar2.png) no-repeat; }
.main_step .step ul li.ar2{float:left; width:14px; min-height:184px; padding-right:1px; background:url(../img/main/s_ar3.png) no-repeat; }
/* //main */

/* sub */
.wrap {width:100%; min-height:100%; margin:0 auto;}

/* contents */
.contents {width:992px; margin:0 auto; padding:120px 0;}
.contents .nav {text-align:right; font-size:.9em; margin-bottom:20px; color:#888;}
.contents .nav.q {margin-bottom:0;}
.contents .nav em {background:url(../img/nav_ar.png) right no-repeat; padding-right:8px; padding-left:3px; text-decoration:underline; color:#000;}
.contents .nav a {color:#888; display:inline-block;}
.contents .snav {text-align:left; background-color:#f8f8f8; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; margin-bottom:40px; height:35px; line-height:35px; padding:0 20px;}
.contents .snav .snav_a {background:url(../img/snav_ar1.png) left no-repeat; padding-left:10px; padding-right:6px;}
.contents .snav .snav_b {background:url(../img/snav_ar2.png) left no-repeat; padding-left:10px; padding-right:6px; font-weight:700;}
.contents .snav a {color:#777; display:inline-block;}
.contents .snav .snav_b a {color:#000;}
.contents .snav img {vertical-align:middle; padding-right:12px; padding-left:5px;}

.contents .con_tit {margin-bottom:40px;}
.contents .search .search_tit {margin-bottom:10px; padding-left:7px; font-size:1.2em; color:#000;}
.contents .search .search_tit em {color:#aaa;}
.contents .search table {width:100%; border-top:1px solid #aaa; color:#333;}
.search table tr th {border-bottom:1px solid #ddd; text-align:left; padding-left:20px; font-weight:500; line-height:15px;}
.search table tr th em {font-size:.9em; color:#666;}
.search table tr td {padding:10px; border-bottom:1px solid #ddd; text-align:left;}
.search table tr td img {vertical-align:middle;}
.search table tr td input {height:20px; line-height:20px; border:1px solid #ddd; padding:0 5px;}
.search table tr td select {height:22px; line-height:22px; border:1px solid #ddd; color:#777; margin-right:5px;}
.search table tr td .y_m_d {width:85px; text-align:center;}
.search table tr td .id {width:90px;}
.search table tr td .intext {width:200px;}
.search table tr td .tel {width:60px; text-align:center;}
.search table tr .searchlast {border-bottom:1px solid #aaa;}
.search table tr th.on {font-weight:700;}
.search table tr td.on {background:url(../img/check2.png) left no-repeat;}
.search table tr td.on input {border:1px solid #00aeff;}

.search table tr td input.q_multi_tit {width:400px;}
.search table tr td input.q_multi_in {width:740px;}

.contents .regist table {width:100%; border-top:2px solid #333; color:#666;}
.regist table tr th {border-bottom:1px solid #ddd; text-align:left; padding-left:20px; color:#444;}
.regist table tr th em {color:#CC0000;}
.regist table tr td {padding:10px 0; border-bottom:1px solid #ddd; text-align:left;}
.regist table tr td input {height:38px; line-height:38px; border:1px solid #ddd; padding:0 5px;}
.regist table tr td .intext {width:300px;}
.regist table tr td .tel {width:80px;}
.regist table tr td .post {width:60px; height:20px; line-height:20px;}
.regist table tr td p.post_wrap {width:100%; line-height:20px; margin-bottom:3px;}
.regist table tr td .address {width:450px;}
.regist table tr .registlast {border-bottom:1px solid #333;}
.controls.on input {border:1px solid #e90000;}
.controls p {float:left; line-height:40px;}
.controls .error.on {margin-left:15px; padding-left:15px; color:#333; background:url(../img/icon1.png) no-repeat left center;}
.select {padding:5px 15px; background-color:#eee; border:1px solid #ccc; color:#444;}
.select.on {background:url(../img/check.png) 7px no-repeat #28428d; border:1px solid #283a7c; color:#fff; padding:5px 13px 5px 20px; font-weight:600;}

.exam_infor {margin-bottom:30px;}
.exam_infor h4 {margin-bottom:10px; padding-left:5px; color:#000; font-size:1.2em;}
.exam_infor .exam_infor_table {border:1px solid #b3cbda; padding:10px;}
.exam_infor table {width:100%;}
.exam_infor table tr th {padding:6px 0 6px 45px; text-align:left; color:#2769a7; font-weight:normal;}
.exam_infor table tr td {text-align:left; color:#b3cbda;}
.exam_infor table tr td em {padding-left:12px; color:#000;}

.dotline2 {border-bottom:1px dotted #666; margin:30px 0; width:100%;}

.contents .list {margin-top:40px;}
.contents .list.detail {margin-top:50px;}
.list .listtable {border-top:2px solid #333; border-bottom:1px solid #333; border-collapse:collapse;}
.list table tr th {border-bottom:1px solid #666; height:45px; line-height:45px;}
.list table tr td {border-bottom:1px dashed #ddd; padding:20px 5px; text-align:center;}
.list table tr td.left{border-bottom:1px dashed #ddd; padding:20px 10px; text-align:left;}
.list table tr .tdlast {border:none;}
.sbtn {background-color:#f3f4f4; border:1px solid #ccc; font-size:.9em; color:#555; padding:4px 12px; border-radius:0.3em;}
.list .page {margin-top:20px; word-spacing:1.5em; text-align:center;}
.list .page img {vertical-align:middle;}
.list .page b {color:#000; text-decoration:underline;}
.list tr.on {background-color:#f4f4f4;}
.list table tr td.notit {text-align:left; padding:15px 10px 0 10px; border-bottom:none;}
.list table tr td.notit h4 {color:#000; font-size:1.1em; background:url(../img/step/subject_icon.png) 12px no-repeat #f5f5f5; padding:6px 27px;}
.list table tr td.no_left {background:url(../img/ar_dot.png) 26px 20px no-repeat; text-align:left; padding-left:43px;}
.list table tr .nom_last {border-bottom:1px solid #333;}
.list table tr .nom_last.left {background:url(../img/ar_dot.png) 26px 20px no-repeat; text-align:left; padding-left:43px;}
.list table tr.th_array th {height:40px; line-height:40px;}
.list table tr.th_array th span {padding:5px 12px 5px 5px; background:url(../img/ar_down.png) right no-repeat;}

.list table tr td.sapn .q_exam_no { background-color:#ccc; color:#}

.list table tr td .photo {display:inline-block; width:185px; height:110px; background-color:#eee; border:1px solid #ccc; position:relative; z-index:0;}
.list table tr td .photo .m_play {display:inline-block; position:absolute; width:185px; height:110px; top:0; left:0;}
.list table tr td.multi_text {vertical-align:top; text-align:left;}
.list table tr td p {line-height:140%; margin-bottom:1px;}
.list table tr td .text_head {font-size:1.25em; font-weight:bold; color:#333; text-align:left;}
.list table tr td .text_detail {line-height:130%; margin-top:10px; text-align:left; color:#000;}
.list table tr td span.multi_th {display:inline-block; width:50px; padding-top:2px; line-height:130%; border:1px solid #ccc; background-color:#f6f6f6; font-size:.9em; margin-right:10px; text-align:center; color:#999; margin-top:3px;}
.list table tr td .text_key {display:inline-block; padding:2px 4px 0 4px; line-height:130%; background-color:#e4ecff; color:#4e68af;}
.list table tr td p.space {padding:2px;}

.list.scroll span {margin-bottom:4px; font-size:11px;}
.list.scroll table tr th {border-bottom:none;}
.plist_scroll {overflow-x:hidden; overflow:auto;}
.plist_scroll.a {height:488px;}
.plist_scroll.b {height:460px;}
.plist_scroll table {border-bottom:1px solid #333; border-top:none;}


/* sun */
.contents .test_step {width:990px; height:53px; border:1px solid #d1d1d1; background:url(../img/day_step_bg.png); margin-bottom:40px;}
.test_step ul {width:990px; height:53px;}
.test_step ul li {float:left; width:329px; height:43px; border-left:1px solid #d1d1d1; padding-top:10px;}
.test_step ul li span {font-size:1em; margin-left:8px; padding:1px 4px; background:#aaacb0; color:#fff; letter-spacing:1px;}
.test_step ul li p {text-align:center; font-weight:bold; line-height:20px; line-height:25px;}
.test_step ul li.on {float:left; width:329px; height:43px; background:#0084d4;}
.test_step ul li.on span {font-size:1em; margin-left:8px; padding:1px 4px; color:#fff; background:#0084d4; letter-spacing:1px; border:1px solid #47a6e0;}
.test_step ul li.on p {text-align:center; color:#fff; font-weight:bold; line-height:25px;}	

.contents .list table.listtable td span.check {padding:5px; text-align:center; border:1px solid #ccc; background-color:#f0f1f2; color:#888;}
.contents .list table.listtable td span.check_on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; border:1px solid #a40918; color:#fff;}
.contents .list table.listtable td span.ar_l {padding:3px 5px 1px 5px; border:1px solid #333; padding-right:8px; background:#fff; color:#171717; font-weight:bold;}
.contents .list table.listtable td span.ar_r {padding:3px 5px 1px 5px; border:1px solid #171717; padding-left:8px; background:#333; color:#fff; font-weight:bold;}

.contents .list p.sel {margin-top:25px; height:28px;}
.contents .list p.sel span.btn1 {display:inline-block; height:26px; line-height:26px; padding:0 15px; border:1px solid #171717; background:#333; color:#fff; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em; float:left; margin-right:3px;}
.contents .list p.sel span.btn2 {display:inline-block; height:26px; line-height:26px; padding:0 15px; border:1px solid #625f5f; background:#fff; color:#333; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em; float:left;}
.contents .list p.sel span.sel_box {float:right; display:inline-block; color:#000; font-weight:700;}
.contents .list p.sel span.sel_box select {border:1px solid #bdbdbd; color:#000; width:172px; padding:5px 10px; margin-left:4px;}
/* //sun */



.sbtn {background-color:#f3f4f4; border:1px solid #ccc; font-size:.9em; color:#555; padding:4px 12px; border-radius:0.3em;}
.list .page {margin-top:20px; word-spacing:1.5em; text-align:center;}
.list .page img {vertical-align:middle;}
.list .page b {color:#000; text-decoration:underline;}
.list tr.on {background-color:#f4f4f4;}

/* choi:문항 리스트 페이지 추가 */
.test_list .page {margin-top:20px; word-spacing:1.5em; text-align:center;}
.test_list .page img {vertical-align:middle;}
.test_list .page b {color:#000; text-decoration:underline;}


/* 사진업로드 */
.regist table tr td .pic {width:450px; height:155px;}
.regist table tr td .pic .add {float:left; width:111px; height:149px; background:#fff; border:1px solid #999; background:url(../img/pic2.jpg) no-repeat center;}
.regist table tr td .pic .btns {float:left; width:50px; height:155px;}
.regist table tr td .pic .btns ul {width:50px; height:143px; padding-top:52px; margin-left:10px;}
.regist table tr td .pic .btns ul li {float:left; text-align:center; font-size:3em; font-weight:bold; color:#fff;}
.regist table tr td .pic .btns ul li.pl {width:44px; height:41px; border:1px solid #024f9b; background:#0354a5; padding-top:3px;}
.regist table tr td .pic .btns ul li.m {width:44px; height:42px; border:1px solid #49acee; background:#5dbcfc; margin-top:5px; padding-top:2px;}
.regist table tr td .pic p.error {float:left; width:200px; height:10px; margin-left:30px; color:#333333; padding-top:139px;}
.bgSize { background-size: 100%}
/* //사진업로드 */

/* choi:파일업로드 */
.fileUpload {
    width: 121px;
    height: 149px;
    position: relative;
    overflow: hidden;
    background: ...;
}

.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
    font-size: 300px;
    height: 149px !important;
}

.fileUpload1 {
	float:right; 
	padding:0 20px; 
	background-color:#4c6172; 
	color:#fff; 
	text-align:center; 
	width:12%; 
	height:22px; 
	line-height:22px;
    /* width: 180px;
    height: 40px; */
    position: relative;
    overflow: hidden;
    background: ...;
}

.fileUpload1 input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
    font-size: 180px;
    height: 40px !important;
}

/* 2014.04.29_sun 추가 */
.list span.dbtn{background:#fff; padding:4px 8px; line-height:8px; color:#444; border:1px solid #ccc; border-radius:0.4em;}
.list span.dbtn img{vertical-align:middle; padding-right:3px;}
/* //2014.04.29_sun 추가*/

.g_scroll{width:100%; height:450px; overflow-x:hidden; overflow:auto;}
.g_scroll table.r_gr{width:100%; border:0px; border-bottom:1px dotted #999;}
.g_scroll table.r_gr tr th{border-top:2px solid #333; border-bottom:1px solid #333; text-align:left; padding-left:20px;}
.g_scroll table.r_gr tr td{padding:8px 5px; text-align:right; border-bottom:1px solid #737778;}
.g_scroll table.r_gr tr td.q{font-weight:bold; vertical-align:text-top; font-size:1.2em; font-weight:800; padding-right:5px;}
.g_scroll table.r_gr tr td.qt{text-align:left; vertical-align:text-top; color:#6d706e; padding:0px; font-size:1em; font-weight:500;}
.g_scroll table.r_gr tr td.ans {background:#f9f9f9;}
.g_scroll table.r_gr td.per{color:#000; font-weight:bold;}
.g_scroll table.r_gr.non tr td{order-bottom:0px;}

.g_scroll table.r_gr td.gr{ text-align:center;}

.g_scroll table.r_gr td.ex{text-align:left;}
.g_scroll table.r_gr td.ex p{padding-left:20px; height:15px;}
.g_scroll table.r_gr td.ex p span{float:left; width:8px; height:8px;}
.g_scroll table.r_gr td.ex p span.c1{background:#1d9fdb;}
.g_scroll table.r_gr td.ex p span.c2{background:#86d0ed;}
.g_scroll table.r_gr tr td.ex p span.c3{background:#c5e9f7;}
.g_scroll table.r_gr tr td.ex p span.c4{background:#1945ac;}
.g_scroll table.r_gr tr td.ex p span.c5{background:#3db7cc;}
.g_scroll table.r_gr tr td.ex p span.c6{background:#00d8fd;}
.g_scroll table.r_gr tr td.ex p span.c7{background:#5cd1e5;}
.g_scroll table.r_gr tr td.ex p span.c8{background:#b2ebf4;}
.g_scroll table.r_gr tr td.ex p span.c9{background:#003399;}
.g_scroll table.r_gr tr td.ex p span.c10{background:#0153ff;}
.g_scroll table.r_gr tr td.ex p span.c11{background:#4374da;}
.g_scroll table.r_gr tr td.ex p span.c12{background:#669aff;}
.g_scroll table.r_gr tr td.ex p span.c13{background:#7eaaff;}
.g_scroll table.r_gr tr td.ex p span.c14{background:#80c5fb;}
.g_scroll table.r_gr tr td.ex p span.c15{background:#b2ccff;}

.g_scroll table.r_gr tr td.ex p em{padding-left:10px; line-height:13px; color:#82858b;}

.g_scroll table.r_gr tr td.per{text-align:left; font-weight:normal; padding-right:20px;}
.g_scroll table.r_gr tr td.per table.pt{border:0px;}
.g_scroll table.r_gr tr td.per table.pt tr th{background:#f1f9fc; border-top:2px solid #77c2e3; border-bottom:1px solid #cad2e4;}
.g_scroll table.r_gr tr td.per table.pt  tr td{border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; color:#1d9fdb; font-weight:300;}
.g_scroll table.r_gr tr td.per table.pt  tr td.dv{border-left:0px solid #e1e1e1; text-align:left; background:#f1f9fc; color:#32352e; padding-left:20px;}
.g_scroll table.r_gr tr td.per table.pt  tr td.p{color:#0683bd; padding-left:20px; font-weight:700;}

/* 문항분석 막대그래프 */
.g_scroll table.r_gr tr td table.gr{float:left; width:100%; padding:0;}	 
.g_scroll table.r_gr tr td table.gr.non tr td{ border-bottom:none;}	
.g_scroll table.r_gr tr td table.gr tr td{padding:2px;}
.g_scroll table.r_gr tr td table.gr tr td span.ans{padding:13px 12px; color:#fff; background:#113184; letter-spacing:1px; margin-right:20px;}	
.g_scroll table.r_gr tr td table.gr tr td.num {font-size:11px; color:#999; text-align:center; font-weight:bold;}
.g_scroll table.r_gr tr td table.gr tr td.num.on {background:#c5e9f7; font-size: font-size:11px; color:#1d9fdb; text-align:center; font-weight:bold;}
.g_scroll table.r_gr tr td table.gr tr td.nums {font-size:11px; color:#23335d; text-align:left; margin-left:15px; padding-left:10px; font-weight:400; border-bottom:1px dotted #999; letter-spacing:1px;}
.g_scroll table.r_gr tr td table.gr tr td.nums.on{font-size:11px; color:#23335d; text-align:left; margin-left:15px; padding-left:10px; font-weight:400; letter-spacing:1px; border:1px dotted #77c2e2; color:#35728f; border-right:0px; background:#f1f9fc;}
.g_scroll table.r_gr tr td table.gr tr td.graph {width:100%; height:4px; border:0px; padding-left:10px;}
.g_scroll table.r_gr tr td table.gr tr td.graph_an {width:100%; height:4px; border:0px; padding-left:10px; background:#c5e9f7;}
.g_scroll table.r_gr tr td table.gr tr td.graph p{width:30%; height:10px; border-radius:.8em; background:#bde3f2; border:1px solid #abddf0;}
.g_scroll table.r_gr tr td table.gr tr td.graph_an p{width:76%; height:11px; border-radius:.8em; background-image:linear-gradient(60deg, #7bd0e9 0%,#7bd0e9 11%,#52caed 11%,#52caed 22%,#2dbae2 22%,#2dbae2 33%,#0ea1e6 33%,#0ea1e6 44%,#0e8de6 44%,#0e8de6 55%,#067dd0 55%,#067dd0 66%,#0660d0 66%,#0660d0 77%,#064dd0 77%,#064dd0 88%,#0642af 88%,#0642af 100%);}	
.g_scroll table.r_gr tr td table.gr tr td.graph_an p{float:left; width:66%; height:11px; border-radius:.8em; filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bd0e9', endColorstr='#0642af',GradientType=1 ); /* IE6-9 */}
.g_scroll table.r_gr tr td table.gr tr td.pe{text-align:center; color:#999; font-size:.9em; font-weight:900; padding-right:5px;}
.g_scroll table.r_gr tr td table.gr tr td.pes{text-align:right; color:#30352f; font-size:.9em; font-weight:200; border-bottom:1px dotted #999;}
.g_scroll table.r_gr tr td table.gr tr td.pes.on{text-align:right; border:1px dotted #77c2e2; color:#35728f; background:#f1f9fc; font-size:.9em; padding-right:2px; border-left:0px; font-weight:600;}
.g_scroll table.r_gr tr td table.gr tr td.pe_an{text-align:center; color:#1d9fdb; font-size:.9em; font-weight:900; text-decoration:underline; padding-right:5px; background:#c5e9f7;}

/* btn */
.btn {text-align:right; margin-top:10px;}
.btn img {vertical-align:middle; padding-right:5px;}
.btn .btn_search {display:inline-block; padding:9px 22px; background-color:#0066b3; color:#fff; font-weight:700; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em; overflow:hidden;}
.btn .btn_reset {display:inline-block; padding:9px 17px; background-color:#4c6172; color:#fff; font-weight:700; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em; overflow:hidden;}
.btn .btn_regist {display:inline-block; padding:9px 30px; background-color:#0066b3; color:#fff; font-weight:700; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em; overflow:hidden;}

.line {border-top:1px dashed #ccc; margin:0 0 8px 0; padding:30px 0 0 0;}
.btn_step {display:inline-block; padding:8px 22px; background-color:#ce2222; color:#fff; font-weight:700; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em;}
.btn_step img {vertical-align:middle; padding-right:8px;}
.btn_step a {color:#fff;}

						
			
/* copy */
.copy {width:100%; text-align: center; font-size:.9em; color:#909090; padding:10px 0; clear:both; border-top:1px solid #c8c8d0; letter-spacing:1px; background:#FFF; z-index:1}



/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl-carousel .owl-item{
	float: left;
}


/* XML입력 */
.xml_tit {margin-top:40px; padding-left:10px; color:#000; font-size:1.6em; background:url(../img/q_tit_icon.png) left no-repeat;}
.xml_tit em {letter-spacing:.15em;}
.xml_infor {margin:8px 0 40px 0; padding-left:10px;}

.up_btn_wrap {margin:0 auto 20px auto; text-align:right;}
.up_regist {display:inline-block; font-weight:700; padding:9px 50px; text-align:center; background-color:#0066b3; color:#fff; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em;}
.up_add {display:inline-block; width:798px; font-weight:700; padding:8px 0; margin-bottom:80px; text-align:center; border:1px solid #ccc; color:#4c6172;}

.p_dotline {border-bottom:1px dashed #ccc; margin-bottom:40px;}

.form_down {text-align:right; border:1px solid #ccc;}
.form_down .file_i {padding:15px 26px 10px 10px; overflow:hidden; background:url(../img/download_bg.png) left bottom no-repeat;}
.form_down .file_i li {display:inline; float:right; height:80px;}
.form_down .file_i li em {display:inline-block; margin-top:1px; font-size:.8em; color:#000; font-weight:700; padding-right:4px;}
.form_down .file_i li img {display:block; margin-left:10px;}
.form_down .file_i li a.i_over img {border-width:0; display:inline; width:68px;}
.form_down .file_i li a.i_over img.over {display:none; width:140px;}
.form_down .file_i li a.i_over:hover {border:0;}
.form_down .file_i li a.i_over:hover img {display:none;}
.form_down .file_i li a.i_over:hover img.over {display:inline;}
.form_down .file_t {padding:10px 26px 10px 10px; background-color:#f9f9f9; border-top:1px solid #eee; font-weight:700; color:#777;}
.form_down .file_t img {padding-right:8px; vertical-align:middle;}

.g_scroll{width:100%; height:540px; overflow-x:hidden; overflow:auto;}
.g_scroll table.r_gr{width:100%; border:0px; border-bottom:1px dotted #999;}
.g_scroll table.r_gr tr th{border-top:2px solid #333; border-bottom:1px solid #333; text-align:left; padding-left:20px;}
.g_scroll table.r_gr tr td{padding:8px 5px; text-align:right; border-bottom:1px solid #737778;}
.g_scroll table.r_gr tr td.q{font-weight:bold; vertical-align:text-top; font-size:1.2em; font-weight:800; padding-right:5px;}
.g_scroll table.r_gr tr td.qt{text-align:left; vertical-align:text-top; color:#6d706e; padding:0px; font-size:1em; font-weight:500;}
.g_scroll table.r_gr tr td.ans {background:#f9f9f9;}
.g_scroll table.r_gr td.per{color:#000; font-weight:bold;}
.g_scroll table.r_gr.non tr td{order-bottom:0px;}

.g_scroll table.r_gr td.gr{ text-align:center;}

.g_scroll table.r_gr td.ex{text-align:left;}
.g_scroll table.r_gr td.ex p{padding-left:20px; height:15px;}
.g_scroll table.r_gr td.ex p span{float:left; width:8px; height:8px;}
.g_scroll table.r_gr td.ex p span.c1{background:#1d9fdb;}
.g_scroll table.r_gr td.ex p span.c2{background:#86d0ed
;}
.g_scroll table.r_gr tr td.ex p span.c3{background:#c5e9f7;}
.g_scroll table.r_gr tr td.ex p span.c4{background:#1945ac;}
.g_scroll table.r_gr tr td.ex p span.c5{background:#3db7cc;}
.g_scroll table.r_gr tr td.ex p span.c6{background:#00d8fd;}
.g_scroll table.r_gr tr td.ex p span.c7{background:#5cd1e5;}
.g_scroll table.r_gr tr td.ex p span.c8{background:#b2ebf4;}
.g_scroll table.r_gr tr td.ex p span.c9{background:#003399;}
.g_scroll table.r_gr tr td.ex p span.c10{background:#0153ff;}
.g_scroll table.r_gr tr td.ex p span.c11{background:#4374da;}
.g_scroll table.r_gr tr td.ex p span.c12{background:#669aff;}
.g_scroll table.r_gr tr td.ex p span.c13{background:#7eaaff;}
.g_scroll table.r_gr tr td.ex p span.c14{background:#80c5fb;}
.g_scroll table.r_gr tr td.ex p span.c15{background:#b2ccff;}

.g_scroll table.r_gr tr td.ex p em{padding-left:10px; line-height:13px; color:#82858b;}

.g_scroll table.r_gr tr td.per{text-align:left; font-weight:normal; padding-right:20px;}
.g_scroll table.r_gr tr td.per table.pt{border:0px;}
.g_scroll table.r_gr tr td.per table.pt tr th{background:#f1f9fc; border-top:2px solid #77c2e3; border-bottom:1px solid #cad2e4;}
.g_scroll table.r_gr tr td.per table.pt  tr td{border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; color:#1d9fdb; font-weight:300;}
.g_scroll table.r_gr tr td.per table.pt  tr td.dv{border-left:0px solid #e1e1e1; text-align:left; background:#f1f9fc; color:#32352e; padding-left:20px;}
.g_scroll table.r_gr tr td.per table.pt  tr td.p{color:#0683bd; padding-left:20px; font-weight:700;}

/* 문항분석 막대그래프 */
.g_scroll table.r_gr tr td table.gr{float:left; width:100%; padding:0;}	 
.g_scroll table.r_gr tr td table.gr.non tr td{ border-bottom:none;}	
.g_scroll table.r_gr tr td table.gr tr td{padding:2px;}
.g_scroll table.r_gr tr td table.gr tr td span.ans{padding:13px 12px; color:#fff; background:#113184; letter-spacing:1px; margin-right:20px;}	
.g_scroll table.r_gr tr td table.gr tr td.num {font-size:11px; color:#999; text-align:center; font-weight:bold;}
.g_scroll table.r_gr tr td table.gr tr td.num.on {background:#c5e9f7; font-size: font-size:11px; color:#1d9fdb; text-align:center; font-weight:bold;}
.g_scroll table.r_gr tr td table.gr tr td.nums {font-size:11px; color:#23335d; text-align:left; margin-left:15px; padding-left:10px; font-weight:400; border-bottom:1px dotted #999; letter-spacing:1px;}
.g_scroll table.r_gr tr td table.gr tr td.nums.on{font-size:11px; color:#23335d; text-align:left; margin-left:15px; padding-left:10px; font-weight:400; letter-spacing:1px; border:1px dotted #77c2e2; color:#35728f; border-right:0px; background:#f1f9fc;}
.g_scroll table.r_gr tr td table.gr tr td.graph {width:100%; height:4px; border:0px; padding-left:10px;}
.g_scroll table.r_gr tr td table.gr tr td.graph_an {width:100%; height:4px; border:0px; padding-left:10px; background:#c5e9f7;}
.g_scroll table.r_gr tr td table.gr tr td.graph p{width:30%; height:10px; border-radius:.8em; background:#bde3f2; border:1px solid #abddf0;}
.g_scroll table.r_gr tr td table.gr tr td.graph_an p{width:76%; height:11px; border-radius:.8em; background-image:linear-gradient(60deg, #7bd0e9 0%,#7bd0e9 11%,#52caed 11%,#52caed 22%,#2dbae2 22%,#2dbae2 33%,#0ea1e6 33%,#0ea1e6 44%,#0e8de6 44%,#0e8de6 55%,#067dd0 55%,#067dd0 66%,#0660d0 66%,#0660d0 77%,#064dd0 77%,#064dd0 88%,#0642af 88%,#0642af 100%);}	
.g_scroll table.r_gr tr td table.gr tr td.graph_an p{float:left; width:66%; height:11px; border-radius:.8em; filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bd0e9', endColorstr='#0642af',GradientType=1 ); /* IE6-9 */}
.g_scroll table.r_gr tr td table.gr tr td.pe{text-align:center; color:#999; font-size:.9em; font-weight:900; padding-right:5px;}
.g_scroll table.r_gr tr td table.gr tr td.pes{text-align:right; color:#30352f; font-size:.9em; font-weight:200; border-bottom:1px dotted #999;}
.g_scroll table.r_gr tr td table.gr tr td.pes.on{text-align:right; border:1px dotted #77c2e2; color:#35728f; background:#f1f9fc; font-size:.9em; padding-right:2px; border-left:0px; font-weight:600;}
.g_scroll table.r_gr tr td table.gr tr td.pe_an{text-align:center; color:#1d9fdb; font-size:.9em; font-weight:900; text-decoration:underline; padding-right:5px; background:#c5e9f7;}



/* 2014.04.29_sun 추가 */
.list span.dbtn{background:#fff; padding:4px 8px; line-height:8px; color:#444; border:1px solid #ccc; border-radius:0.4em;}
.list span.dbtn img{vertical-align:middle; padding-right:3px;}
/* //2014.04.29_sun 추가*/


/* 2014.04.29_sun 원그래프*/
p.testm{font-size:1.4em; padding:20px 0; font-weight:bold;}

/* 공지사항 보기 */
.contents .notice_v{width:96%; min-height:100%; border-bottom:1px solid #dcdcdc; border-top:3px solid #000; background:#f7f7f7; padding:2% 2% 1% 2%;}
.contents .notice_v p.info{line-height:18px; letter-spacing:1px; font-size:1.2em; font-weight:bold;}
.contents .notice_v p.dt{text-align:right; font-size:1em; letter-spacing:1px; margin-top:15px;}
.contents .notice_v p.dt span{color:#10a7de; font-weight:bold;}

.contents .next{width:96%; min-height:100%; border-bottom:1px solid #dcdcdc; background:#f7f7f7; padding:2%; background:url(../img/step/ar_close.png) no-repeat right 10px center; font-weight:bold;}
.contents .next span{background:#2e2e2e; color:#FFF; padding:5px 10px; margin-right:10px; font-weight:normal;}
.contents .pre{width:96%; min-height:100%; border-bottom:1px solid #dcdcdc; background:#f7f7f7; padding:2%; background: url(../img/step/ar_down.png)no-repeat right 10px center; color:#8b9298;}
.contents .pre span{background:#e8e8e8; color:#666; padding:5px 10px; margin-right:10px; font-weight:normal;}
.contents .list_btn{text-align:center; margin-top:50px;}
.contents .list_btn span{padding:12px 50px; background:#113184; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; color:#fff;}

/* 자주묻는질문 검색 */
.contents .faq_s{width:96%; background:#fafafa; padding:2%; font-size:1.4em; font-weight:bold;}
.contents .faq_s em{color:#1b89be; padding-left:20px;}
.contents .faq_s input{width:55%; padding:1%; font-size:1.4em; font-weight:800; margin:0 10px; border-radius:0.2em; border:1px solid #d5d5d5;}
.contents .faq_s span{text-align:center; padding:13px 45px; background:#0063af; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; font-size:.9em; font-weight:bold; color:#fff;}

/* 자주묻는질문 리스트 */
.list p.bo_btn{width:100%; padding-bottom:10px;}
.list p.bo_btn span{background:#ce2222; padding:10px 20px; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em; color:#FFF; font-weight:bold;}

.list .f_list{width:100%;border-top:1px dotted #bfbfbf; }
.list .f_list ul{width:100%;}
.list .f_list ul li {width:100%; padding:2% 0; border-bottom:1px dotted #bfbfbf; font-size:1.2em; color:#000; font-weight:800;}
.list .f_list ul li p.ins{display:inline-block; padding-left:15px;}
.list .f_list ul li p.ins span.q_re{float:left; padding:9px 12px; background:#0354a5;  border-radius:0.2em;}
.list .f_list ul li p.ins span.q_no{float:left; padding:9px 12px; background:#b2b4b7;  border-radius:0.2em;}
.list .f_list ul li p.ins span.tt{float:right; padding:10px 0 0 10px; width:785px;}
.list .f_list ul li.on{width:100%; padding:2% 0; font-size:1.2em; color:#11a6e0; font-weight:800; background:#eef9fd;}
.list .f_list ul li.on p.ins span.q_re{float:left; padding:9px 12px; background:#11a6e0;  border-radius:0.2em;}
.list .f_list ul li.on p.ins span.q_no{float:left; padding:9px 12px; background:#11a6e0;  border-radius:0.2em;}
.list .f_list ul li.on p.ins span.p.ins span.tt{float:right; width:90%;}
.list .f_list ul li.on p.btn{text-align:right; font-size:.8em; margin-right:15px;}
.list .f_list ul li.on p.btn span {color:#fff; background:#0c65b8; padding:5px 18px; border:1px solid #0c65b8; border-radius:.2em;}
.list .f_list ul li p.btn{text-align:right; font-size:.8em; margin-right:15px;}
.list .f_list ul li p.btn span {color:#9c918b; background:#f3f5f4; padding:5px 18px; border:1px solid #ccc; border-radius:.2em;}

/* 자주묻는질문 상세보기*/

.contents .f_view{width:100%;}

.contents .f_view p.f_tt{width:96%; padding:2%; font-size:1.4em; color:#0354a5; font-weight:bold; background:#eef9fd; border-bottom:1px dotted #11a6e0; border-top:1px dotted #11a6e0;}
.contents .f_view p.f_tt span{padding:9px 12px; background:#0354a5;  border-radius:0.2em;}
.contents .f_view p.f_tt img{vertical-align:middle;}

.contents .f_view ul.an{width:100%; min-height:50px; padding:3% 0;}
.contents .f_view ul.an li{float:left;}
.contents .f_view ul.an li.ar{ width:6%; text-align:right;}
.contents .f_view ul.an li.ar span{padding:9px 12px; background:#FFF;  border-radius:0.2em; border:1px solid #11a6e0;}
.contents .f_view ul.an li.ar span img{vertical-align:middle;}
.contents .f_view ul.an li.an{width:89%; font-size:1.2em; line-height:20px; padding:0 1% 2% 2%;}

.contents .f_view ul.page{float:left; width:100%; border-bottom:1px dotted #aeaeae; border-top:5px solid #1657b0; word-spacing:0px;}
.contents .f_view ul.page li{float:left; width:96%; padding:2%; color:#a6abb0; font-size:1em; line-height:15px;}
.contents .f_view ul.page li.pr{width:46%; background:url(../img/faq_ar_l.png) no-repeat left 2px top 18px; text-align:left; color:#3b4851;}
.contents .f_view ul.page li.nx{width:46%; text-align:right; background:url(../img/faq_ar_r.png) no-repeat right top 18px; color:#3b4851;}

p.btn_list{float:left; width:100%; text-align:center; margin-top:50px;}
p.btn_list span{padding:12px 50px; background:#113184; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; color:#fff; }

/* 모니터링 테이블 2015.03.05수정 */
.contents p.re_btn{width:100%; margin-bottom:20px;}
.contents p.re_btn span{background:#ce2222; padding:10px 20px; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em; color:#FFF; font-weight:bold;}
.contents table.moni {width:100%; margin-bottom:15px;}
.contents table.moni tr th {border-top:2px solid #333; border-bottom:1px dotted #333; font-weight:800; text-align:center; padding:16px 0; color:#000;}
.contents table.moni tr.view_non th {border-bottom:0px;}
.contents table.moni tr.view_non.last th {border-bottom:1px solid #333;}
.contents table.moni tr th.tit {text-align:left; padding-left:15px;}
.contents table.moni tr th.tit span.num{color:#666;}
.contents table.moni tr th.tit img{vertical-align:middle;}
.contents table.moni tr th.btn_v{font-size:.95em; color:#bbb; text-align:right; padding-right:15px;}
.contents table.moni tr th span.close {display:inline-block; border-right:0px; border-bottom:0px; color:#888; border:1px solid #aaa; padding:0 10px; height:20px; line-height:20px; background:#ecedee; vertical-align:middle;}

.contents table.moni tr td.no {border-bottom:0px; font-weight:800; color:#666;}
.contents table.moni tr td.b_non {border-right:0px;}
.contents table.moni tr td span {color:#98bdce; font-weight:bold;}
.contents table.moni tr td.non {background:#e8ecf0; color:#84929d;}
.contents table.moni tr td.non span {color:#84929d;}
.contents table.moni tr td.non_on {background:#078fd5; color:#fff;}
.contents table.moni tr td.non_on img {vertical-align:text-top;}
.contents table.moni tr td.non_on span {color:#fff;}
.contents table.moni tr td.ra{font-size:.95em; border-bottom:0px; color:#1c67d7; font-weight:bold;}
.contents table.moni tr td.btn {font-size:.95em; border-bottom:0px; border-right:0px;}
.contents table.moni tr span.usb {border:1px solid #4c73ae; display:inline-block; padding:0 10px; height:20px; line-height:20px; border-radius:.2em; font-weight:bold; vertical-align:middle;}
.contents table.moni tr a span.usb {color:#4c73ae;}
.contents table.moni tr a:hover span.usb {color:#fff; background:#4c73ae;}


/* 텍스트글자*
.contents table.moni tr .btn p.ch{ border:1px solid #4c73ae; display:inline-block; width:65px; height:20px; line-height:23px; border-radius:.2em; font-weight:bold;}
.contents table.moni tr td.btn p.ch a{color:#2658a3;}
.contents table.moni tr td.btn p.ch a:HOVER {color:#2658a3; text-decoration:underline;}
.contents table.moni tr td.btn p.ch_on{display:inline-block; width:65px; height:20px; line-height:23px; border-radius:.2em; font-weight:bold; background:#0f58b3; color:#fff; border:1px solid #0f58b3;}
.contents table.moni tr td.btn p.ch_on a{color:#fff;}
.contents table.moni tr td.btn p.ch_on a:HOVER {color:#fff; text-decoration:underline;}
.contents table.moni tr td.btn p.ch_ed{display:inline-block; width:65px; height:20px; line-height:23px; border-radius:.2em; font-weight:bold; background:#4c5158; color:#fff; border:1px solid #383c41;}
.contents table.moni tr td.btn p.ch_ed a{color:#fff;}
.contents table.moni tr td.btn p.ch_ed a:HOVER {color:#fff; text-decoration:underline;}

.contents table.moni tr th.st{font-size:.95em; border-bottom:0px; color:#078cd9; font-weight:bold;}
.contents table.moni tr th.end{font-size:.95em; border-bottom:0px; color:#ce2222; text-decoration:line-through;}
/* 텍스트글자*/


.contents table.moni tr td {border-bottom:1px dotted #333; text-align:center; border-right:1px dotted #000; padding:5px 0; line-height:18px;}
.contents table.moni tr.mo td {border-right:1px dotted #000; border-bottom:0px;}
.contents table.moni tr.mo td.b_non {border-right:0px;}
.contents .page {margin-top:20px; word-spacing:1.5em; text-align:center;}
.contents .page img {vertical-align:middle;}
.contents .page b {color:#000; text-decoration:underline;}


/* 모니터링 업로드창 2015.03.05 */
.file_up {padding-bottom:10px; text-align:right;}
.file_up ul {overflow:hidden;}
.file_up ul li {float:right;}
.file_up .route {width:405px;}
.file_up .upload {}
.file_up .route input {border:1px solid #ccc; background-color:#fcfcfa; height:20px; line-height:20px; width:400px; vertical-align:middle;}
.file_up .loadbtn {padding:0 20px; height:22px; line-height:22px; background-color:#4c6172; color:#fff; font-size:1em; text-align:center; display:inline-block; vertical-align:middle;}
.file_up .volume {color:#888; font-size:.9em; text-align:right; margin-bottom:5px;}
.file_up .volume em {font-weight:bold;}

/* 모니터링 테이블 2015.03.05수정 끝 */
/** 14.05.19 Lee 추가 */
.subject_name {border:1px solid #bdbdbd; height:30px; line-height:30px; width:260px; padding:0 10px; color:#999;}
.btn_add {padding:10px 22px; background-color:#0066b3; color:#fff; font-weight:700; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em;}
.btn_esc {padding:10px 22px; background-color:#4b5d6b; color:#fff; font-weight:700; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em;}
.ssbtn {border:1px solid #ccc; background-color:#fff; font-size:.9em; color:#555; padding:4px 10px; border-radius:0.2em;}
.b_add_box {padding:0 0 10px 133px; text-align:left;}
.b_add {background-color:#eee; width:565px; border:none; padding:10px; margin-right:10px; color:#999;}
.c_add_box {padding:0 0 10px 176px; text-align:left;}
.c_add {background-color:#eee; width:522px; border:none; padding:10px; margin-right:10px; color:#999;}
.pop-layer {display:none; position: absolute; top: 50%; left: 50%; width: 550px; height:auto;  background-color:#fff; border: 5px solid #3571B5; z-index: 10;}   
.pop-layer .pop-container {padding: 20px 25px;} 
.pop-layer p.ctxt {color: #666; line-height: 25px;} 
.pop-layer .btn-r {width: 100%; margin:10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align:right;} 
a.cbtn {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #304a8a; background-color:#3f5a9d; font-size:13px; color:#fff; line-height:25px;}  
a.cbtn:hover {border: 1px solid #091940; background-color:#1f326a; color:#fff;}
.mediaView {border:1px solid #ccc; background-color:#eee; float:left; padding:5px 5px; margin:5px 5px 5px 5px }


/* choi: 프로그래스바 추가 */
#upload-wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background: #F5F5F5;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #AAA;
}

#progressbox {
	border: 1px solid #0099CC;
	padding: 1px; 
	position:relative;
	border-radius: 3px;
	margin: 10px;
	text-align:left;
	background-color: #FFFFFF;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #77E0FA;
	width:1%;
}
#statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	font-size:11px;
	line-height: 17px;
}

/*서버모니터링_20141020_sun 추가*/
.smoni .box {border:1px solid #ccc; background:#fff; margin-top:30px;}
.smoni .box td {padding:10px; color:#444; border-right:1px solid #ccc;}
.smoni .box td.ri {border:none;}
.smoni .box h3 {border:1px solid #777; color:#fff; background:#777; padding:6px 0; text-align:center; font-size:1.2em;}
.smoni .box .server {color:#000; padding:3px 0; text-align:center; margin-top:8px; line-height:18px; font-size:1.1em; background:url('../img/server_bg.png'); border:1px solid #888;}
.smoni .box .server strong {text-decoration:none;}
.intext {line-height:12px; margin-top:10px;text-align:left;}
.intext li {background:url('../img/dott.png') left top no-repeat; padding:0 0 10px 8px; line-height:14px;}
.intext li.sb {background:#eee; padding:5px; font-weight:800; line-height:18px;}
.intext li.sb p {display:block; padding:4px;}
.intext li.sb p.sbt {border-bottom:1px dotted #bbb;}
.intext li.sb p.sbn {text-align:right; color:#0e4085; font-weight:bold;}
.intext li.sb p.sbnn {text-align:right; color:#aaa;}
.intext span {font-weight:bold; text-decoration:underline;}


/* 2015.02.17 시험지생성 추가 */
.contents ul.type_tab {overflow:hidden; margin-top:10px; border-top:1px solid #ccc; padding:15px 0 0 0;}
.contents ul.type_tab li {float:left; width:10.53%; border:1px solid #0e4085; color:#0e4085; margin-right:4px; text-align:center; font-weight:800; height:30px; line-height:30px;}
.contents ul.type_tab li.on {color:#fff; background:#0e4085;}
.contents ul.type_tab li.type_add {background:#eee;}


.contents .tab_area {margin-top:40px;}
.contents .tab_area h3.type_no {color:#000; padding:7px; font-size:1.4em; letter-spacing:-0.05em;}
.contents .tab_area ul.tab {overflow:hidden; margin-bottom:55px;}
.contents .tab_area ul.tab li {float:left; width:49.5%;}
.contents .tab_area ul.tab li p.new {color:#999; border:1px solid #ccc; text-align:center; padding:8px 0; font-weight:700;}
.contents .tab_area ul.tab li.on p.new {background:#0e4085; color:#fff; border:1px solid #0e4085;}
.contents .tab_area ul.tab li p.tab_ar {height:4px;}
.contents .tab_area ul.tab li.on p.tab_ar {background:url(../img/tab_ar.png) top no-repeat;}

.contents .tab_area .auto_in {padding:0 30px;}
.contents .tab_area p.test_no {vertical-align:middle;}
.contents .tab_area p.test_no input { border:1px solid #000; padding:0 10px; width:75px; height:30px; line-height:30px; font-size:1.3em; background:#fafafa; font-weight:bold; margin:0 8px 0 15px; color:#000; text-align:center; vertical-align:middle;}
.contents .tab_area p.test_no b {font-size:1.2em; color:#000;}

.contents .tab_area table.cate {width:100%; margin-top:20px; border-collapse:collapse; border-spacing:0;}
.contents .tab_area table.cate tr th {color:#999; padding:8px 40px; border:1px solid #ccc;}
.contents .tab_area table.cate tr th.new_left {border-right:none;}
.contents .tab_area table.cate tr th.new_center {border-left:none;}

.contents .tab_area table.cate tr td {border-bottom:1px solid #ddd; height:40px; line-height:40px; padding:0 0; color:#000; font-weight:bold; font-size:1.2em;}
.contents .tab_area table.cate tr td.new_left {background:url(../img/cate_ar.png) 40px 10px no-repeat; padding:0 65px;}
.contents .tab_area table.cate tr td.new_center img {padding:0 7px;}

.contents .tab_area table.cate tr .new_left {text-align:left;}
.contents .tab_area table.cate tr .new_center {text-align:center;}

p.cate_add {padding:7px; border:1px solid #999; color:#666; font-weight:bold; text-align:center; margin-top:10px;}

p.no_total {background:#aeb0b7; padding:8px 25px; color:#fff; font-weight:bold; text-align:right; margin-top:20px; letter-spacing:0.1em;}
p.no_total em {display:inline-block; background:#7e818d; padding:4px 10px; border-radius:0.2em; margin-right:10px; vertical-align:middle; font-weight:normal;}

p.ex_random {padding:5px; font-weight:bold; font-size:1.1em; color:#000; margin-top:30px;}
p.ex_random span.new_ex {border:1px solid #5176af; color:#5176af; display:inline-block; padding:5px 30px; vertical-align:middle;}
p.ex_random span.new_ex.on {background:url(../img/n_ex_check.png) 20px 3px no-repeat #5176af; color:#fff;}

p.type_add {border:1px solid #0065b3; color:#0065b3; font-weight:bold; font-size:1.2em; text-align:center; padding:9px 0; margin-top:45px;}

p.n_dotline {border-bottom:1px dotted #666; margin:45px 0 15px 0; width:100%;}

p.new_right {text-align:right;}
p span.new_btn {display:inline-block; padding:10px 25px; vertical-align:middle; background:#0065b3; color:#fff; font-weight:bold; font-size:1.2em; text-align:center; border-top-right-radius:0.5em; border-bottom-left-radius:0.5em;}

p.b_dotline {border-bottom:1px dashed #000; margin:60px 0 15px 0; width:100%;}

table.type_in {width:100%; border-collapse:collapse; border-spacing:0;}
table.type_in tr td {padding:5px 0; color:#000;}
table.type_in tr td.type_name {font-weight:bold; text-align:center; font-size:1.2em;}
table.type_in tr td span.type_info {border:1px solid #999; padding:4px 10px; background:#eee; display:inline-block; width:88%; min-height:20px; line-height:20px; vertical-align:top;}
table.type_in tr td span.new_del {border:1px solid #999; color:#666; border-radius:0.2em; padding:4px 18px; display:inline-block; background:#fff; margin-left:5px; height:20px; line-height:20px; vertical-align:top; font-weight:bold; font-size:.9em;}



/* popup */
.type_layer {width:280px; height:100px; border:8px solid #233c8c; background:#fff; z-index:100px; padding:40px 20px;}
.type_layer ul.pop_sel {overflow:hidden;}
.type_layer ul.pop_sel li {float:left; width:47%; display:inline-block; border:1px solid #bbb; color:#999; text-align:center; font-weight:bold; padding:10px 0;}
.type_layer ul.pop_sel li.psel.a {margin-right:2.9%}
.type_layer ul.pop_sel li.on {border:1px solid #263c91; color:#263c91; background:url(../img/check2.png) 12px 6px no-repeat;}

p.pop_con {background:#263c91; color:#fff; font-weight:bold; margin-top:30px; text-align:center; font-size:1.2em; padding:8px 0;}

/* 문제등록 */
.contents ul.q_tab {overflow:hidden; margin-bottom:40px;}
.contents ul.q_tab li {float:left; width:33.3%;}
.contents ul.q_tab li p.new {color:#999; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center; padding:8px 0; font-weight:700;}
.contents ul.q_tab li p.new.first {border-left:1px solid #ccc;}
.contents ul.q_tab li.on p.new {background:#0065b3; color:#fff; border-top:1px solid #0065b3; border-bottom:1px solid #0065b3; border-right:1px solid #0065b3;}
.contents ul.q_tab li.on p.new.first {border-left:1px solid #0065b3;}
.contents ul.q_tab li p.tab_ar {height:4px;}
.contents ul.q_tab li.on p.tab_ar {background:url(../img/tab_ar.png) top no-repeat;}


.contents ul.q_layout {border-top:1px solid #ccc; padding:15px 0 10px 0; margin-top:10px; overflow:hidden;}
.contents ul.q_layout li {float:left; padding:0 10px; text-align:center;}
.contents ul.q_layout li.lay_ar {}
.contents ul.q_layout li.lay_ar img {vertical-align:middle; padding:8px 0;}
.contents ul.q_layout li p.lay_img {width:86px; height:69px;}
.contents ul.q_layout li p.lay_img.one {background:url(../img/layout_01.png) no-repeat;}
.contents ul.q_layout li.on p.lay_img.one {background:url(../img/layout_on01.png) no-repeat;}
.contents ul.q_layout a:hover li p.lay_img.one {background:url(../img/layout_hover01.png) no-repeat;}
.contents ul.q_layout li p.lay_img.two {background:url(../img/layout_02.png) no-repeat;}
.contents ul.q_layout li.on p.lay_img.two {background:url(../img/layout_on02.png) no-repeat;}
.contents ul.q_layout a:hover li p.lay_img.two {background:url(../img/layout_hover02.png) no-repeat;}
.contents ul.q_layout li p.lay_img.three {background:url(../img/layout_03.png) no-repeat;}
.contents ul.q_layout li.on p.lay_img.three {background:url(../img/layout_on03.png) no-repeat;}
.contents ul.q_layout a:hover li p.lay_img.three {background:url(../img/layout_hover03.png) no-repeat;}
.contents ul.q_layout li p.lay_img.four {background:url(../img/layout_04.png) no-repeat;}
.contents ul.q_layout li.on p.lay_img.four {background:url(../img/layout_on04.png) no-repeat;}
.contents ul.q_layout a:hover li p.lay_img.four {background:url(../img/layout_hover04.png) no-repeat;}
.contents ul.q_layout li p.lay_t {margin-top:5px; color:#999; font-weight:bold;}
.contents ul.q_layout li.on p.lay_t {color:#06377b;}


.q_area {width:990px; margin:0 auto; background:#eee; overflow:hidden;}


/* 문제등록_왼쪽 */
.q_area .qleft {float:left; width:730px; background:#eee; padding:30px;}

.qleft .q_tit {font-size:1.3em; color:#000; margin-bottom:5px;}
.qleft .qint textarea {border:1px solid #ccc; width:710px; height:80px;}
.qleft .int_info {margin:5px 0 35px 0; font-size:.9em; color:#999;}
.qleft .qmulti_up {overflow:hidden; margin-bottom:35px;}
.qleft .qmulti_up p {float:left; width:50%; overflow:hidden; margin-top:5px;}
.qleft .qmulti_up p.int_info2 {font-size:.9em; color:#999;}
.qleft .qmulti_up .qbtn_box {text-align:right;}
.qleft .qmulti_up .qbtn_box span.qbtn {border:1px solid #bbb; color:#666; background:#fff; padding:4px 6px; display:inline-block;}
.qleft .qmulti_up .qbtn_box span.qbtn.up {margin-right:2px;}

.qleft .check_info {font-weight:800; color:#666; margin-bottom:4px; font-size:1.1em; letter-spacing:-.05em; text-indent:60px;}
.qleft .qex {margin-bottom:4px;}
.qleft .qex span {border:1px solid #ccc; display:inline-block;height:55px; width:50px; text-align:center; background:#fff; vertical-align:middle; margin-right:5px;}
.qleft .qex .numb_list_sub{display:inline-block;height:39px;padding:8px 0;width:50px;text-align:center;font-size:33px;vertical-align:middle;background:#fff;border:solid 1px #ccc;}
.qleft .qex span.right_on {background:url(../img/check.png) center no-repeat #eff6fc;}
.qleft .qex textarea {border:1px solid #ccc; height:35px; width:533px; margin-right:5px;}
.qleft .qex_add {text-align:center; border:1px solid #aaa; padding:12px 0; background:#f3f3f3; font-weight:bold; font-size:1.2em; color:#000; margin-top:8px;}


/* 문제등록_오른쪽 */
.q_area .qright {float:left; width:200px; background:#ddd; min-height:980px;}

.q_area .qright dl {background:url(../img/q_r_line.png) bottom repeat-x; padding:30px 15px;}
.q_area .qright dl dt {font-weight:bold; color:#666; margin-bottom:4px; letter-spacing:0.15em;}
.q_area .qright dl dt span.icon {display:inline-block; background:#0b8feb; height:4px; width:4px; margin-right:6px; vertical-align:middle;}
.q_area .qright dl.cate dd.cate_space {margin-bottom:20px;}
.q_area .qright dl.cate dd select {border:1px solid #666; display:block; height:30px; width:168px;}

.q_area .qright dl.lay_level dd p {padding:3px 0; font-weight:700; line-height:15px;}
.q_area .qright dl.lay_level dd p span.checkbox {margin-right:8px;}
.q_area .qright dl.lay_level dd img {margin-right:2px;}

.qright dl dd p span.checkbox {border:1px solid #666; outline:1px solid #ccc; background:#fff; display:inline-block; height:13px; width:13px; vertical-align:top; margin-right:5px;}
.qright dl dd p span.checkbox.on {background:url(../img/check_s.png) left top no-repeat #f6f6f6;}

/* 배점 2015.03.03 수정 */
.q_area .qright dl.q_score {overflow:hidden;}
.q_area .qright dl.q_score dt {float:left; width:30%; vertical-align:middle; padding:8px 0;}
.q_area .qright dl.q_score dd {float:left; width:70%; text-align:right; vertical-align:middle;}
.q_area .qright dl.q_score dd input {border:1px solid #666; height:30px; line-height:30px; padding:0 10px; text-align:right; width:40px; vertical-align:middle; margin-right:4px;}

/* 문제등록 버튼 */
.qb_box {text-align:center; margin-top:25px;}
.qb_box span.b_regi { display:inline-block; padding:12px 24px; color:#fff; background:#0065b3; font-weight:bold; font-size:1.4em;}

/* re_password 비밀번호변경팝업*/

.re_password{width:350px; height:250px; border:2px solid #233c8c; background:#fff; z-index:100px;}
.re_password .re_title{width:100%; height:30px; background-color:#233c8c; padding-top:10px;}
.re_password .re_title .rere{width:325px; text-align:center;font-size:1.3em; color:#FFF; font-weight:bold; float:left;}
.re_password .re_title .xx{width:25px; float:right; font-size:1.3em; color:#FFF; font-weight:900;}
.re_password .re_messge{padding-top:15px; font-size:1.1em; text-align:center; color:#233c8c; font-weight:600; }
.re_password .re_table{width:320px; height:80px; padding-top:15px; margin:0 auto;}
.re_password .re_table table td{height:20px; margin:0 auto;}
.re_password .re_table table td input.A{text-align:left; width:140px; height:20px; background:#e3e2e7; border:1px solid #b1b1ae; padding-left:5px;}

.re_password .p_b{width:100%; height:50px; text-align:center; margin-top:40px; }
.re_password .p_b .pop_bt1{width:150px; padding:8px 0; background:#263c91; color:#fff; font-weight:bold; text-align:center; font-size:1.2em; display:inline-block;}
.re_password .p_b .pop_bt2{width:150px; padding:8px 0; background:#999; color:#fff; font-weight:bold; text-align:center; font-size:1.2em; display:inline-block; margin-left:20px;}

