/* 자리 배정 높이 조정 */
.examinee_wrap ul.an6 li { height:50px !important; }
.pop_hu { background:#ffffff; }

.pop_hu .pop_box.on { display:inline-block; width:20px; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:22px; font-weight:600; padding:3px 4px 2px 4px; margin-top:7px;}
.pop_hu .pop_ok { margin-left:0px !important; }

/*문제은행 문제 미리보기 문항줄기*/
.wrap .contents .test_list table tr .over .over_view .view_in .view_text1 {padding-bottom: 10px !important;}
.wrap .contents .test_list table tr .over .over_view .view_in .sstit {padding-bottom: 10px !important; padding-top: 10px !important;}

/* .list.scroll {overflow-x:hidden !important; overflow:auto !important;}
.list.scroll thead tr{position: absolute; display: block;background-color: #DEDEDE;width: 500px;height: 30px;}
.list.scroll thead th{width: 200px}
.list.scroll tbody{display: block !important; height: 30px !important;}
.list.scroll tbody tr{height: auto !important;}
.list.scroll tbody td{width: auto !important;} */

.wrap .contents .test_list table .trbg.on td .qtopb1 {background-color:#2f67a7 !important;}
.wrap .contents .test_list table .trbg.on td .qtopb2 {background-color:#2f67a7 !important;}
.wrap .contents .test_list table .trbg.on td span {display:inline-block; font-size:.95em; margin:0 0 5px 2px; padding:8px 10px; color:#fff;} 

.contents .tab_area table.cate tr .new_center input {text-align:center;}

/*응시자 체크버튼*/
.list .checkBt{text-align:center; font-size:14px; padding:10px; background-image:url(../img/form.png); background-repeat:no-repeat; background-position:center;}
.list .checkBt.on{text-align:center; font-size:14px; padding:10px; background-image:url(../img/form_on.png); background-repeat:no-repeat; background-position:center;}

.test_list .checkBt{text-align:center; font-size:14px; padding:10px; background-image:url(../img/form.png); background-repeat:no-repeat; background-position:center;}
.test_list .checkBt.on{text-align:center; font-size:14px; padding:10px; background-image:url(../img/form_on.png); background-repeat:no-repeat; background-position:center;}


/**/
/* 문제배정 미리보기 */
.exam_view2 {width:505px; height:750px; background:url(../img/exam_view_bg.jpg) top left no-repeat; margin:0; padding:0;}
.exam_view2 .qu_in {position:absolute; width:385px; height:490px; margin:110px 0 0 45px; padding:10px 15px 10px 0; overflow-y:scroll; overflow-x:hidden; line-height:130%;}
.exam_view2 .qu_in .level_wrap {text-align:right;}
.exam_view2 .qu_in .level_wrap .v_level {border:1px solid #000; padding:3px 5px; font-size:.9em; font-weight:700; color:#666;}
.exam_view2 .qu_in .level_wrap .v_level img {padding-right:1px; vertical-align:middle;}
.exam_view2 .qu_in .v_no {text-decoration:underline; font-size:1.2em; font-weight:700; margin-bottom:4px; color:#000;}
.exam_view2 .qu_in .v_q {font-size:1.1em;}
.exam_view2 .qu_in .pre_q {font-size:.9em; font-weight:700; color:#666; margin-top:2px; margin-bottom:10px;}
.exam_view2 .qu_in .v_img {height:200px; border:1px solid #ccc;}
.exam_view2 .qu_in .v_img_infor {text-align:right; margin-top:3px;}
.exam_view2 .qu_in table.v_example {margin-top:20px; font-size:1em; border-spacing:0; border-collapse:collapse; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.exam_view2 .qu_in .v_example tr th {width:12%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:14px 0; background:url(../img/v_ex_bg.png) center 7px no-repeat; vertical-align:text-top;}
.exam_view2 .qu_in .v_example tr td {width:88%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:8px 15px; background:url(../img/v_left_bg.png) left top no-repeat;}
.exam_view2 .qu_in .v_example tr.on th {border-top:1px solid #25a7e1; border-bottom:1px solid #25a7e1; background:url(../img/v_on.png) center 7px  no-repeat; color:#fff;}
.exam_view2 .qu_in .v_example tr.on td {border-top:1px solid #25a7e1; border-bottom:1px solid #25a7e1; background:url(../img/v_check.png) left top no-repeat; font-weight:700; color:#333;}

.essentialColor em{color:red!important;}

/* 2015.02.05 배정관리 왼쪽,오른쪽 리스트 길이 수정*/
.reHeight {height:750px!important;}
.reHeightWrap {height:820px!important;}
.displayT {display:table!important; width:100%!important;}
.displayTc {display:table-cell!important;}
.noMargin {margin-top:0!important;}
.reHeightCt {padding-top:370px!important;}


#loadingOverlay {
	display:none;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	opacity: 0.7;
	background-color: #000;
	z-index: 10000;
	text-align: center;
	background-image:url("../js/jquery/images/ajax-loader.gif");
	background-repeat:no-repeat;
	background-position:center;
}

.text_box img {vertical-align:top;}

.signAgree {line-height:30px; padding:0 10px; color:#e90000; text-align:left;}
.examRoomSaveBtn {background-color:#0065b3; color:#fff; height:134px; width:186px; line-height:34px; font-weight:700; font-size:1.1em; text-align:center; letter-spacing:0.3em; margin-top:10px; margin-left:90%; border-radius:0.2em;}
.examRoom_save_btn {width:86px!important;display:inline-block;}
.examRoom_save_btn .examRoom_mod_link {width:86px;display:block;color:#fff;}

.script_editor { position:relative; top:-50px; left:50px; }

.simple_Question_bottom_btns {padding-top:60px; text-align:right; padding-right:105px;}
.simple_Question_bottom_btns img {padding-right:5px;}

.s_allbtn { position:relative; top:-25px; right:10px; float:right; padding:2px 12px; }

/*문제배정 주관식 미리보기*/
.essay{width:350px; height:auto; margin:0 auto;}
.essay .essay_q{width:322px; height:25px;  font-size:1.2em; background-color:#ccc; color:#003366; display:inline-block; border-radius:5px 5px 0 0;  text-align:center; padding-top:10px;}
.essay .essay_memo{width:300px; height:100%; font-size:1.0em; padding:10px; border:1px dashed #ccc; display:inline-block; text-align:left;}


.wrap .contents .test_list table tr th{line-height:20px !important; padding:5px 0;}
.wrap .contents .test_list table tr th img.cate{padding:11px 0}
.qTitleCate{float:right; padding:0 63px 0 0;}

/* 복수정답 */
#questionList ul.marking {padding:5px; min-height:38px;}
#questionList .marking li {float:left; display:inline-block; width:12px; height:10px; padding:2px; margin:2px; background-color:#f1f1f1; border:1px solid #ccc; font-size:.9em; text-align:center; line-height:11px; color:#777; letter-spacing:-.05em;}
#questionList .marking li.on {background-color:#000; border:1px solid #000; color:#fff; font-weight:700;}
#questionList .marking li a {color:#777; display:inline-block;}
#questionList .marking li.on a {color:#fff; display:inline-block;}
#questionList .marking li {float:left; display:inline-block; width:370px !important; min-height:20px; padding:5px !important; margin:2px; background-color:#f1f1f1; border:1px solid #ccc; font-size:1em; text-align:left !important; line-height:20px !important; color:#777; letter-spacing:-.05em;}
#questionList .marking li.on2 {background-color:#25a7e1; border:1px solid #000; color:#fff; font-weight:700;}
#questionList .marking li.on3 {background-color:#a4a4a4; border:1px solid #000; color:#fff; font-weight:700; text-decoration:line-through;}


/* 문항카드 */
.inform .table table td.subtit,.preform .table table td.subtit {border:1px solid #a0a0a0; border-top:0px; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}

/* 자료제시 텍스트 */
#mediaList .text_box {background-image:url(../img/text_btn.gif); background-repeat:no-repeat; background-position:top left;}
#mediaList .text_box .cke {margin-left:54px;width:755px;}
#mediaList .text_box .text_close {position:absolute; right:72px; top:10px; width:21px; height:20px; z-index:1; text-align:center;}

#mediaList .upload_box .data_img {position:relative; top:-20px; left:40px; width:100px; height:70px;}

.wrap .contents .qList .inform .qtopb1 {display:inline-block; float:right; font-size:1.2em; margin:10px 0 5px 2px; padding:10px 15px; color:#fff; font-weight:bold; background-color:#e90000 !important;}
#questionRAddDiv {display:none;}
.b_add_answer_box {background-image:url(../img/step/category.png); background-repeat:no-repeat; background-position:left 10px center; padding:0 0 10px 0px; text-align:left;}
.c_add_answer {width:700px; border:none; padding:10px; margin-right:20px;}
.c_add_alt_answer {width:650px; border:none; padding:10px; margin:0 23px 0 50px;}
#answerTextDiv {display:none;}

/* 미리보기 이전,다음 버튼 */
.pop_top .prev_bt{width:65px; height:20px; background-color:#0b5fbe; border:solid 1px #FFF; font-size:0.7em; color:#FFF !important; float:left; padding-top:5px; margin-right:20px; margin-left:30px; text-align:center;}
.pop_top .next_bt{width:65px; height:20px; background-color:#0b5fbe; border:solid 1px #FFF; font-size:0.7em; color:#FFF !important; float:right; padding-top:5px; margin-right:20px; text-align:center;}

#questionForm #headerTextDiv {height:0px; overflow:hidden;}
#questionForm #headerTextDiv .text_close {position:relative; left:820px; top:-260px; width:21px; height:20px; z-index:1; text-align:center;}

/* 채점 점수입력 */
.scoreDirectInput {float:left; width:190px; margin-top:1px;}
.scoreDirectInput li {float:none !important; width:30px !important;}
.scoreDirectInput input {width:50px;}

#questionPreviewList .rightAnswerOn {background-image:url(../img/check_s.png); background-repeat:no-repeat; background-position:left 10px top 10px;}


/*시험지 생성 완료 시 버튼 색상 변경*/
p span.new_btn.on {display:inline-block; padding:10px 25px; vertical-align:middle; background:#ce2222; color:#fff; font-weight:bold; font-size:1.2em; text-align:center; border-top-right-radius:0.5em; border-bottom-left-radius:0.5em;}

/* 출제자 현황 목록 하단 합계 */
.list .listtable.bottom {border-top:0px;}

/* 문제 필수 항목 표시 */
.inform .table table td span.input_require { font-size:13px; padding-left:0px; color:#e90000; }
.wrap .contents .con .qList h3.input_require { color:#e90000; }