@charset "utf-8";

/*
 * File name : common.css
 * Version : 1.0(2013-02-26) YYYY-MM-DD
 * Website : http://
 * Author : LUJ
 * Modify : (YYYY-MM-DD)
 * Description: Layout, Main, Common style
 * Page Width : fixed
 * Structer : 
 * Naming rule : camelCase, number_(underscore)
 */

 @font-face {
    font-family: DS-Digital;
    src:local(※), url(../font/DS-DIGIB.TTF) format("truetype");
}

/* Reset */
body,div, dl, dt, dd, ol, ul, li, h1, h2,h3,h4,form,fieldset,p,button{margin:0; padding:0;}
body,input,select,textarea{color:#333; font-family:dotum,'돋움',gulim,'굴림','맑은 고딕', Helvetica,sans-serif; font-size:.75em;}
img,fieldset{border:0 none;}
caption{display:none;}
button, input, select, textarea{vertical-align:middle;}
img{vertical-align:middle;}
*+html button{vertical-align:top; padding-top:2px !important;}/* ie7 */
/* *+html input{vertical-align:top; padding-top:2px !important;}/* ie7 */
*html button{vertical-align:top; padding-top:2px !important;}/* ie6 */
/* *html input{vertical-align:top; padding-top:2px !important;}/* ie6 */
button{border:none; cursor:pointer;}
select{font-size:1em;}
input{font-size:1em; border:1px solid #c3c3c3;}
input[type="checkbox"]{margin-right:2px;}
input[type="file"]{background:#fff; border:1px solid #ccc; margin:3px;}
input[type="radio"]{margin-top:-2px; margin-left:6px;}
input[type="text"]{margin:2px;}
input[type="password"]{margin:2px;}
label{cursor:pointer;}
select{border:1px solid #c3c3c3;}
textarea{overflow:auto; padding:5px; font-size:1em; margin:3px;}
ol, ul, li, dl, dt, dd{list-style:none outside;}
a, a:link, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
a:link    { font-family:굴림체,arial; color:#3f3f3f; text-decoration:none; }
a:active  { font-family:굴림체,arial; color:#FFFFFF; text-decoration:none; }
a:visited { font-family:굴림체,arial; color:#555555; text-decoration:none; }
/*a:hover   { font-family:굴림체,arial; color:#cc9900; text-decoration:underline; }*/
hr{display:none;}
em{text-decoration:none; font-style:normal; }
input.rd{margin-top:-2px; margin-right:2px;}
strong{color:#000; font-weight:700;}
h1, h2, h3, h4, h5{margin:0; padding:0; background:none;}
html, body {height:100%; overflow:auto;}


/* login_page */
/* header */
#header {width:100%; height:70px; border-top:3px solid #25a7e1; border-bottom:1px solid #ddd; background-color:#f9f9f9; margin:0 auto;}
#header img {padding:12px;}


/* login */
#login {width:700px; min-height:500px; margin:120px auto 0 auto;}
#login .tit {padding-bottom:7px;}
#login .login_infor {color:#666; padding-bottom:15px;}
#login .login_in {border-bottom:1px solid #4e70d1; border-top:1px solid #4e70d1; padding:40px 55px; height:110px;}
#login .login_in ul li {float:left;}
#login .login_in ul .in1 {width:450px;}
#login .login_in ul .in1 dl { vertical-align:m}
#login .login_in ul .in1 dl dt {float:left; width:140px; line-height:28px; font-size:1.2em; font-weight:700; color:#666;} 
#login .login_in ul .in1 dl dd {float:left; width:310px;}
#login .login_in ul .in1 dl dd input {border:1px solid #ccc; width:276px; height:28px; margin:0 10px; line-height:28px; padding:0 6px; color:#666;}
#login .login_in ul .in1 dl .in1_2 {margin:3px 0;}
#login .login_in ul .in1 dl dt.on {background:url(../img/ibt/ibt_check.png) center right no-repeat;}
#login .login_in ul .in1 dl dd.on input {border:1px solid #1595d4; background-color:#eee; color:#000;}

#login .login_in ul .in2 {width:140px; text-align:right;}
#login .login_in ul .in2 input {border:none;}



/* footer */
.footer {width:100%; left:0px; bottom:0px; text-align: center; font-size:.9em; color:#909090; padding:10px 0; clear:both; border-top:1px solid #c8c8d0; position:fixed; letter-spacing:.05em; background:#FFF; z-index:2} 
.footer em {color:#5d7c9c; font-style:normal;}



/* wrap */
#wrap {width:100%;; height:100%; margin:0 auto;}


/* left */
#wrap .left {float:left; width:88%; height:100%; overflow:auto; background-color:#e0e0e0;}
#wrap .left .leftwidth {width:800px; height:100%; margin:0 auto; background:url(../img/ibt/top_bg.png) repeat-x #fff;}

/* top */
#wrap .left .top {}
#wrap .left .top ul {height:39px;}
#wrap .left .top ul li {float:left; color:#ccc; font-weight:700; font-size:1.1em;}
#wrap .left .top ul li.no {background-color:#393939; border-radius:3em; margin:6px 175px 6px 10px; padding:0 20px; line-height:27px; height:27px;}
#wrap .left .top ul li.no em {color:#fff;}
#wrap .left .top ul li.nomal {height:39px; line-height:39px; text-align:right;}
#wrap .left .top ul li input {color:#fff; text-align:left; font-weight:700;}
#wrap .left .top ul li .topq {width:40px; border:none; background-color:#515151;}
#wrap .left .top ul li.qleft {margin-right:30px; margin-left:10px;}
#wrap .left .top ul li.qleft input {color:#00abff; background:url(../img/ibt/ibt_check.png) left top no-repeat; text-align:center;}
#wrap .left .top ul li.time input {width:110px; border:none; background-color:#515151; font-family:DS-Digital; font-size:2.1em;}
#wrap .left .top ul li.time img {padding-right:5px; vertical-align:middle;}
#wrap .left .top h2 {height:50px; line-height:50px; text-align:center; font-size:2em;}

/* view */
#wrap .left .view {padding:50px 100px; margin:0 auto; background-color:#fff;}
#wrap .left .view .no {font-weight:bold; font-size:1.5em; padding-left:2px;}
#wrap .left .view .q {font-size:1.2em; padding-top:5px; padding-bottom:20px; color:#444; line-height:20px;}
#wrap .left .view .play { margin-bottom:15px;}

#wrap .left .view .answer {text-align:left;display:none;}
#wrap .left .view .answer img {padding:2px 4px;}
#wrap .left .view .answer textarea {width:565px; height:150px; border:1px solid #ccc;}

#wrap .left .view ul .ex {color:#000000; line-height:50px; padding:0 20px; border-bottom:1px solid #d3d5d7; font-size:1.5em; font-family:"나눔고딕";}
#wrap .left .view ul .ex em {border:1px solid #0972cc; color:#0972cc; padding:8px 10px; margin-right:18px; font-weight:700;}
#wrap .left .view ul li.on {color:#0972cc; font-weight:600; background:url(../img/ibt/on.png) 60px center no-repeat #f3faff;}
#wrap .left .view ul li.on em {color:#fff; background-color:#0972cc;}

/* left_bottom */
#wrap .left .left_bottom {text-align:center; background-color:#fff; padding:0 50px 80px 50px;}
#wrap .left .left_bottom .end {text-align:right; padding:0 5px 5px 0;}
#wrap .left .left_bottom .btn {margin-top:15px;}
#wrap .left .left_bottom .btn img {padding:15px;}



/* right */
#wrap .right {float:right; width:12%; height:100%; overflow:auto; background-color:#fbfbfb; border-left:1px solid #ccc; border-right:1px solid #ccc; right:0px; bottom:0px; clear:both; position:fixed; z-index:2;}
#wrap .right .qbtn_infor {background-color:#e1ebf6; padding:10px; font-size:.9em; color:#666; line-height:14px;}
#wrap .right .close {text-align:right;}
#wrap .right .btnno_ex {text-align:center; padding:15px 0;}
#wrap .right ul.qbtn_nolist {padding:0 15px; margin:30px auto; min-height:100%;}
#wrap .right ul.qbtn_nolist li {float:left; border:1px solid #bebebe; background-color:#cecece; color:#fff; width:35px; height:42px; line-height:42px; margin:2px; font-size:1.8em; text-align:center; font-weight:bold;}
#wrap .right ul.qbtn_nolist li.on {color:#fff; background-color:#1595d4; border:1px solid #0972cc;}
#wrap .right ul.qbtn_nolist li.now {border:2px solid #0972cc; width:33px; height:40px; background-color:#f2fafe; color:#0972cc;}
#wrap .right ul.qbtn_nolist li.now a {color:#0972cc;}

#wrap .right .submit {width:11%; right:16px; bottom:0px; text-align: center; padding:0 0 32px 0; clear:both; position:fixed; z-index:1;} 
#wrap .right .submit input {border:7px solid #000;}

