@charset "utf-8";
/* CSS Document */

@charset "utf-8";

/*
 * File name : common.css
 * Version : 1.0(2013-02-26) YYYY-MM-DD
 * Website : http://
 * Author : LUJ
 * Modify : (YYYY-MM-DD)
 * Description: Layout, Main, Common style
 * Page Width : fixed
 * Structer : 
 * Naming rule : camelCase, number_(underscore)
 */

/* Reset */
html {overflow-y:scroll;}
body,div, dl, dt, dd, ol, ul, li, h1, h2,h3,h4,form,fieldset,p,button{margin:0; padding:0;}
body,input,select,textarea{color:#333; font-family:dotum,'돋움',gulim,'굴림','맑은 고딕', Helvetica,sans-serif; font-size:.75em; color:#555;}
img,fieldset{border:0 none;}
caption{display:none;}
button, input, select, textarea{vertical-align:middle;}
*+html button{vertical-align:top; padding-top:2px !important;}/* ie7 */
/* *+html input{vertical-align:top; padding-top:2px !important;}/* ie7 */
*html button{vertical-align:top; padding-top:2px !important;}/* ie6 */
/* *html input{vertical-align:top; padding-top:2px !important;}/* ie6 */
button{border:none; cursor:pointer;}
select{font-size:1em; border:1px solid #ccc;}
input{font-size:1em; margin:0; padding:0;}
input[type="checkbox"]{border:0;}
input[type="file"]{background:#fff; border:1px solid #ccc; margin:3px;}
input[type="radio"]{margin-top:-2px;}
input[type="text"]{border:1px solid #ccc;}
input[type="password"]{margin:2px;}
label{cursor:pointer;}
textarea{overflow:auto; margin:0; padding:10px; border:1px solid #ccc; font-size:1em;}
ol, ul, li, dl, dt, dd{list-style:none outside;}
a, a:link, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
a:link    {font-family:돋움,arial; color:#3f3f3f; text-decoration:none; }
a:active  {font-family:돋움,arial; color:#FFFFFF; text-decoration:none; }
a:visited {font-family:돋움,arial; color:#555555; text-decoration:none; }
/*a:hover   { font-family:굴림체,arial; color:#cc9900; text-decoration:underline; }*/
hr{display:none;}
em{text-decoration:none; font-style:normal;}
input.rd{margin-top:-2px; margin-right:2px;}
strong{color:#000; font-weight:700; text-decoration:underline;}
h1, h2, h3, h4, h5{margin:0; padding:0;}
html, body {height:100%;}

.btn a {color:#fff;}
.tab a {color:#7f8386;}
.tab a:hover{text-decoration:underline;}


.layer {width:900px; height:750px; border:1px solid #000; margin:auto; background-color:#fff; overflow:hidden;}
.layer2 {width:504px; height:750px; border:1px solid #000; margin:auto; background-color:#fff; overflow:hidden;}

.close {text-align:right; padding:0;}


/* layer_in */
.layer_in {margin:0 auto; padding:10px 20px; height:695px;}

.top_tab {height:60px; background:url(../img/step/line.png) top repeat-x; border-bottom:1px solid #000; padding:0 3px;}
.top_tab ul li {float:left; height:20px; padding:20px 0;}
.top_tab ul .tab {width:141px; color:#7f8386; text-align:center; font-weight:700;}
.top_tab ul li .step {border:1px solid #ccc; padding:2px 5px; font-size:.9em;}
.top_tab ul li .tab_in {padding-top:8px;}
.top_tab ul li.on {color:#333; background:url(../img/step/step_over.png) top no-repeat;}
.top_tab ul li.on .step {border:1px solid #0055bc; background-color:#0055bc; color:#fff;}


/*test_*/
.layer_in .regist_in {margin-top:30px;}
.layer_in .regist_in.season {margin-top:20px;}
.layer_in .regist_in table {width:100%; color:#333; margin:0 auto;}
.regist_in table tr th {text-align:left; padding-left:30px; font-weight:normal; background:url(../img/dot.png) bottom repeat-x; font-size:1.1em;}
.regist_in table tr th img {vertical-align:middle; padding-right:4px; padding:8px 0;}
.regist_in table tr td {padding:8px 0; text-align:left; background:url(../img/dot.png) bottom repeat-x;}
.regist_in table tr td img {vertical-align:middle;}
.regist_in.season table tr th { padding-left:20px;}
.regist_in.season table tr td {padding:6px 0;}
.regist_in.season table tr .exam_season {font-weight:700; background-color:#f3f3f3; padding-top:10px; padding-bottom:8px;}
.regist_in table tr td.exam_name input {height:30px; line-height:30px; border:1px solid #bdbdbd; width:220px; padding:0 10px; font-size:1.1em; font-weight:700; color:#999;}
.regist_in table tr td.subject input {height:30px; line-height:30px; border:none; background-color:#eee; width:652px; padding:0 10px; font-size:1.1em; font-weight:700; color:#999;}
.regist_in table tr td input {height:20px; line-height:20px; border:1px solid #bdbdbd; width:132px; padding:0 10px; color:#000;}
.regist_in table tr td input.score {width:48px;}
.regist_in table tr td select {border:1px solid #bdbdbd; color:#000; width:172px; font-weight:700; padding:0 10px; height:22px;}
.regist_in table tr td textarea {border:1px solid #bdbdbd; width:550px;}
.regist_in table tr td div.hide {width:100%; padding:7px 5px 0 5px; margin-top:10px; border-top:1px dashed #ccc;}
.regist_in table tr td div.hide p {font-size:.95em; color:#666; line-height:24px;}
.regist_in table tr td div.hide p select {width:55px; margin-right:145px;}
.regist_in table tr td div.hide p input {margin-left:26px; margin-right:46px;}
.regist_in table tr td div.hide p em {padding:0 12px 0 9px; background:url(../img/step/icon2.png) left center no-repeat}
.regist_in table tr td div.hide p b {color:#000;}
.regist_in table tr th em {font-size:.9em; color:#666; font-weight:normal;}

.layer_in .layer_list {margin-top:40px;}
.layer_in .subject_add {text-align:right; padding-bottom:8px;}
.layer_in .subject_add .st {padding-right:8px; color:#333; font-size:1.1em;}
.layer_in .btn_add {padding:10px 22px; background-color:#0066b3; color:#fff; font-weight:700; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em;}
.layer_in .btn_esc {padding:10px 22px; background-color:#4b5d6b; color:#fff; font-weight:700; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em;}
.layer_in .subject_add .subject_name {border:1px solid #bdbdbd; height:30px; line-height:30px; width:260px; padding:0 10px; color:#999;}

.layer_list .scroll_box {border-top:2px solid #333; border-bottom:1px solid #333; padding:5px 0;}
.layer_list .scroll {overflow-y:scroll; overflow-x:hidden; height:330px;}
.layer_list table {width:99%; margin:0 auto;}
.layer_list table tr th {border-bottom:1px solid #333; height:28px; line-height:28px; color:#555;}
.layer_list table tr td {border-bottom:1px dotted #666; padding:10px 0; text-align:center; color:#333; height:20px; line-height:20px;}
.layer_list table tr .list_sn {text-align:left; padding-left:20px;}
.layer_list table tr .tdlast {border:none;}
.layer_list table tr .tdlast2 {border:none; text-align:left; padding-left:20px;}
.layer_list table tr.on {background-color:#f8f8f8;}
.layer_list table tr td.on {border-bottom:1px dotted #666; font-weight:normal; background-color:#f8f8f8;}
.layer_list .open img {padding-right:6px; vertical-align:middle;}
 
.test_b {margin-top:8px; float:right;}
.layer_in .ssbtn {border:1px solid #ccc; background-color:#fff; font-size:.9em; color:#555; padding:4px 10px; border-radius:0.2em;}
.layer_in .ssbtn2 {border:1px solid #ccc; background-color:#fff; font-size:.9em; color:#555; padding:4px 10px; border-radius:0.2em;}

.check {margin:0 auto; width:40px; line-height:21px; text-align:center; border:1px solid #ccc; background-color:#f0f1f2; color:#888;}
.check.on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; border:1px solid #a40918; color:#fff;}

.layer_in .btn1 {background-color:#f3f4f4; border:1px solid #76777b; color:#505152; padding:4px 6px; font-size:.95em;}
.layer_in .btn1.on {background:url(../img/step/check_w.png) 2px 2px no-repeat #ef0b1b; border:1px solid #a40918; color:#fff;}

.layer_in .btn3 {border-bottom:1px solid #666; color:#666; padding:3px 3px 0 3px; margin-right:3px;}
.layer_in .btn3.on {background:url(../img/step/check_b.png) top left no-repeat #f3f4f4; border-bottom:1px solid #000; color:#000;}

.layer_in .form_input .yesno {margin-bottom:20px; padding-left:5px; color:#666; font-weight:700;}
.layer_in .btn2 {background-color:#999; color:#fff; padding:5px 12px;}
.layer_in .btn2.on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; color:#fff;}

.category {}
.category h3 {font-size:1.2em; border-bottom:2px solid #000; padding:4px; margin-bottom:20px; text-align:center;}
.category ul {width:100%; margin-bottom:5px; height:31px;}
.category .class3 {margin-bottom:10px;}
.category ul li {float:left; padding:0 10px; height:31px; line-hesight:31px}
.category .b {width:566px; border-bottom:1px dotted #aaa; text-align:left;}
.category .c {width:522px; border-bottom:1px dotted #aaa; text-align:left;}
.category ul .bimg {padding:0 0 0 112px; vertical-align:top;}
.category ul .cimg {padding:0 0 0 155px; vertical-align:top;}
.category .open img {vertical-align:middle;}

.layer_in .b_add_box {padding:0 0 10px 133px; text-align:left;}
.layer_in .b_add {background-color:#eee; width:565px; border:none; padding:10px; margin-right:10px; color:#999;}
.layer_in .c_add_box {padding:0 0 10px 176px; text-align:left;}
.layer_in .c_add {background-color:#eee; width:522px; border:none; padding:10px; margin-right:10px; color:#999;}


.layer_in .form_tab {padding-top:30px; height:42px;}
.layer_in .form_tab li {float:left; text-align:center; border-bottom:1px solid #d8d8d8; border-left:1px solid #d8d8d8; height:40px; line-height:40px;}
.layer_in .form_tab li.ftab {width:150px; background-color:#f5f5f5; font-weight:700; border-top:1px solid #d8d8d8;}
.layer_in .form_tab li.fplus {width:40px; background-color:#f5f5f5; font-weight:700; border-top:1px solid #d8d8d8;}
.layer_in .form_tab li.space {width:607px; border-top:1px solid #fff;}
.layer_in .form_tab li.on {border-bottom:1px solid #fff; background-color:#fff;}

.layer_in .form_box {}
.layer_in .form_box div {float:left;}
.layer_in .form_box .form_prev {width:30px; height:170px; padding:430px 0 0 0; text-align:left;}
.layer_in .form_box .form_next {width:30px; height:170px; padding:430px 0 0 0; text-align:right;}

.layer_in .form_border {width:760px; padding:0 20px 0 20px; height:470px;}
.form_in {margin-top:40px;}
.form_in ul {border-top:2px solid #333; border-bottom:1px solid #333; height:40px;}
.form_in ul .sstep {float:left; height:40px; line-height:40px; padding:0 43px; text-align:center; color:#aaa; font-weight:700;}
.form_in ul .sstep.on {background:url(../img/step/step_over2.png) bottom no-repeat; color:#000;}
.form_in .form_input {padding:25px 10px;}
.form_in .form_input .textbox textarea {border:1px solid #5ad5f8; width:710px; height:150px; padding:10px;}
.form_in .form_input .textbox textarea.t_agree {height:118px;}
.form_in .form_input .input_infor {line-height:30px; padding:0 10px; color:#e90000; background:url(../img/step/close3.png) right no-repeat; text-align:left;}


.form_tab1 {height:28px; margin:30px auto 0 auto; border-bottom:1px solid #ccc; padding-bottom:2px; width:800px;}
.form_tab1 li.ftab1 {float:left; font-size:1.1em; color:#aaa; font-weight:700; width:20%; height:28px; line-height:28px; text-align:center; background:url(../img/step/an_rlibg.png) center right no-repeat;}
.form_tab1 li.ftab1.end {margin-right:0; background:none;}
.form_tab1 li a {color:#999;}
.form_tab1 li.on {border-bottom:3px solid #000; color:#000;}



/*day_detail*/
.layer_in .day_box {height:390px;}
.layer_in .day_box div {float:left;}
.day_box .day_prev {width:50px; height:200px; padding:180px 0 0 0; text-align:left;}
.day_box .day_next {width:50px; height:200px; padding:180px 0 0 0; text-align:right;}
.day_box .detail_in {width:720px; padding:20px; height:340px; margin:0 auto;}
.day_box .detail_in table {width:100%; color:#000;}
.day_box .detail_in table tr th.day_tit {height:34px; line-height:34px; padding:15px 15px 0 15px; background:url(../img/dot.png) bottom repeat-x; font-weight:normal; text-align:left;}
.detail_in table tr th.day_tit.on {font-weight:600; color:#ef0b1b;}
.detail_in table tr td {height:34px; line-height:34px; background:url(../img/dot.png) bottom repeat-x;}
.detail_in table tr td.thrbg {background:url(../img/step/day_thbg.png) left bottom no-repeat;}
.detail_in table tr td.day_td {padding:15px 15px 0 15px;}


/*day_modify*/
.layer_in .modify_name {margin:20px 20px 10px 20px; color:#000;}
.layer_in .modify_name .nametit {font-size:1.1em; border:4px solid #dadada; padding:6px 16px; margin-right:5px; color:#666;}
.layer_in .modify_name input[type="text"] {height:33px; line-height:33px; border:none; background-color:#eee; text-align:center; width:705px; font-size:1.2em; font-weight:700;}

.layer_in .an_search.fu {margin:15px 0 20px 0; padding:0 38px;}
.layer_in .an_search.fu table tr th {border:none; padding:0 3px 5px 20px;}
.layer_in .an_search.fu table tr td {border:none; padding:0 3px 5px 3px;}
.layer_in .an_search.fu table tr .fu_top {padding-top:7px;}
.layer_in .an_search.fu table tr td.fu_top input {width:20px; text-align:center;}
.layer_in .an_search.fu table tr td input {width:32px; text-align:center;}

.layer_in .modify_sbtn {padding:10px 0 12px 0;}
.layer_in .modify_sbtn .msbtn1 {border:1px solid #555; background-color:#888; color:#fff; padding:5px 10px; border-radius:.2em;}
.layer_in .modify_sbtn .msbtn1.qview {border:1px solid #89aaff; background:url(../img/step/icon5.png) 6px 4px no-repeat #e4ecff; color:#4e68af; font-weight:700; word-spacing:-.05em; padding:5px 8px 5px 20px;}
.layer_in .modify_sbtn .msbtn2 {border:1px solid #aaa; background-color:#fafafa; color:#333; padding:5px 10px; border-radius:.2em;}
.layer_in .modify_sbtn .msbtn2.on {border:1px solid #555; background-color:#888; color:#fff;}
/*.layer_in .modify_sbtn a:hover .msbtn2 {border:1px solid #555; background-color:#888; color:#fff;}*/
.layer_in .modify_sbtn em.atit {font-size:1.2em; color:#333; font-weight:700;}
.layer_in .modify_sbtn em.btit {font-size:1.2em; color:#aaa; font-weight:700; padding-left:5px;}

.layer_in .modify_box {height:436px; padding:0 38px; margin:0 auto;}
.layer_in .modify_box div {float:left;}

.modify_box .modify_left {width:350px; margin:0 auto;}
.modify_box .modify_right {width:350px; margin:0 auto;}

.modify_box .modify_left.sc {width:300px; height:400px; margin:0 auto;}
.modify_box .modify_right.sc {width:400px; height:400px; margin:0 auto;}
.modify_box .modify_border {text-align:left; border:1px dashed #999; overflow-y:scroll; overflow-x:hidden; height:370px; width:278px; padding:10px; font-size:1.1em;}
.modify_box .modify_schedule {text-align:left; overflow:scroll; height:390px; width:400px; font-size:1.1em; border:1px solid #a8c5d3;}
.modify_box .modify_border ul .aa {font-weight:700; line-height:30px; padding:0 7px;}
.modify_box .modify_border ul .aa img {padding-right:5px;}
.modify_box .modify_border ul .aa.on {background-color:#263c91; color:#fff;}
.modify_box .modify_border ul .aaopen {padding:2px 0 10px 0;}
.modify_box .modify_border ul .aaopen img {padding-bottom:2px;}
.modify_box .modify_border ul .aaopen .bb {line-height:22px; padding-left:10px; padding-bottom:5px;}
.modify_box .modify_border ul .aaopen .bb.on {color:#000; font-weight:700; background-color:#eee;}
.modify_box .modify_border ul .aaopen .cc {line-height:22px; padding-left:25px; color:#777;}
.modify_box .modify_border ul .aaopen .cc.on {color:#000; font-weight:700; background-color:#eee;}
.modify_box .modify_ar {width:82px; text-align:center; padding-top:170px;}
.modify_box .modify_ar img {padding-bottom:10px;}

.modify_box .modify_schedule table {width:100%; border-style:hidden; border-spacing:2px; border-collapse:2px;}
.modify_box .modify_schedule table tr th {background-color:#4e91b9; text-align:center; height:30px; line-height:30px; color:#fff;}
.modify_box .modify_schedule table tr td {text-align:left; padding:5px 10px; background-color:#f6f6f6; height:72px; line-height:20px; vertical-align:top; color:#333;}
.modify_box .modify_schedule table tr td.on {color:#263c91; font-weight:700; border:1px solid #263c91; background-color:#fff;}
.modify_box .modify_schedule table tr td.on1 {color:#263c91; font-weight:700; border:0px; background-color:#fff;}
.modify_box .modify_schedule table tr td.sc_a {background-color:#f1f9fc; text-align:center; font-weight:700; font-size:.8em; color:#4e91b9;}
.modify_box .modify_schedule table tr td.sc_d em {font-weight:700; color:#fff; background-color:#aaa; padding:2px 4px;}
.modify_box .modify_schedule table tr td.sc_d.on em {background-color:#263c91;}

.layer_in .modify_btn {padding:0 38px; height:30px;}
.layer_in .modify_btn div {float:right; margin-left:2px;}

.form_season {padding:0 38px; margin:0 auto 7px auto;}
.schedule2 {overflow-y:scroll; overflow-x:scroll; margin-top:20px; height:337px; width:100%; font-size:1.1em; border:1px solid #a8c5d3;}
.schedule2 table {width:100%; border-style:hidden; border-spacing:2px; border-collapse:2px;}
.schedule2 table tr th {background-color:#4e91b9; text-align:center; height:26px; line-height:26px; color:#fff;}
.schedule2 table tr td {text-align:center; padding:0 5px; background-color:#f6f6f6; height:38px; line-height:16px; color:#333;}
.schedule2 table tr td.sc_tit {font-weight:700; height:18px; background-color:#e0e0e0; font-size:.8em;}
.schedule2 table tr td.sc_line {background-color:#eee;}
.schedule2 table tr td.on {color:#263c91; font-weight:700; border:1px solid #263c91; background-color:#fff;}
.schedule2 table tr td.sc_b {background-color:#f1f9fc; font-weight:700; font-size:.8em; color:#4e91b9;}
.schedule2 table tr td.sc_c {background-color:#e7f3f8; font-weight:700; font-size:.8em; color:#4e91b9;}

.schedule3 {margin-top:20px; height:337px; width:100%; font-size:1.1em;}
.schedule3 table {width:100%; border-spacing:0; border-collapse:collapse;}
.schedule3 table tr th {text-align:left; background:url(../img/step/icon4.png) 15px no-repeat #f1f9fc; border:1px solid #a8c5d3; padding:0 15px 0 28px; color:#4e91b9; height:35px; line-height:35px;}
.schedule3 table tr td {text-align:left; border:1px solid #a8c5d3; padding:0 20px; height:35px; line-height:35px;}


.layer_in .nolist2.sea {width:856px; margin:30px auto 0 auto;}
.tab_wrap {width:727px;}
.form_tab2 {height:28px; border-bottom:1px solid #ccc; padding-bottom:2px; width:707px; margin:0 10px;}
.form_tab2 li.ftab2 {float:left; font-size:1.2em; color:#aaa; font-weight:700; width:20%; height:28px; line-height:28px; text-align:center; background:url(../img/step/an_rlibg.png) center right no-repeat;}
.form_tab2 li.ftab2.end {margin-right:0; background:none;}
.form_tab2 li a {color:#999;}
.form_tab2 li.on {border-bottom:3px solid #000; color:#000;}




/*survey_*/
.survey_step1 {padding:0 50px; margin-top:60px;}
.survey_b {margin-top:20px; height:40px;}
.survey_b div {float:right; margin-left:2px;}

.survey_b2 {height:40px; padding-right:52px;}
.survey_b2 div {float:right; margin-left:2px;}

.layer_in .syno_box {width:856px; margin:0 auto; padding-top:20px; padding-bottom:5px; border-bottom:1px solid #aaa; text-align:center;}
.layer_in .nolist {height:45px; padding-bottom:10px;}
.layer_in .nolist div {float:left; height:45px;}
.layer_in .nolist .sybtn {width:48px;}
.layer_in .nolist .sybtn.prev {text-align:right;}
.layer_in .nolist .sybtn.next {text-align:left;}
.layer_in .nolist .sybtn img {vertical-align:middle; padding:19px 0;}
.layer_in .nolist .synolist_box {width:760px;}
.layer_in .nolist .synolist {height:45px; width:735px; margin:0 14px;}
.layer_in .nolist .synolist li.syno {float:left; font-size:1.5em; color:#999; font-weight:700; width:44px; height:43px; line-height:43px; border:1px solid #ddd; background-color:#eee; margin-right:3px;}
.layer_in .nolist .synolist li.syno.end {margin-right:0;}
.layer_in .nolist .synolist li a {color:#999;}
.layer_in .nolist .synolist li.on {background:url(../img/step/pen.png) bottom right no-repeat #4d6ed9; border:1px solid #3757cf;}
.layer_in .nolist .synolist li.on a {color:#fff;}
.layer_in .nolist .sypageno {padding-bottom:4px;}

.layer_in .sy_box {height:430px;}
.layer_in .sy_box div {float:left;}
.sy_box .survey_prev {width:50px; height:230px; padding:200px 0 0 0; text-align:left;}
.sy_box .survey_next {width:50px; height:230px; padding:200px 0 0 0; text-align:right;}
.sy_box .survey_step2 {width:756px; height:430px; margin:0 auto;}

.sy_box .survey_step2 p.syqtit {margin-top:15px; font-size:1.2em; font-weight:700; text-align:left;}
.sy_box .survey_step2 p.syqtit span {border-bottom:1px solid #000;}

.sy_box .survey_step2 ul.ex_kind {height:45px;}
.sy_box .survey_step2 ul.ex_kind li {float:left; color:#999; padding:20px 20px 10px 0;}
.sy_box .survey_step2 ul.ex_kind li.syselect.on {color:#ef0b1c;}
.sy_box .survey_step2 ul.ex_kind li.syselect.on em {text-decoration:underline; background:url(../img/icon1.png) top right no-repeat; padding:5px 10px 5px 0;}
.sy_box .survey_step2 ul.ex_kind li.syselect .ssbtn2 {border:1px solid #aaa; background-color:#ccc; padding:4px 10px; margin-right:5px; color:#fff}
.sy_box .survey_step2 ul.ex_kind li.syselect .ssbtn2 a {color:#fff}
.sy_box .survey_step2 ul.ex_kind li.syselect.on .ssbtn2 {border:1px solid #a40918; background-color:#ef0b1c; color:#fff;}
.sy_box .survey_step2 ul.ex_kind li.syselect.on .ssbtn2 a {color:#fff;}

.sy_box .survey_step2 .syscroll {height:340px; overflow:auto; overflow-x:hidden; border-top:1px dotted #000; border-bottom:1px dotted #000;}
.sy_box .survey_step2 .syqextable tr th {text-align:left; border-bottom:1px dotted #bbb; padding:6px 20px;}
.sy_box .survey_step2 .syqextable tr td {border-bottom:1px dotted #bbb; padding:6px 20px;}
.sy_box .survey_step2 .syqextable tr th textarea {width:600px;}
.sy_box .survey_step2 .syqextable tr td input {border:none; width:560px; border:1px solid #ccc; height:26px; line-height:26px; padding:0 10px;}
.sy_box .survey_step2 .syqextable tr img {vertical-align:middle;}

.sy_box .survey_step2 .syqextable tr.on th {border-top:1px dotted #0084ff;; border-bottom:1px dotted #0084ff;; background-color:#f8fafc;}
.sy_box .survey_step2 .syqextable tr.on td {border-bottom:1px dotted #0084ff;; background-color:#f8fafc;}
.sy_box .survey_step2 .syqextable tr.on .syqtit {background:url(../img/step/day_thover2.png) center right no-repeat #f8fafc;}
.sy_box .survey_step2 .syqextable tr.on .syextit {background:url(../img/step/day_thover2.png) center right no-repeat #f8fafc;}
.sy_box .survey_step2 .syqextable tr.on th textarea {background-color:#f8fafc; border:1px solid #0084ff;}
.sy_box .survey_step2 .syqextable tr.on td input {background-color:#f8fafc; border:1px solid #0084ff;}
.sy_box .survey_step2 .syqextable tr td.last {border-bottom:none;}

.sybottom {margin-top:10px; border-top:1px solid #666; padding-top:15px;}


/* assign 1_q */
.layer_in .an_search {margin-top:30px; padding:0 38px;}
.layer_in .an_search table {width:100%; border-top:1px solid #aaa; border-bottom:1px solid #aaa;}
.layer_in .an_search table tr th {border-top:1px solid #eee; padding:3px; text-align:left; padding-left:20px; line-height:15px;}
.an_search table tr th em {font-size:.9em; color:#666; font-weight:normal;}
.layer_in .an_search table tr td {border-top:1px solid #eee; padding:3px;}
.layer_in .an_search input {height:18px; line-height:18px; padding:0 5px;}
.layer_in .an_search tr td .divide {width:120px; margin:0 5px;}
.layer_in .an_search tr td .key {background-color:#d6e2ee; border:none; width:100px;}
.layer_in .an_search tr .level input {border:none; width:20px;}
.layer_in .an_search tr .type input {border:none; width:20px;}
.layer_in input.an_tel {width:40px;}
.layer_in input.an_day {width:70px; text-align:center;}
.layer_in .an_search table tr td .an_examinee {width:150px;}
.layer_in .an_search table tr td .y_m_d {width:80px;}


.dotline {border-bottom:1px dashed #ccc; margin:20px 40px 10px 40px;}

.layer_in .modify_box.q {height:400px;}
.modify_box .modify_left.q {height:400px;}
.modify_box .modify_right.q {height:400px;}
.modify_box .modify_border.q {height:325px; width:328px; padding:10px; text-align:center;}
.modify_box .modify_ar.q {padding-top:150px; height:175px}

.anbox {border:1px solid #ccc; padding:10px; background:url(../img/step/block.png) top left no-repeat; margin-bottom:10px; width:290px;}
.anbox.on {background-color:#f4f4f4; border:1px solid #000;}
.anbox .anin {line-height:16px; text-align:left; padding-bottom:10px;}
.anbox .an_view_bg {text-align:right}
.an_view {text-align:center; padding:4px 10px; background-color:#4e68af; color:#fff; font-weight:700; border-radius:0.3em; letter-spacing:-.05em; font-size:.85em;}
.an_view a {color:#fff;}
.anbox .anin span.anno {float:left; padding:6px 8px; font-weight:700; background-color:#f1f1f1; border:1px solid #000; color:#000; font-size:1.2em; margin-right:10px; margin-top:5px;}


/* assign 2_site */
/*testsite*/
.layer_in .testsite {width:841px; height:307px; border:10px solid #2c3c8a; margin-top:50px;}
.layer_in .testsite .text {width:819px; height:285px; border:1px dotted #2c3c8a; text-align:center; margin-top:10px; margin-left:10px;}
.layer_in .testsite .text p.img {padding-top:40px;}
.layer_in .testsite .text p.info {padding-top:20px; line-height:30px; font-size:1.8em; font-weight:900; color:#34449b; text-decoration:underline;}
.layer_in .testsite .text p.info img { padding-bottom:15px;}
.layer_in .testsite .text p.btn {width:194px; height:48px; background:url(../img/step/add_btn.png) no-repeat; float:right; padding-right:30px; margin-top:50px; font-size:1.2em; color:#fff; font-weight:bold; padding-top:15px;}

.layer_in .modify_box.site {height:553px;}
.modify_box .modify_left.site {height:553px;}
.modify_box .modify_right.site {height:553px;}
.modify_box .modify_border.site {height:483px; width:328px; padding:10px;}
.modify_box .modify_ar.site {padding-top:230px; height:323px}

.modify_box .modify_border ul .aa.lefton {background-color:#263c91; color:#fff;}
.modify_box .modify_border ul .aaopen .bb.lefton {color:#263c91; font-weight:700;}
.modify_box .modify_border ul .aa.righton {background-color:#2581f2; color:#fff;}
.modify_box .modify_border ul .aaopen .bb.righton {color:#2581f2; font-weight:700;}


/* assign 3_admin */
/*
.layer_in .syno_box2 {width:856px; margin:0 auto; padding-top:22px; padding-bottom:10px; text-align:center;}
.layer_in .nolist2 {height:28px; margin-bottom:5px; border-bottom:1px solid #ccc; padding-bottom:2px;}
.layer_in .nolist2 div {float:left; height:28px;}
.sybtn2.prev {text-align:right; width:50px;}
.sybtn2.next {text-align:left; width:79px;}
.layer_in .nolist2 .sybtn2 img {vertical-align:middle; padding:12px 0;}
.layer_in .nolist2 .synolist_box2 {width:727px;}
.layer_in .nolist2 .synolist2 {height:28px; width:677px; margin:0 25px;}
.layer_in .nolist2 .synolist2 li.syno2 {float:left; font-size:1.3em; color:#aaa; font-weight:700; width:65px; height:28px; line-height:28px; margin-right:3px; text-align:center; background:url(../img/step/an_rlibg.png) center right no-repeat;}
.layer_in .nolist2 .synolist2 li.syno2.end {margin-right:0; background:none;}
.layer_in .nolist2 .synolist2 li a {color:#999;}
.layer_in .nolist2 .synolist2 li.on {border-bottom:3px solid #000; color:#000;}
.layer_in .nolist2 .synolist2 li.on a {color:#000;}
*/
/* assign 3_admin */
.layer_in .syno_box2 {width:856px; margin:0 auto; padding-top:13px; padding-bottom:10px; text-align:center;}/* 2016.02.17 fix */
.layer_in .nolist2 {/*height:28px;*/ margin-bottom:5px; border-bottom:1px solid #ccc; padding-bottom:2px;}
.layer_in .nolist2 div {/*float:left; height:28px;*/}/* 2016.02.17 fix */
.sybtn2.prev {text-align:right; width:50px;}
.sybtn2.next {text-align:left; width:79px;}
.layer_in .nolist2 .sybtn2 img {vertical-align:middle; padding:12px 0;}
.layer_in .nolist2 .synolist_box2 {/*width:727px;*/}/* 2016.02.17 fix */
.layer_in .nolist2 .synolist2 {/*height:28px; width:677px; margin:0 25px;*/ text-align:left;}
.layer_in .nolist2 .synolist2 li.syno2 {font-size:11px; color:#777; margin-left:4px;margin-right:0;width:78px;margin-bottom:4px;padding:8px 0;text-align:center; background-color:#fafafa;display:inline-block;border:solid 1px #ccc;cursor:pointer;}/* 2016.02.17 fix */
.layer_in .nolist2 .synolist2 li.syno2.end {margin-right:0; background:none;}
.layer_in .nolist2 .synolist2 li a {color:#999;}
.layer_in .nolist2 .synolist2 li.on {background:#004BBB; color:#fff;}
/*.layer_in .nolist2 .synolist2 li.on a {color:#fff;}*/
.layer_in .nolist2 .sypageno {padding-bottom:4px;}

.layer_in .modify_box.admin {height:383px;}
.modify_box .modify_left.admin {height:383px;}
.modify_box .modify_right.admin {height:383px;}
.modify_box .modify_border.admin {height:313px; width:328px; padding:10px; text-align:center;}
.modify_box .modify_ar.admin {padding-top:143px; height:240px}
.admin_in dt {float:left; width:60%; text-align:left; height:30px; line-height:30px; font-size:1.1em; font-weight:bold; padding-left:5px;}
.admin_in dd {float:left; width:34%; text-align:right; height:30px; line-height:30px; padding-top:5px;}
.admin_in li {float:left; width:60%; text-align:left; height:30px; line-height:30px; font-size:1.1em; font-weight:bold; padding-left:5px;}
.admin_in img {vertical-align:middle;}
.admin_in dt.on {}
.admin_right li {text-align:left; height:30px; line-height:30px; font-size:1.1em; font-weight:bold; padding:0 5px;}
/* 감독관배정 레이아웃수정 2013.02.22*/
.modify_box .modify_border.admin2 {height:500px; width:760px; padding:10px; margin-top:20px; text-align:center;}

/* assign 4_marker */
.layer_in .modify_box.mark {height:434px;}
.modify_box .modify_left.mark {height:434px;}
.modify_box .modify_right.mark {height:434px;}
.modify_box .modify_border.mark {height:374px; width:328px; padding:10px; text-align:center;}
.modify_box .modify_ar.mark {padding-top:184px; height:250px}


/* assign 5_survey */
.layer_in .use {background:#f3f3f5;  margin-top:30px; padding:15px 35px; overflow:auto;}
.layer_in .use em {float:left; font-size:1.2em; font-weight:700; text-decoration:underline; line-height:30px;}
.layer_in .use span.an {display:inline-block; float:right; padding:7px 20px; border:1px solid #8f8f9c; background:#9d9da7; line-height:10x; border-radius:0.2em; color:#c1c1d0; margin-right:4px;}
.layer_in .use span.us {display:inline-block; float:right; padding:7px 20px; border:1px solid #cf1707; background:#f71401; line-height:10x; border-radius:0.2em; color:#fff; margin-right:4px;}
.layer_in .modify_box.survey {height:473px;}
.modify_box .modify_left.survey {height:473px;}
.modify_box .modify_right.survey {height:473px;}
.modify_box .modify_border.survey {height:403px; width:328px; padding:10px; text-align:center;}
.modify_box .modify_ar.survey {padding-top:190px; height:283px}
.admin_right li .sur_btn {vertical-align:middle;}


/* assign 6_examinee */
.an_search input.test_site {width:400px; margin:5px 0;}
.layer_wrap {margin:0 40px;}
.layer_wrap.exam {margin-top:50px;}
.layer_list .scroll.exam {height:510px;}
.layer_list table .site_on td {border-bottom:1px dotted #ccc; background-color:#f6f6f6;}
.layer_list table .in_site td {border-bottom:1px dotted #e9e9e9; background-color:#fafafa; padding:3px 0; height:26px; line-height:26px;}
.layer_list table tr td.site_name {text-align:left; padding-left:38px;}
.layer_list table .in_site td img {vertical-align:top; padding-right:5px;}
.layer_list table .in_site td .check {width:64px;}
.layer_list table .in_site.on .site_name a {font-weight:700; text-decoration:underline; border-bottom:1px dotted #e9e9e9;}

.layer_wrap .an_b {margin-top:10px;}
.layer_wrap .an_b .select {margin-bottom:5px; margin-right:3px; font-weight:600; float:right;}
.layer_wrap .an_b em {float:left; margin:12px 5px 0 0; color:#999; font-size:.9em;}
.layer_wrap .an_b .position {float:left; font-weight:700; margin:12px 10px 0 0; font-size:.9em;}
.examinee_wrap {width:768px; height:450px; overflow-y:scroll; overflow-x:hidden; border:1px solid #afbee0; padding:6px;}
.examinee_wrap ul.an6 {text-align:center; padding:0; margin:0 auto; clear:both;}
.examinee_wrap ul.an6 li {float:left; display:inline-block; width:71px; height:35px; line-height:18px; padding:5px 0; margin:1px; background-color:#e6e6e6; border:1px solid #c6c6c6;}
.examinee_wrap ul.an6 li.on {background-color:#e0e6f8; border:1px solid #afbee0; color:#666; font-weight:600;}
.examinee_wrap ul.an6 a li {color:#333;}

.line_space {height:40px;}
.line_space2 {height:30px;}
.line_space3 {height:20px;}


/* assign popup*/
/*문항정보 요약보기_sun*/
.info_layer {width:743px; padding:20px; position:absolute; top:50px; margin-left:60px; z-index:100;}
.info_layer .info {width:743px; z-index:200px; border:1px solid #223786; background:#fff; }
.info_layer .info .tit {width:743px; height:69px; background:#223786;}
.info_layer .info .tit img {float:right; padding:10px 10px 0 0;}
.info_layer .info .tit p {color:#eafaff; padding:45px 0 0 20px;}
.info_layer .info .tit p em {font-size:1.2em; font-weight:700; color:#fff;}
.info_layer .info .tit p span {color:#b3bdee;}
.info_layer .info .con {width:743px; background:#fff;}
.info_layer .info .con ul {width:743px; padding:20px;}
.info_layer .info .con ul li {width:743px;}
.info_layer .info .con ul li.tt {font-size:1.1em; color:#000; padding-top:10px;}
.info_layer .info .con ul li.tt img {padding:0 4px 4px 0;}
.info_layer .info .con ul li.an {padding:0 0 5px 7px; border-bottom:1px solid #e3e3e3; width:92%; font-size:1em; color:#9c9da1; line-height:35px;}
.info_layer .info .con ul li.an span{float:right;}

.info_layer .info .con ul li.an_tt {color:#007ecb; text-decoration:underline; font-weight:bold; padding-bottom:4px;}
.info_layer .info .con ul li.an_so {height:28px; padding:10px 0 8px 7px; border-bottom:1px solid #e3e3e3; width:92%; font-size:1em; line-height:33px; color:#1377c2; font-weight:bold;}
.info_layer .info .con ul li.an_so span{float:left; padding-right:8px;}


.info_layer .info .con ul.ll {width:688px; height:15px; background:#f8f6f7; border:1px solid #e4e4e4; padding:10px 0px; margin-left:20px;}
.info_layer .info .con ul.ll li {float:left; width:200px; padding-left:15px; font-size:1em; letter-spacing:1px; color:#37363b;}
.info_layer .info .con ul.ll li em {font-size:1.1em; color:#223786; padding-left:4px; padding-right:4px; font-weight:700;}
.info_layer .info .con ul.ll li span { font-size:1em; letter-spacing:1px; color:#258ea3; font-weight:700;}

.info_layer .info .con ul.ans {width:688px; margin-bottom:10px;}
.info_layer .info .con ul.ans li {width:688px;}
.info_layer .info .con ul.ans li.tt {width:688px; color:#007ecb; text-decoration:underline; font-weight:bold; padding-bottom:10px;}
.info_layer .info .con ul.ans li.aa {width:660px; background:#fff; border:5px solid #0fa4e6; padding:10px 10px; color:#a2a3a7;}
.info_layer .info .con ul.ans li.sound {width:660px; height:10px;}
.info_layer .info .con ul.ans li.sound img {padding-bottom:20px;}
.info_layer .info .con ul.ans li.sound span {padding-left:10px; padding-top:5px;}

.info_layer .info .con p {width:600px; color:#007ecb; text-decoration:none; font-weight:bold; padding:15px 0 7px 20px;}

.info_layer .info .con .list_an {width:678px; height:260px; background:#fff; border:5px solid #0fa4e6; margin-left:20px; margin-bottom:25px; overflow:auto; overflow-x:hidden;}
.info_layer .info .con .list_an ul {width:648px; padding:10px;}
.info_layer .info .con .list_an ul li {width:648px; border-bottom:1px dashed #b8babf; font-size:1em; color:#7b7d82; line-height:31px; padding:10px 0 4px 0;}
.info_layer .info .con .list_an ul li span {float:left; padding:0 8px 0 8px;}
.info_layer .info .con .list_an ul li.check {text-align:left; color:#1377c2; font-weight:bold; background:url(../img/icon1.png) no-repeat center right; padding:10px 0px 4px 5px;}

.info_layer .info .con .list_img {width:678px; height:200px; background:#fff; border:5px solid #0fa4e6; margin-left:20px; margin-bottom:25px; overflow:auto; overflow-x:hidden;}
.info_layer .info .con .list_img ul {width:618px; height:88px; color:#003399; margin-left:30px;}
.info_layer .info .con .list_img ul li {float:left; width:88px; height:86px; border:1px solid #93b1bc; margin-right:7px; background:url(../img/step/b_img_icon.png) no-repeat center;}
.info_layer .info .con .list_img ul li.on {height:80px; border:4px solid #93b1bc;}
.info_layer .info .con .list_img ul li.on img {float:right;}



/*감독관/채점자 정보보기_sun*/
.pp_layer {width:576px; height:268px; position:absolute; top:150px; margin-left:170px; border:8px solid #233c8c; background:#FFFFFF; z-index:100;}
.pp_layer .pp {height:247px; margin:10px; z-index:200; border:1px dotted #233c8c; background:#fff;}
.pp_layer .pp .pic {float:left; width:113px; height:200px; margin:20px;}
.pp_layer .pp .pic  ul {width:113px; height:200px;}
.pp_layer .pp .pic  ul li.p {width:111px; height:149px; border:1px solid #cfcfcf; background:#fff; background:url(../img/step/pic.png) no-repeat center;}
.pp_layer .pp .pic  ul li.name {width:111px; font-size:12px; padding:8px 0; text-align:center;}
.pp_layer .pp .pic  ul li img {padding-bottom:2px;}
.pp_layer .pp .pic  ul li em {font-size:14px; color:#233c8c; text-decoration:underline; font-weight:bold;}

.pp_layer .pp .info {float:left; width:381px; height:151px; margin-top:20px; background:#000066;}
.pp_layer .pp .info  ul {width:379px; height:149px; border:1px solid #cfcfcf; background:#fff;}
.pp_layer .pp .info  ul li {width:349px; padding:15px 2px 5px 2px; border-bottom:1px dotted #c0c0c1; margin-left:10px; color:#000; font-weight:800;}
.pp_layer .pp .info  ul li em {color:#015ec5;}
.pp_layer .pp .info  ul li img {padding-bottom:3px;}

.pp_layer .pp .close {float:right; width:65px; height:27px; margin-top:20px; background:#263c91; border:1px solid #0b1668; line-height:18px; padding-top:8px; font-size:1.2em; color:#fff; margin-right:20px; text-align:left; padding-left:9px;}
.pp_layer .pp .close img {padding-left:5px; vertical-align:middle;}


/* 응시자_수동배정 */
.info_layer.hand {width:450px; min-height:700px; padding:0 z-index:100;}
.info_layer .info.hand {width:450px; height:700px; z-index:200; border:1px solid #223786; background:#fff;}
.info_layer .info .tit.hand {height:65px; width:450px; background:#223786;}
.info_layer .info .tit p em {font-size:1.2em; font-weight:700; color:#fff;}
.info_layer .info .tit p .d_site {color:#b3bdee; font-size:1.2em; font-weight:700;}

.info_layer .info .con.hand {width:415px; background:#fff; padding:15px 20px 15px 15px; height:555px; overflow:hidden; overflow-y:scroll;}
.info_layer .info .an_search.hand table {width:100%;}
.search_popup tr th, .search_popup tr td {text-align:left; border-bottom:1px dashed #ccc; padding:5px 10px; line-height:15px;}
.info_layer .info .an_search.hand table tr td input {width:199px; line-height:20px; height:20px; padding:0 5px;}
.info_layer .info .an_search.hand table tr td input.y_m_d {width:85px; text-align:center;}

.info_layer .info .poplist {margin-top:20px;}
.info_layer .info .poplist .handtext {font-size:.9em; color:#999; text-decoration:none; font-weight:normal; padding-left:5px;}
.info_layer .info .poplist table {width:100%; border-top:2px solid #000;}
.info_layer .info .poplist table tr th, td {padding:8px 10px; line-height:16px;}
.info_layer .info .poplist table tr th {border-bottom:1px solid #000;}
.info_layer .info .poplist table tr td {border-bottom:1px dotted #000; text-align:center;}
.info_layer .info .poplist table tr td .check {font-size:.9em;}
.info_layer .info .popup_bottom {padding:10px 0; background-color:#fafafa}


/*assign_test_sun*/
.regist_in table tr td.test_name_on .not {width:100%; padding:10px 0px;}
.regist_in table tr td.test_name_on .text { float:left; width:85%; color:#e90000; background:url(../img/icon1.png) no-repeat; padding-left:15px;}
.regist_in table tr td.test_name_on .close {float:left; width:10%;}
.regist_in table tr td.test_name_on input {height:30px; line-height:30px; border:1px solid #5ad5f8; width:300px; padding:0 10px;}
.regist_in table tr td.test_name input {height:30px; line-height:30px; border:1px solid #bdbdbd; width:300px; padding:0 10px;}
.regist_in table tr td.test_name input.num {height:30px; line-height:30px; border:1px solid #bdbdbd; width:70px; padding:0 10px;}
.regist_in table tr td.test_name input.ass {height:30px; line-height:30px; border:1px solid #bdbdbd; width:70px; padding:0 10px;}
.regist_in table tr td.test_name_on input.ass {height:30px; line-height:30px; border:1px solid #5ad5f8; width:70px; padding:0 10px;}
.regist_in table tr td.test_name_on textarea {border:1px solid #5ad5f8; width:550px;}
p.save_btn {background-color:#0065b3; color:#fff; height:34px; width:86px; line-height:34px; font-weight:700; font-size:1.1em; text-align:center; letter-spacing:0.3em; margin-top:10px; margin-left:90%; border-radius:0.2em;}



/*layer_list table_sun*/
.layer_list table tr.s_on {background-color:#f8f8f8;}
.layer_list table tr.s_on td .view2 {width:100%; margin-bottom:5px; height:31px;}
.view2 ul {float:left; width:100%;}
.view2 ul li{float:left; text-align:right; padding-left:8px; color:#666;}
.view2 ul li img {padding-bottom:3px;}
.view2 ul li.img {width:10%;}
.view2 ul li.s {width:18%; text-align:left;}
.view2 ul li.s input {height:20px; border:1px dashed #bdbdbd; width:50px; padding:0 10px;}
.view2 ul li.p {width:18%; text-align:left;}
.view2 ul li.p input {height:20px; border:1px dashed #bdbdbd; width:50px; padding:0 10px;}
.view2 ul li.se {width:49%; text-align:left;}
.view2 ul li.se input {height:20px; border:1px dashed #bdbdbd; width:50px; padding:0 10px;}
.view2 ul li.text {width:100%; text-align:left; padding-left:12%; padding-top:15px; padding-bottom:5px;}
.view2 ul li.tt textarea {border:1px dashed #bdbdbd; width:580px; margin-left:16%;}
.view2 ul li.btn {float:right; margin-right:15px; margin-top:10px; padding:7px 12px; background:#333; color:#fff; font-size:1em; border-radius:0.2em;}
/*//layer_list table_sun*/


/*layer_list .scroll_box_sun*/
.layer_list .scroll_2 {overflow:auto; overflow-x:hidden; height:280px;}


/* examinee(응시자관리) */
.layer_wrap {margin:0 40px;}
.layer_list .scroll.examinee {height:480px;}
.layer_list .scroll.examinee table tr th {padding-top:5px; padding-bottom:5px;}
.layer_list .scroll.examinee table tr th.thleft {text-align:left; padding-left:40px;}
.layer_list .scroll.examinee table tr td {padding-top:13px; padding-bottom:13px;}
.layer_list .scroll.examinee table tr td .check {width:80px;}


/* examinee(응시자관리)_condition_popup */
.con_border {border-top:2px solid #000;}
.layer_wrap .con_wrap {margin-top:50px; padding:0 40px;}
.layer_wrap .con_wrap div {float:left;}
.layer_wrap .con_wrap .pic_box {width:113px; height:180px; margin-right:45px;}
.layer_wrap .con_wrap .pic_box .pic2 {width:111px; height:149px; border:1px solid #cfcfcf; background:#fff; background:url(../img/step/pic.png) no-repeat center; margin-bottom:3px;}
.layer_wrap .con_wrap .pic_box .pic_name {width:113px; line-height:24px; text-align:center; font-weight:700; font-size:1.2em; color:#fff; background-color:#777;}
.layer_wrap .con_wrap .con_list {width:540px;}
.layer_wrap .con_wrap .con_list .contable {width:100%;}
.layer_wrap .con_wrap .con_list .contable tr th, .con_list .contable tr td {border-bottom:1px dotted #000; line-height:18px; text-align:left;}
.layer_wrap .con_wrap .con_list .contable tr th {background:url(../img/step/subject_bg.png) right center no-repeat; padding:10px 20px; font-weight:normal;}
.layer_wrap .con_wrap .con_list .contable tr th img {vertical-align:middle; padding-right:5px;}
.layer_wrap .con_wrap .con_list .contable tr td {padding:10px 30px; background:url(../img/step/block_td.png) right bottom no-repeat; color:#333; font-weight:700;}
.layer_wrap .con_wrap .con_list .contable tr td em {color:#666;}
.layer_wrap .con_wrap .con_list .contable tr .con_th {vertical-align:top; background:url(../img/step/subject_bg.png) right 10px no-repeat;}
.layer_wrap .con_wrap .con_list .contable tr .con_td .con_td_left {float:left;}
.layer_wrap .con_wrap .con_list .contable tr .con_td .con_td_right {float:right; width:160px; text-align:center;}
.layer_wrap .con_wrap .con_list .contable tr .con_td div .td_site {width:160px; height:159px;}
.layer_wrap .con_wrap .con_list .contable tr .con_td .con_td_right .td_site ul {padding:5px; width:148px; height:142px; border:1px solid #89aaff; overflow:auto;}
.layer_wrap .con_wrap .con_list .contable tr .con_td .con_td_right .td_site ul li {float:left; display:inline-block; width:22px; height:20px; line-height:20px; margin:2px; background-color:#e4ecff; font-size:.9em; text-align:center; color:#777; font-weight:normal;}
.layer_wrap .con_wrap .con_list .contable tr .con_td .con_td_right .td_site ul li.on {background-color:#7bb23e; color:#fff; font-weight:700;}
span.change {border:1px solid #273a7c; background-color:#29428d; color:#fff; font-size:.9em; padding:3px 10px; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
span.change.on {margin-left:10px; background-color:#fff; border:1px solid #89aaff; color:#4e68af; padding:2px 6px; display:inline-block;}
span.change.on img {vertical-align:middle; padding-bottom:2px;}


/* examinee(응시자관리)_condition_assign */
.con_box {margin:25px;}
.con_box .con_text {margin-bottom:8px;}
.con_box .examinee_wrap.con {width:676px; height:340px; overflow-y:scroll; overflow-x:hidden; border:1px solid #afbee0; padding:8px;}
.examinee_wrap ul.an6.con {text-align:center; padding:0; margin:0 auto; clear:both; width:676px;}
.examinee_wrap ul.an6.con li {width:62px; height:35px; color:#888; background-color:#e4ecff; border:1px solid #e4ecff; font-weight:700;}
.examinee_wrap ul.an6.con li.onchange {background-color:#7bb23e; border:1px solid #6ca733; color:#fff; font-weight:700;}
.con_box .con_btn {margin-top:10px;}



/* examinee(응시자관리)_report card */
.report_bg {width:600px; min-height:650px; background:#5f6062; padding:10px; position:absolute; z-index:100;}
.report_wrap {width:600px; min-height:650px; background:#fff; z-index:200; padding-bottom:35px; border-bottom-left-radius:2em; border-top-right-radius:2em;}
.report_tit img {padding:12px 10px 15px 0;}
.report_tit h3 {text-align:center; color:#000; font-size:1.6em; font-weight:bold; margin-bottom:15px;}
.report_wrap .report_in {padding:0 30px;}
.report_wrap .report_in table {width:100%;}
.report_wrap .report_in .report_a {margin:0 auto 30px auto;}
.report_wrap .report_in .report_a table {border-top:1px solid #666;}
.report_wrap .report_in .report_a table tr th {border-bottom:1px solid #ccc; line-height:18px; color:#555; background-color:#f6f6f6;}
.report_wrap .report_in .report_a table tr td {border-bottom:1px solid #ccc; text-align:left; padding:6px 20px; line-height:18px; color:#000;}

.report_wrap .report_in .report_b table tr th {border-top:1px solid #ccc; border-bottom:1px solid #ccc; height:30px; line-height:30px; background-color:#f6f6f6;}
.report_wrap .report_in .report_c {overflow-x:hidden; overflow:auto; height:468px;}
.report_wrap .report_in .report_c table tr td {border-bottom:1px solid #ddd; text-align:center; line-height:16px; padding:25px 5px;}
.report_wrap .report_in .report_c table tr .td_left {text-align:left; padding:25px 10px 25px 30px; background:url(../img/step/icon3.png) 10px center no-repeat;}
.report_wrap .report_in .report_d {border:1px solid #ddd; background-color:#f6f6f6; padding:10px 30px;}
.report_wrap .report_in .report_d table {}
.report_wrap .report_in .report_d table tr th {text-align:left;}
.report_wrap .report_in .report_d table tr td {padding:0; margin:0; text-align:right; color:#000;}


/* 채점관리_marking */
ul.marking {padding:5px; min-height:38px;}
.marking li {float:left; display:inline-block; width:12px; height:10px; padding:2px; margin:2px; background-color:#f1f1f1; border:1px solid #ccc; font-size:.9em; text-align:center; line-height:11px; color:#777; letter-spacing:-.05em;}
.marking li.on {background-color:#000; border:1px solid #000; color:#fff; font-weight:700;}
.marking li a {color:#777; display:inline-block;}
.marking li.on a {color:#fff; display:inline-block;}
.standard {background-color:#f9f9f9;}
.ques {font-weight:700; color:#000; padding:0 5px;}
.answer {background:url(../img/step/ar_m.png) 9px 6px no-repeat; padding:8px 0 0 27px; color:#000;}


/* btn */
.layer_in .detail_btn {padding:0 70px; height:30px;}
.layer_in .detail_btn div {float:right; margin-left:2px;}
.layer_btn1 {background-color:#0065b3; color:#fff; height:32px; width:80px; line-height:32px; font-weight:700; font-size:1.1em; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
.layer_btn2 {background-color:#666; color:#fff; height:32px; width:80px; line-height:32px; font-weight:700; font-size:1.1em; text-align:center;
border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
.layer_btn3 {background-color:#666; color:#fff; height:32px; width:86px; line-height:32px; font-weight:700; font-size:1.1em; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
.layer_btn4 {border:1px solid #0065b3; color:#0065b3; height:30px; width:120px; line-height:30px; font-weight:700; font-size:1.1em; text-align:center; letter-spacing:-0.1em; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
.layer_btn4 a {color:#0065b3;}
.layer_btn4 img {padding-left:5px;}
.layer_btn3.red {color:#fff; background-color:#cc0000; height:30px; line-height:30px; width:160px;}
.layer_btn3.navy {color:#fff; background-color:#223786; height:30px; line-height:30px; width:200px;}
.layer_btn1.navy {background-color:#2d4c9d; width:140px; text-decoration:none;}
.layer_btn3.wd {width:120px; background-color:#0065b3; text-decoration:none; float:right;}

.search_bg {margin-top:8px; text-align:right;}
.sh_btn1 {display:inline-block; padding:6px 14px; background-color:#0065b3; color:#fff; font-weight:700; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
span.sh_btn1 img {vertical-align:middle;}
.sh_btn1.auto {float:left; background-color:#e84733;}
.sh_btn2 {display:inline-block; padding:6px 14px; background-color:#4c6172; color:#fff; font-weight:700; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
.search_bg a {color:#fff;}

.sh_btn1.assign {padding:10px 24px; background-color:#2796ec;}
.sh_btn2.assign {padding:10px 24px; background-color:#aaa;}
.sh_btn1.qview {background-color:#2796ec; font-size:.95em; text-decoration:none;}

.layer_in .ssbtn {border:1px solid #ccc; background-color:#fff; font-size:.9em; color:#555; padding:4px 10px; border-radius:0.2em;}
.layer_in .check {margin:0 auto; width:40px; height:20px; line-height:21px; text-align:center; border:1px solid #ccc; background-color:#f0f1f2; color:#888;}
.layer_in .check.on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; border:1px solid #a40918; color:#fff;}

.form_box .form_tab .btn1 {background-color:#f3f4f4; border:1px solid #76777b; color:#505152; padding:4px 6px;}
.form_box .form_tab .layer_in .btn1.on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; border:1px solid #a40918; color:#fff;}

.form_box .form_tab .yesno {margin-bottom:20px; padding-left:5px; color:#666; font-weight:700;}
.form_box .form_tab .yesno .btn2 {background-color:#999; color:#fff; padding:5px 12px;}
.form_box .form_tab .yesno .btn2.on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; color:#fff;}




/*다음step이동*/
.layer_in .step_next {text-align:right; padding:20px 10px 0 10px; font-weight:700; text-decoration:underline; font-size:1.2em; color:#000;}
.layer_in .step_next img {padding-left:10px; vertical-align:middle;}

.layer_in .step_prev {text-align:right; padding:4px 10px 0 10px; font-weight:700; text-decoration:underline; font-size:1.2em; color:#000; height:30px;}
.layer_in .step_prev img {padding-right:10px; vertical-align:middle;}


.stepmove {height:35px; width:858px; position:relative;}
.stepmove .step_next1 {width:858px; height:35px; right:0px; bottom:35px; clear:both; position:absolute; z-index:2; text-align:right; font-weight:700; text-decoration:underline; font-size:1.2em; color:#000; text-decoration:underline;}
.stepmove .step_next1 img {padding-left:10px; vertical-align:middle;}

.stepmove a {color:#000; text-decoration:underline;}

.stepmove .step_prev1 {width:858px; height:35px; right:0px; bottom:35px; clear:both; position:absolute; z-index:2; text-align:right; font-weight:700; text-decoration:underline; font-size:1.2em; color:#000;}
.stepmove .step_prev1 img {padding-right:10px; vertical-align:middle;}

.stepmove {height:35px; width:858px; position:relative; margin:0 auto;}
.stepmove p {float:left; width:50%;}
.stepmove div {float:left; width:50%;}
.stepmove .step_prev2 {width:429px; height:35px; left:0px; bottom:35px; position:absolute; z-index:2; font-weight:700; font-size:1.2em; color:#000;; text-align:left; text-decoration:underline;}
.stepmove .step_prev2 img {padding-right:10px; vertical-align:middle;}
.stepmove .step_next2 {width:429px; height:35px; right:0px; bottom:35px; position:absolute; z-index:2; font-weight:700; font-size:1.2em; color:#000; text-align:right; text-decoration:underline;}
.stepmove .step_next2 img {padding-left:10px; vertical-align:middle;}
.stepmove .step_save {width:429px; height:35px; right:0px; bottom:50px; position:absolute; z-index:2; font-size:1em;}
.stepmove .step_save a .layer_btn1, .stepmove .step_save a .layer_btn2 {text-decoration:none; float:right; width:80px;}
.stepmove .step_save a .layer_btn2 {margin-left:2px;}
.stepmove .step_next2 span {float:right;}
.stepmove .step_prev2 a {color:#000; text-decoration:underline;}
.stepmove .step_next2 a {color:#000; text-decoration:underline;}



/*0331추가*/
.regist_in table tr td.test_name input.rea_input {height:30px; line-height:30px; border:1px solid #bdbdbd; width:600px; padding:0 10px;}
.regist_in table tr td.subject textarea.rea_tt {border:1px solid #5ad5f8; width:600px; height:30px; padding:10px;}


/* 응시자 단체등록 */
.group_layer {width:670px; border:1px solid #000; background-color:#fff; margin:auto; overflow:hidden;}
.group_layer .group_in {padding:10px 60px; min-height:200px;}
.gb_space {padding-top:24px;}
.group_layer .group_in h4 {font-size:1.3em; color:#000; margin-bottom:6px; text-align:left;}
.group_layer .group_in h4 em {color:#0c92e9;}
.group_layer .group_in .gb_infor {margin-bottom:10px; color:#999; font-size:.9em; text-align:left;}

.upload_box {padding:12px 15px; border:1px solid #ccc; background-color:#f5f5f5;}
.upload_box.group {margin:0 auto 5px auto;}
.upload_box .route {width:100%; height:22px;}
.upload_box .route div {display:inline-block;}
.upload_box .route .load {float:left; width:80%;}
.upload_box .route .load input {border:1px solid #ccc; background-color:#fcfcfa; height:20px; line-height:20px; width:406px;}
.upload_box .route .loadbtn {float:right; padding:0 20px; background-color:#4c6172; color:#fff; text-align:center;/*  width:12%; */ height:22px; line-height:22px;}
.volume {text-align:left; padding-left:2px; color:#888; font-size:.9em; margin-top:5px;}
.volume em {font-weight:bold;}

.up_add {display:inline-block; width:548px; font-weight:700; padding:5px 0; margin-bottom:30px; text-align:center; border:1px solid #ccc; color:#4c6172;}

.gb_btn_wrap {height:70px; width:550px; position:relative; margin:0 auto; padding-top:8px; border-top:1px dotted #666;}
.gb_btn_wrap .gb_btn {position:absolute; width:550px; height:70px; right:0px; bottom:0; clear:both; z-index:2;}
.gb_btn_wrap .gb_btn .layer_btn1 {float:right;}
.gb_btn_wrap .gb_btn .layer_btn1.navy {float:left;}


/* mail_sms */
.report_bg.sms {width:600px; min-height:470px}
.report_wrap.sms {width:600px; min-height:470px;}
.sms_tab_wrap {margin-bottom:30px; padding-bottom:32px; border-bottom:1px solid #28428d;}
.sms_tab_wrap .sms_tab {float:left; padding-top:40px; display:inline-block; padding:8px 40px; font-weight:700; font-size:1.2em; border:1px solid #28428d; border-bottom:none; color:#28428d; border-top-right-radius:0.4em; border-top-left-radius:0.4em;}
.sms_tab_wrap .sms_tab.on {background-color:#28428d; color:#fff; border:1px solid #28428d; border-bottom:none;}
.sms_table {width:100%;}
.sms_table tr th {vertical-align:top; text-align:left; padding:4px 0;}
.sms_table tr th span {display:inline-block; background-color:#eee; padding:2px 5px;}
.sms_table tr td {vertical-align:top; text-align:left; padding:2px 0;}
.sms_table tr td input {width:96%; padding:5px;}
.sms_table tr td.on input {border:1px solid #00aeff;}
.sms_table tr td textarea {height:270px; width:96%; padding:5px;}
.sms_table tr td.on textarea {border:1px solid #00aeff;}
.sms_table tr td textarea.sms_area {height:300px; width:96%; padding:5px;}
.sms_btn {margin-top:7px; text-align:center;}
.sms_btn span {padding:9px 30px;}
.sms_btn span img {vertical-align:middle; padding-left:4px;}


/* 공지사항 쓰기 팝업_sun*/
.report_wrap .report_in table.board_wr {width:100%; padding:15px 0;}
.report_wrap .report_in table.board_wr tr th{width:100%; height:45px; text-align:left; border-bottom:1px solid #e0e0e0;  border-top:3px solid #0a94b0; padding-left:20px; background:url(../img/step/bd_wr_ar.png) no-repeat right center;}
.report_wrap .report_in table.board_wr tr th span{color:#029cce; font-weight:bold; padding-right:5px;}
.report_wrap .report_in table.board_wr tr td{width:100%;}
.report_wrap .report_in table.board_wr tr td textarea {height:270px; width:96%; padding:2%;}
.report_wrap .report_in table.board_wr tr td.on textarea {border:1px solid #00aeff;}
.sh_btn3 {display:inline-block; padding:6px 14px; background-color:#2d4c9e; color:#fff; font-weight:700; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
.sh_btn4 {display:inline-block; padding:6px 14px; background-color:#555555; color:#fff; font-weight:700; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}


/* faq 쓰기 팝업_sun*/
.report_wrap .report_in table.fw {width:100%; padding:5px 0; border-top:3px solid #0a94b0;}
.report_wrap .report_in table.fw td{border-bottom:1px solid #e0e0e0; height:45px;}
.report_wrap .report_in table.fw td.ar{border-bottom:1px solid #e0e0e0; height:45px; background:url(../img/step/bd_wr_ar.png) no-repeat right center;}
.report_wrap .report_in table.fw td span{color:#029cce; font-weight:bold; padding-right:5px;}
.report_wrap .report_in table.fw td textarea{height:270px; width:96%; padding:2%;}
.report_wrap .report_in table.fw td textarea.on{border:1px solid #00aeff;}
.report_wrap .report_in table.fw td input{height:15px; width:96%; padding:2%; border:1px solid #ededed;}
.report_wrap .report_in table.fw td input.on{border:1px solid #00aeff;}



/* 자동문제출제 */
.info_layer.auto {width:450px; min-height:550px;}
.info_layer .info.auto {width:450px; height:550px;}

.info_layer .info .con.auto {width:415px; height:400px; padding:15px 20px 15px 15px; overflow-x:hidden; overflow-y:hidden;}
.info_layer .info .an_search.auto table {width:100%; margin-top:10px;}
.info_layer .info .an_search.auto .autotext {font-size:.9em; color:#999; text-decoration:none; font-weight:normal; padding-left:5px;}
.info_layer .info .an_search.auto table tr th {vertical-align:middle;}
.info_layer .info .an_search.auto table tr th img {vertical-align:middle;}
.info_layer .info .an_search.auto table tr th, .an_search.auto table tr td {padding:5px 20px;}
.info_layer .info .an_search.auto table tr td em {font-size:.9em; color:#888;}
.auto_e {width:80px; padding:5px; text-align:center;}



/* 시험지미리보기 exam_view */
.report_bg.view {width:640px; min-height:780px;}
.report_wrap.view {width:640px; min-height:780px; padding-bottom:20px;}
.report_wrap .report_in .report_a.view {margin:0 auto 20px auto;}
.report_wrap.view .exam_view {overflow-x:hidden; overflow-y:scroll; height:600px; color:#666;}
.report_wrap.view .exam_view div {float:left; width:46%; min-height:100%;}
.report_wrap.view .exam_view .view_left {border-right:1px solid #ccc; padding-right:12px;}
.report_wrap.view .exam_view .view_right {padding-left:12px;}
.report_wrap.view .exam_view .v_no {font-weight:700; text-decoration:underline; color:#000; margin-bottom:4px;} 
.report_wrap.view .exam_view .v_q {text-align:justify; line-height:130%; margin-bottom:10px; color:#333;}
.report_wrap.view .exam_view .v_img {border:1px solid #ccc; height:150px; margin-bottom:10px;}
.report_wrap.view .exam_view .view_a {padding-left:5px; padding-bottom:15px; margin-bottom:20px; border-bottom:1px dashed #ccc;}
.report_wrap.view .exam_view .view_a li {min-height:20px; line-height:120%; margin-bottom:4px;}
.report_wrap.view .exam_view span.v_no_ex {float:left; font-weight:normal; border:1px solid #ccc; padding:0 4px; font-size:.9em; margin-right:5px;}
.report_wrap.view .exam_view span.v_in_ex {width:91%; vertical-align:middle;}


/* assign q_view */
.q_total {text-align:right; font-weight:700; color:#000; padding:0 8px 2px 0; letter-spacing:.1em;}
.q_view_no {border:1px solid #999; padding:8px 10px; margin-bottom:25px; overflow-y:scroll; overflow-x:hidden; height:74px;}
.q_view_no ul li {float:left; background-color:#e6e6e6; color:#888; margin:3px; font-size:1.2em; width:30px; height:32px; line-height:30px; text-align:center; font-weight:bold; letter-spacing:-0.05em; border-radius:.4em;}
.q_view_no ul li.on {background-color:#333; color:#fff;}
.report_wrap.view .q_view {height:530px; padding-right:15px; overflow-x:hidden; overflow-y:scroll; font-size:1.1em;}
.report_wrap.view .q_view .qv_no {margin-bottom:7px; font-size:1.2em; font-weight:bold; text-decoration:underline; color:#000; text-align:left;} 
.report_wrap.view .q_view .qv_q {margin-bottom:10px; text-align:justify; line-height:130%; color:#333;}
.report_wrap.view .q_view .qv_img {border:1px solid #ccc; width:546px;}
.report_wrap.view .q_view .qview_a {padding-top:4px;}
.report_wrap.view .q_view .qview_a li {line-height:120%; padding:8px 0; border-bottom:1px solid #ddd; display:inline-block; width:548px; text-align:left;}
.report_wrap.view .q_view span.qv_no_ex {float:left; font-size:1.1em; font-weight:normal; border:1px solid #0065b3; padding:0 8px; line-height:26px; height:26px; color:#0065b3; font-weight:700; margin-left:8px; border-radius:3em;}
.report_wrap.view .q_view span.qv_in_ex {width:90%; vertical-align:middle; float:right; text-align:left; padding:5px 0; margin-right:8px;}
.report_wrap.view .q_view .qview_a li.on {color:#0065b3; font-weight:700; background:url(../img/check2.png) 40px 10px no-repeat #f1f5ff;}
.report_wrap.view .q_view li.on span.qv_no_ex {background-color:#0065b3; color:#fff;}
.report_wrap.view .q_view .qend {text-align:right; padding:40px 10px 12px 10px; background:url(../img/step/eline.png) bottom repeat-x;}



/* enforce */
.layer_in .layer_list.enf {margin-top:0px;}
.linespace {padding:10px;}
span.exbtn {background:#fff; padding:3px 8px; color:#666; border:1px solid #ccc; border-radius:0.4em; display:inline-block; font-size:.9em; margin-bottom:5px;}
span.exbtn img {vertical-align:middle; padding-right:6px;}
span.exbtn em {display:inline-block; vertical-align:middle;}
.layer_list .scroll.enf {height:460px;}
.layer_list table tr td.site_name.e {text-align:left; background:url(../img/step/category.png) 28px 4px no-repeat #fafafa; padding-left:60px;}


/* 자리배치도 출력 */
.info_layer.enf {width:842px; height:595px; padding:0; position:absolute; top:0; margin:0 auto; z-index:100;}
.info_layer .info.enf {width:842px; height:595px; z-index:200; border:1px solid #223786; background:#fff; margin:0 auto;}
.info_layer .info .tit.enf {width:842px; height:50px; background:#223786;}
.info_layer .info .tit.enf img {float:right; padding:5px 5px 0 0;}
.info_layer .info .tit.enf p {color:#eafaff; padding:25px 0 0 20px;}
.info_layer .info .tit p em {font-size:1.2em; font-weight:700; color:#fff;}
.con_box.enf {height:450px;}
.con_box .enf_top {text-align:center; margin-bottom:20px;}
.con_box p span.con_center {display:inline-block; background-color:#e4ecff; width:400px; height:30px;}
.con_box ul.enf_con {text-align:center; padding:0; margin:0 auto; clear:both; display:inline-block;}
.con_box ul.enf_con li {float:left; width:91px; height:29px; padding:10px 0; line-height:130%; color:#888; background-color:#fff; border:1px solid #bfcded; font-weight:700; margin:3px;}
.con_box ul.enf_con li.onchange {background-color:#7bb23e; border:1px solid #6ca733; color:#fff; font-weight:700;}
.info .con_btn.enf {text-align:right; margin:0 25px; bottom:15px; right:0; position:absolute;}
.info .con_btn.enf div img {vertical-align:middle; padding-right:10px;}


/* Lee 추가 */
.pop-layer {display:none; position: absolute; top: 50%; left: 50%; width: 550px; height:auto;  background-color:#fff; border: 5px solid #3571B5; z-index: 10;}   
.pop-layer .pop-container {padding: 20px 25px;} 
.pop-layer p.ctxt {color: #666; line-height: 25px;} 
.pop-layer .btn-r {width: 100%; margin:10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align:right;} 
a.cbtn {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #304a8a; background-color:#3f5a9d; font-size:13px; color:#fff; line-height:25px;}  
a.cbtn:hover {border: 1px solid #091940; background-color:#1f326a; color:#fff;}
.season2 {padding:0;width:70px;height:25px;cursor:hand; cursor:pointer; text-align:center; font-weight:bold}


/* 2015.02.17 시험지생성_수동 추가 */
.layer_in.manual {margin:0 auto; padding:0 30px; height:auto;}
.layer_in .modify_box.m {overflow:hidden; margin:30px auto 0 auto;}
.modify_box .modify_left.m {min-height:415px; width:385px;}
.modify_box .modify_right.m {min-height:415px; width:385px;}
.modify_box .modify_border.m {height:375px; width:363px; padding:10px; text-align:center;}
.modify_box .modify_border.m .anbox {width:325px;}
.modify_box .modify_ar.m {padding-top:170px; text-align:center;}

.layer_in .an_search tr .level img {vertical-align:middle;}
.layer_in .an_search tr .level input {border:none; width:20px; vertical-align:middle;}
.layer_in .an_search tr .type input {border:none; width:20px; vertical-align:middle;}


/*2015.03.05 유형선택박스 추가*/

/* 유형박스 추가*/
.examinee_wrap .hu_box{ width:143px; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box .hu_text{ display:inline-block; width:75px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.examinee_wrap .hu_box .hu_co{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:10px;}
.examinee_wrap .hu_box .hu_co:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }



/* 유형선택박스 popup*/
.pop_hu{ width:400px; height:200px; border:2px solid #385d8a;}
.pop_hu .pop_text{ text-align:center; margin-top:20px; font-size:1.4em; font-weight:bold; color:#3e3e3e; }
.pop_hu .pop_text2{ text-align:center; margin-top:5px; font-size:1.4em; font-weight:bold; color:#818181;}
.pop_hu .pop_line{ display:inline-block; width:350px; height:2px; background-color:#385d8a; margin-left:25px; margin-top:10px;}
.pop_hu .pop_bb{ margin-top:10px;}
.pop_hu .pop_box1{ display:inline-block; width:20px; float:left; text-align:center; background-color:#dce6f2; border:1px solid #385d8a; font-size:22px; font-weight:600; padding:3px 4px 2px 4px; margin-top:7px; margin-left:25px;}
.pop_hu .pop_box1:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:22px; font-weight:600; padding:3px 4px 2px 4px; margin-top:7px;}
.pop_hu .pop_box{ display:inline-block; width:20px; text-align:center; background-color:#dce6f2; border:1px solid #385d8a; font-size:22px; font-weight:600; padding:3px 4px 2px 4px; margin-top:7px; margin-left:10px;}
.pop_hu .pop_box:hover{ display:inline-block; width:20px; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:22px; font-weight:600; padding:3px 4px 2px 4px; margin-top:7px;}
.pop_hu .pop_ok{ display:inline-block; width:70px; line-height:30px; margin-top:20px; margin-left:128px; background:#0065b3; color:#fff; font-size:14px; text-align:center; font-weight:600;}
.pop_hu .pop_ok2{ display:inline-block; width:70px; line-height:30px; background:#0065b3; color:#fff; font-size:14px; text-align:center; font-weight:600;}


/* 2015.4.24 class1 */
.examinee_wrap .hu_box1{ width:100%; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box1 .hu_text1{ display:inline-block; width:50%; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.examinee_wrap .hu_box1 .hu_co1{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:155px;}
.examinee_wrap .hu_box1 .hu_co1:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* 2015. 4. 24 class(2) */
.examinee_wrap .hu_box2{ width:49%; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box2 .hu_text2{ display:inline-block; width:49%; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.examinee_wrap .hu_box2 .hu_co2{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:70px;}
.examinee_wrap .hu_box2 .hu_co2:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* 2015.4.24 class(3)*/
.examinee_wrap .hu_box3{ width:32.4%; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box3 .hu_text3{ display:inline-block; width:45%; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.examinee_wrap .hu_box3 .hu_co3{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:42px;}
.examinee_wrap .hu_box3 .hu_co3:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/*2015. 4. 24 class(4)*/
.examinee_wrap .hu_box4{ width:24%; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box4 .hu_text4{ display:inline-block; width:75px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.examinee_wrap .hu_box4 .hu_co4{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:27px;}
.examinee_wrap .hu_box4 .hu_co:hover4{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* 2015. 4.24 class(5)*/
.examinee_wrap .hu_box5{ width:143px; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box5 .hu_text5{ display:inline-block; width:75px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.examinee_wrap .hu_box5 .hu_co5{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:10px;}
.examinee_wrap .hu_box5 .hu_co5:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* 2015. 4.24 class(6)*/
.examinee_wrap .hu_box6{ width:15.7%; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box6 .hu_text6{ display:inline-block; width:auto; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.examinee_wrap .hu_box6 .hu_co6{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:5px;}
.examinee_wrap .hu_box6 .hu_co6:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* 2015.4.24 class(7)*/
.examinee_wrap .hu_box7{ width:13.3%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box7 .hu_text7{ display:inline-block; width:75px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:11px; padding-right:11px; float:left; border-bottom:1px dotted #666;}
.examinee_wrap .hu_box7 .hu_co7{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:33px; margin-bottom:5px;}
.examinee_wrap .hu_box7 .hu_co7:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* 2015.4.24 class(8) */
.examinee_wrap .hu_box8{ width:11.5%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box8 .hu_text8{ display:inline-block; width:75px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:6px; padding-right:6px; float:left; border-bottom:1px dotted #666;}
.examinee_wrap .hu_box8 .hu_co8{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:28px; margin-bottom:5px}
.examinee_wrap .hu_box8 .hu_co8:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* 2015.4.24 class(9) */
.examinee_wrap .hu_box9{ width:10.1%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box9 .hu_text9{ display:inline-block; width:75px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-right:2px; float:left; border-bottom:1px dotted #666;}
.examinee_wrap .hu_box9 .hu_co9{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:24px; margin-bottom:5px}
.examinee_wrap .hu_box9 .hu_co9:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* 2015.4.24 class(10) */
.examinee_wrap .hu_box0{ width:9%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.examinee_wrap .hu_box0 .hu_text0{ display:inline-block; width:68px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-right:-5px; float:left; border-bottom:1px dotted #666;}
.examinee_wrap .hu_box0 .hu_co0{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:20px; margin-bottom:5px}
.examinee_wrap .hu_box0 .hu_co0:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }


/* 2015. 4. 28 */

.view_left{ width:400px; height:480px; border:1px solid #ccc; float:left; overflow:hidden; overflow-y:scroll;}
.view_left .view_tb{ width:360px; border-top:2px solid #666; border-bottom:2px solid #666; margin:10px 10px;}
.view_left .view_tb .view_th1{ text-align:left; border-bottom:1px dotted #888; padding-left:10px;}
.view_left .view_tb .view_th2{ text-align:left; padding-left:10px;}
.view_left .view_tb .view_td1{ border-bottom:1px dotted #888;}
.view_left .view_tb .view_td1 input{ width:180px; height:20px; line-height:20px; }
.view_left .view_tb .view_td2 input{ width:80px; height:20px; line-height:20px; }
.view_p{ padding:5px 20px; color:#007ecb; font-weight:bold; }
.view_search{ margin-top:8px; text-align:right; margin-right:5px;}
.view_search .view_bt1{ display:inline-block; padding:6px 14px; background-color:#0065b3; color:#fff; font-weight:700; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em;}
.view_search .view_bt1 img{ vertical-align:middle;}
.view_search .view_bt2{ display:inline-block; padding:6px 14px; background-color:#4c6172; color:#fff; font-weight:700; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; }


.view_box_2{ margin-top:20px;}
.view_box_2 .view_p2{ font-size:0.9em; color:#999; text-decoration:none; font-weight:normal; padding-left:10px;}
.view_box_2 .view_tb2{ width:360px; border-top:2px solid #666; border-bottom:2px solid #666; margin:10px 10px;}
.view_box_2 .view_tb2 th{ border-bottom:1px solid #000; padding:8px 10px; line-height:16px;}
.view_box_2 .view_tb2 td{ border-bottom:1px dotted #000; text-align:center; padding:8px 10px; line-height:16px;}
.view_box_2 .view_tb2 .view_check{margin:0 auto; width:40px; height:20px; line-height:21px; text-align:center; border:1px solid #ccc; background-color:#f0f1f2; color:#888;}
.view_box_2 .view_tb2 .view_check_on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; margin:0 auto; width:40px; height:20px; line-height:20px; border:1px solid #a40918; color:#fff;}
.view_bt3_box{ text-align:center;}
.view_bt3{ display:inline-block; padding:6px 14px; background-color:#4c6172; color:#fff; font-weight:700; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; }


.view_center{ width:45px; height:250px; margin-left:15px; margin-right:15px; float:left; text-align:center; padding-top:190px;}
.view_center .view_l_go{ padding-bottom:10px;}
.view_select{ text-align:center;}
.view_select_sp{ display:inline-block; margin-top:30px; font-size:16px; font-weight:bold; background:#0065b3; padding:10px 30px; color:#fff; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; }


.view_right{ width:300px; height:480px; border:1px solid #ccc; float:left; overflow:hidden; overflow-y:scroll;}
.view_box3_2{ margin-top:20px;}
.view_box2_2 .view_p2{ font-size:0.9em; color:#999; text-decoration:none; font-weight:normal; padding-left:10px;}
.view_box2_2 .view_tb3{ width:275px; border-top:2px solid #666; border-bottom:2px solid #666; margin:10px 10px;}
.view_box2_2 .view_tb3 th{ border-bottom:1px solid #000; padding:8px 10px; line-height:16px;}
.view_box2_2 .view_tb3 td{ border-bottom:1px dotted #000; text-align:center; padding:8px 10px; line-height:16px;}

.view_select{ text-align:center;}
.view_select_sp{ display:inline-block; margin-top:20px; font-size:12px; font-weight:bold; background:#0065b3; padding:8px 20px; color:#fff; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; }


/*2*/
.view_left2{ width:263px; height:480px; border:1px solid #ccc; float:left; overflow:hidden; overflow-y:scroll; margin-right:20px;}
.view_box_3{ margin-top:20px;}
.view_box_3 .view_p2{ font-size:0.9em; color:#999; text-decoration:none; font-weight:normal; padding-left:10px;}
.view_box_3 .view_tb2{ width:190px; border-top:2px solid #666; border-bottom:2px solid #666; margin:10px 10px;}
.view_box_3 .view_tb2 th{ border-bottom:1px solid #000; padding:8px 10px; line-height:16px;}
.view_box_3 .view_tb2 td{ border-bottom:1px dotted #000; text-align:center; padding:8px 10px; line-height:16px;}
.view_box_3 .view_tb2 .view_check{margin:0 auto; width:40px; height:20px; line-height:21px; text-align:center; border:1px solid #ccc; background-color:#f0f1f2; color:#888;}
.view_box_3 .view_tb2 .view_check_on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; margin:0 auto; width:40px; height:20px; line-height:20px; border:1px solid #a40918; color:#fff;}
.view_bt3_box{ text-align:center;}
.view_bt3{ display:inline-block; padding:6px 14px; background-color:#4c6172; color:#fff; font-weight:700; text-align:center; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; }


.view2_right2{ width:490px; height:480px; border:1px solid #ccc; float:left;}
.view2_right2 .vv2{  text-align:right; margin-top:20px; margin-right:10px;}
.view2_right2 .vv2 .vv2_bt4{ background:url(../img/check.png) 7px no-repeat #28428d; border:1px solid #283a7c; color:#fff; padding:5px 13px 5px 20px; margin-right:5px;}

.view2_right2 .vv3{ width:450px; height:390px; overflow-y:scroll; overflow-x:hidden; border:1px solid #afbee0; padding:6px; margin:15px;}
.view_select_sp2{ display:inline-block; margin-top:30px; font-size:16px; font-weight:bold; background:#cc0000; padding:10px 30px; color:#fff; border-bottom-left-radius:0.4em; border-top-right-radius:0.4em; }


/*2015.4.29 선택추가*/
.view_box2_2 .view_tb3 .view_check{margin:0 auto; width:40px; height:20px; line-height:21px; text-align:center; border:1px solid #ccc; background-color:#f0f1f2; color:#888;}
.view_box2_2 .view_tb3 .view_check_on {background:url(../img/step/check_w.png) 3px 3px no-repeat #ef0b1b; margin:0 auto; width:40px; height:20px; line-height:20px; border:1px solid #a40918; color:#fff;}


/*class1 */
.hu_box1{ width:100%; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box1 .hu_text1{ display:inline-block; width:50%; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.hu_box1 .hu_co1{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:85px;}
.hu_box1 .hu_co1:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* class2 */
.view2_right2 .hu_box2{ width:48%; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.view2_right2 .hu_box2 .hu_text2{ display:inline-block; width:49%; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.view2_right2 .hu_box2 .hu_co2{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:30px;}
.view2_right2 .hu_box2 .hu_co2:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* class(3)*/
.hu_box3{ width:31%; height:46px; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box3 .hu_text3{ display:inline-block; width:45%; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:9px; float:left; border-right:1px dotted #666;}
.hu_box3 .hu_co3{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:15px;}
.hu_box3 .hu_co3:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* class(4)*/
.hu_box4{ width:23%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box4 .hu_text4{ display:inline-block; width:75px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:11px; padding-right:11px; float:left; border-bottom:1px dotted #666;}
.hu_box4 .hu_co4{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:33px; margin-bottom:5px;}
.hu_box4 .hu_co4:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* class(5)*/
.hu_box5{ width:18.3%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box5 .hu_text5{ display:inline-block; width:58px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:11px; padding-right:11px; float:left; border-bottom:1px dotted #666; height:40px;}
.hu_box5 .hu_co5{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:25px; margin-bottom:5px;}
.hu_box5 .hu_co5:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* class(6)*/
.hu_box6{ width:15%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box6 .hu_text6{ display:inline-block; width:42px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:11px; padding-right:11px; float:left; border-bottom:1px dotted #666; height:60px;}
.hu_box6 .hu_co6{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:18px; margin-bottom:5px;}
.hu_box6 .hu_co6:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* class(7)*/
.hu_box7{ width:12.6%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box7 .hu_text7{ display:inline-block; width:32px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:11px; padding-right:11px; float:left; border-bottom:1px dotted #666; height:120px;}
.hu_box7 .hu_co7{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:12px; margin-bottom:5px;}
.hu_box7 .hu_co7:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* class(8)*/
.hu_box8{ width:10.8%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box8 .hu_text8{ display:inline-block; width:26px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:11px; padding-right:11px; float:left; border-bottom:1px dotted #666; height:120px;}
.hu_box8 .hu_co8{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; margin-left:9px; margin-bottom:5px;}
.hu_box8 .hu_co8:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:1.8em; font-weight:bold; padding:2px 4px; margin-top:7px; }

/* class(9)*/
.hu_box9{ width:9.4%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box9 .hu_text9{ display:inline-block; width:20px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:9px; padding-right:11px; float:left; border-bottom:1px dotted #666; height:120px;}
.hu_box9 .hu_co9{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:17px; font-weight:bold; padding:1px 3px; margin-top:7px; margin-left:6px; margin-bottom:5px;}
.hu_box9 .hu_co9:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:17px; font-weight:bold; padding:1px 3px; margin-top:7px; }

/* class(10)*/
.hu_box0{ width:8.35%; height:auto; background-color:#e0e6f8; border:1px solid #afbee0; float:left; margin-top:5px; margin-right:5px;}
.hu_box0 .hu_text0{ display:inline-block; width:20px; line-height:20px; text-align:center; color:#666; font-weight:600; padding-top:5px; padding-left:5px; padding-right:11px; float:left; border-bottom:1px dotted #666;}
.hu_box0 .hu_co0{ display:inline-block; width:20px; float:left; text-align:center; background-color:#c6d9f1; border:1px solid #859ebf; font-size:17px; font-weight:bold; padding:1px 3px; margin-top:7px; margin-left:4px; margin-bottom:5px;}
.hu_box0 .hu_co0:hover{ display:inline-block; width:20px; float:left; text-align:center; background-color:#4f81bd; border:1px solid #385d8a; color:#fff; font-size:17px; font-weight:bold; padding:1px 3px; margin-top:7px; }

/* 텍스트에디터 수정 2016-02-16 */
#headScriptList .cke{width:850px; margin:0; position:absolute; top:8px; }