@charset "utf-8";
/* CSS Document */

@charset "utf-8";

/*
 * File name : common.css
 * Version : 1.0(2013-02-26) YYYY-MM-DD
 * Website : http://
 * Author : LUJ
 * Modify : (YYYY-MM-DD)
 * Description: Layout, Main, Common style
 * Page Width : fixed
 * Structer : 
 * Naming rule : camelCase, number_(underscore)
 */

/* Reset */
body,div, dl, dt, dd, ol, ul, li, h1, h2,h3,h4,form,fieldset,p,button{margin:0; padding:0;}
body,input,select,textarea{color:#333; font-family:dotum,'돋움',gulim,'굴림','맑은 고딕', Helvetica,sans-serif; font-size:.75em; color:#555;}
img,fieldset{border:0 none;}
caption{display:none;}
button, input, select, textarea{vertical-align:middle;}
img{vertical-align:middle;}
*+html button{vertical-align:top; padding-top:2px !important;}/* ie7 */
/* *+html input{vertical-align:top; padding-top:2px !important;}/* ie7 */
*html button{vertical-align:top; padding-top:2px !important;}/* ie6 */
/* *html input{vertical-align:top; padding-top:2px !important;}/* ie6 */
button{border:none; cursor:pointer;}
select{font-size:1em; border:1px solid #ccc;}
input{font-size:1em; border:1px solid #ccc;}
input[type="checkbox"]{border:0;}
input[type="file"]{background:#fff; border:1px solid #ccc; margin:3px;}
input[type="radio"]{margin-top:-2px; margin-left:6px;}
input[type="text"]{margin:2px;}
input[type="password"]{margin:2px;}
label{cursor:pointer;}
textarea{overflow:auto; padding:5px; font-size:1em; margin:3px;}
ol, ul, li, dl, dt, dd{list-style:none outside;}
a, a:link, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
a:link    { font-family:굴림체,arial; color:#3f3f3f; text-decoration:none; }
a:active  { font-family:굴림체,arial; color:#FFFFFF; text-decoration:none; }
a:visited { font-family:굴림체,arial; color:#555555; text-decoration:none; }
/*a:hover   { font-family:굴림체,arial; color:#cc9900; text-decoration:underline; }*/
hr{display:none;}
em{text-decoration:none; font-style:normal; }
input.rd{margin-top:-2px; margin-right:2px;}
strong{color:#000; font-weight:700; text-decoration:underline;}
h1, h2, h3, h4, h5{margin:0; padding:0; background:none;}
html, body {height:100%;}

/* login */
.top {width:100%; height:75px; border-top:5px solid #0354a5; border-bottom:1px solid #949494; background-color:#fff; position:relative;}
.top .logo {position:absolute; top:0; left:0;}
.top p.gnb {text-align:right; padding-top:10px; padding-right:10px; font-size:.95em;}

.con {width:1000px; margin:0 auto; margin-top:183px;}
.con .input {width:804px; height:166px; margin-left:107px; background:url(../img/login/log_con.gif) no-repeat;}
	.con .input ul.box {float:left; width:289px; height:135px; margin-left:371px;}
	.con .input ul li {float:left; width:289px; height:40px;}
	.con .input ul li.id {float:left; padding:27px 0 7px 0;}
	.con .input ul li.pw {float:left; padding-bottom:7px;}	
		.con .input ul li input {float:left; width:277px; height:36px; line-height:36px; border:1px solid #CCC; font-size:1.2em; padding-left:10px;}
	.con .input .btn {float:left; padding-top:29px; padding-left:12px; }
	.con .input p.save {float:left; margin-left:371px;}
.con .text {float:right; margin:20px 0 0 107px;}

/* sub */
.wrap {width:100%; background:url(../img/sub_bg.gif) repeat-x; margin:0 auto;}


/* copy */
.copy {width:100%; left:0px; bottom:0px; text-align: center; font-size:.9em; color:#909090; padding:10px 0; clear:both; border-top:1px solid #c8c8d0; position:fixed; letter-spacing:1px;} 
