@charset "utf-8";
/* CSS Document */


/* top */
.top {width:100%; height:75px; position:fixed; left:0; border-top:5px solid #0354a5; border-bottom:1px solid #949494; background-color:#fff; z-index:2 }	
.top .t_logo {position:absolute; top:0; left:0;}
.top .gnb {text-align:right; padding-right:130px; padding-top:10px; font-size:.9em; color:#666; height:25px;}
.top .gnb .log {color:#0354a5; background-color:#eaeaea; padding:3px 5px; font-weight:700; margin-right:5px;}
.top .gnb .log a {color:#0354a5;}
.top .gnb .mypage {margin-left:5px; text-decoration:underline;}
.top .gnb .mypage a {text-decoration:underline; color:#666;}
.top .menu {width:992px; margin:0 auto; height:40px;}
.top .menu li {float:left; display:inline-block; width:25%; text-align:center; font-size:1.4em; font-weight:bold; padding:8px 0 10px 0; height:20px;}

.top .menu .tm {background:url(../img/tm_bg.png) right 3px no-repeat;}
.top .menu a li {color:#333;}
.top .menu li.on {border-bottom:3px solid #0a57a5; color:#0a57a5;}
.top .menu a li.on {color:#0a57a5;}

.top .menu li.tm2 {width:20%; background:url(../img/tm_bg.png) right 3px no-repeat;}
.top .menu li.tm2_last {width:20%;}

.top .menu li.tm3 {width:16%; background:url(../img/tm_bg.png) right 3px no-repeat;}
.top .menu li.tm3_last {width:16%;}

										
/*right */			
.right {width:139px; height:100%; right:0px; bottom:0px; top:0px; clear:both; position:fixed; z-index:3;} 
.right .arrow {float:left; width:19px; height:100%; padding-top:250px;} 
.right .tab {float:left; width:120px; height:100%; background:url(../img/r_bg.png) repeat-y; padding:0; margin:0;}
.right .tab ul {margin:80px 0 0 0; padding:0;}
.right .tab ul .rm {background:url(../img/r_li_bg.png) bottom no-repeat; width:90px; height:31px; line-height:41px; text-align:left; padding:0 0 10px 30px; font-weight:bold; font-size:1.2em;}
.right .tab ul li.on {background:url(../img/r_li_on.png) no-repeat; color:#fff;}	
.right .tab ul a li {color:#dedede;}
.right .tab ul li.on a {color:#fff;}
.right .tab ul a:hover {text-decoration:none;}


/*right */

/*right 숨겼을때 *
.right {width:19px; height:100%; right:0px; bottom:0px; clear:both; position:fixed; background:url(../img/r_bg.png) repeat-y; z-index:2} 
	.right .arrow {float:left; width:19px; height:100%; padding-top:227px;} 
/*right 숨겼을때 */
