﻿@charset "utf-8";

/* CSS Document */

/* Reset */
body,div, dl, dt, dd, ol, ul,li,h1,h2,h3,h4,form,fieldset,p,button,textarea{margin:0; padding:0}
body {-webkit-text-size-adjust: none; background-color:#fafafa;}
body,input,select,textarea, a {color:#000; font-family: dotum,'돋움',gulim,'굴림', Arial, sans-serif}
body {font-size:1em;}
img,fieldset{border:0 none}
caption{display:none}
button, img, input, select, textarea{vertical-align:middle}
a {text-decoration:none;}
select{border:1px solid #ccc}
li{list-style:none;}
em{text-decoration:none; font-style:normal}


#wrap {width:800px; min-height:1094px; padding-bottom:60px; -webkit-font-smoothing: antialiased;}
#wrap .top {margin:40px 85px 60px 85px; background:url(../img/research/title_bg.png) no-repeat; height:62px;}
#wrap .top .tit {text-align:center; padding-left:50px; font-family:"나눔고딕", NanumGothic; font-size:1.8em;}
#wrap .top .infor {text-align:center; padding:10px 30px 0 80px; font-size:.95em; color:#333; line-height:140%; word-break:keep-all;}
#wrap .qbox {margin:0 40px 0 40px; text-align:left;}
#wrap .qbox .q {font-weight:700; color:#333; background:url(../img/research/q.png) 10px no-repeat; line-height:22px; padding:10px 10px 8px 45px;}
#wrap .qbox .q.row {background:url(../img/research/q.png) 10px 7px no-repeat;}
#wrap .qbox .re {background-color:#e9eef2; background:url(../img/research/a.png) 10px top no-repeat; padding:1px 0 20px 45px;}
#wrap .qbox .re p {padding:0 0 3px 0; margin:0;}
#wrap .qbox .re span {display:inline-block; border:1px solid #ccc; background-color:#f3f3f3; color:#aaa; font-size:.8em; padding:4px 8px; font-weight:700;}
#wrap .qbox .re span.on {border:1px solid #25a7e1; background:url(../img/research/check.png) 1px top no-repeat #dbf0fd; color:#25a7e1;}
#wrap .qbox .dot_line {border-bottom:1px dotted #999; margin-bottom:10px;}

.space {padding-bottom:50px;}

#wrap .qbox.bg {background-color:#f3f3f3; padding:2px 0 10px 0; border:1px dotted #999;}
#wrap .qbox .textbox {text-align:center;}
#wrap .qbox .textbox textarea {width:663px; height:200px; border:1px solid #c7c7c7; margin:10px; padding:10px; text-align:left;}

.btn {text-align:center; margin-top:30px;}


