@charset "utf-8";
/* CSS Document */

@charset "utf-8";

/*
 * File name : common.css
 * Version : 1.0(2013-02-26) YYYY-MM-DD
 * Website : http://
 * Author : LUJ
 * Modify : (YYYY-MM-DD)
 * Description: Layout, Main, Common style
 * Page Width : fixed
 * Structer : 
 * Naming rule : camelCase, number_(underscore)
 */

/* Reset */
body,div, dl, dt, dd, ol, ul, li, h1, h2,h3,h4,form,fieldset,p,button{margin:0; padding:0;}
body,input,select,textarea{color:#333; font-family:dotum,'돋움',gulim,'굴림','맑은 고딕', Helvetica,sans-serif; font-size:.75em; color:#555;}
img,fieldset{border:0 none;}
caption{display:none;}
button, input, select, textarea{vertical-align:middle;}
img{vertical-align:middle;}
*+html button{vertical-align:top; padding-top:2px !important;}/* ie7 */
/* *+html input{vertical-align:top; padding-top:2px !important;}/* ie7 */
*html button{vertical-align:top; padding-top:2px !important;}/* ie6 */
/* *html input{vertical-align:top; padding-top:2px !important;}/* ie6 */
button{border:none; cursor:pointer;}
select{font-size:1em; border:1px solid #ccc;}
input{font-size:1em; margin:0; padding:0;}
input[type="checkbox"]{border:0;}
input[type="file"]{background:#fff; border:1px solid #ccc; margin:3px;}
input[type="radio"]{margin-top:-2px;}
input[type="text"]{}
input[type="password"]{margin:2px;}
label{cursor:pointer;}
textarea{overflow:auto; margin:0; padding:10px; border:1px solid #ccc; font-size:1em;}
ol, ul, li, dl, dt, dd{list-style:none outside;}
a, a:link, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
a:link    { font-family:돋움,arial; color:#3f3f3f; text-decoration:none; }
a:active  { font-family:돋움,arial; color:#FFFFFF; text-decoration:none; }
a:visited { font-family:돋움,arial; color:#555555; text-decoration:none; }
/*a:hover   { font-family:굴림체,arial; color:#cc9900; text-decoration:underline; }*/
hr{display:none;}
em{text-decoration:none; font-style:normal; }
input.rd{margin-top:-2px; margin-right:2px;}
strong{color:#000; font-weight:700; text-decoration:underline;}
h1, h2, h3, h4, h5{margin:0; padding:0; background:none;}
html, body {height:100%;}



/* sub */
.wrap {width:100%; min-height:100%; margin:0 auto;}
.wrap .contents {width:1200px; margin:0 auto; padding:120px 0;}
		
	/*
	.wrap .contents {float:left; width:83%; height:100%; margin:10% 0 0 15%; padding:0px 0; }		
					
		.wrap .contents .search {float:left; width:990px; height:56px; background:#fcfcfa; border:1px solid #e3e4e5; margin-top:36px;}
		
			.wrap .contents .search .q {float:left; width:215px; height:24px; padding:20px 0 0 38px;}
			.wrap .contents .search .q span {color:#373634; font-size:1em; padding-right:30px;}			
			.wrap .contents .search .q select {width:133px; height:22px; border:1px solid #70706e;}
								
			.wrap .contents .search .in {float:left; width:311px; height:24px; padding:15px 0 0 48px;}	
				.wrap .contents .search .in span  {color:#373634; font-size:1em; padding-right:10px;}		
				.wrap .contents .search .in	input {width:253px; height:22px; border:1px solid #adadaf; padding-left:10px;}
												
			.wrap .contents .search .btn {float:left; width:54px; height:18px; background:#4c6273; border:1px solid #3e464b; margin-top:17px; text-align:center; padding-top:6px; color:#fff;}
	*/
				
		.wrap .contents .con {width:992px; margin-top:15px;}
			.wrap .contents .c_tab {width:990px; height:42px; border-bottom:1px solid #0c356f;}	
			.wrap .contents .c_tab ul {height:41px;}					
			.wrap .contents .c_tab ul li {float:left; width:140px; height:41px; text-align:center; font-size:1em;}
			.wrap .contents .c_tab ul li span {line-height:30px;}
			.wrap .contents .c_tab ul li.on {float:left; width:138px; height:30px; margin-top:7px; background:#FFF; border:1px solid #d3d6dc; line-height:14px; border-bottom:1px solid #0c356f; padding-top:4px; color:#677a94;}										
			.wrap .contents .c_tab ul li.over {float:left; width:138px; height:32px; background:#0e4085; border-bottom:1px solid #0c356f; color:#FFF; padding-top:10px;}		
			
			.wrap .contents .con .step {float:left; width:992px; height:71px; margin-top:25px;}				
				.wrap .contents .con .step ul {float:left; height:71px;}					
				.wrap .contents .con .step ul li {float:left; width:141px; height:71px; text-align:center; font-size:1em;}

			.wrap .contents .con .qList {float:left; width:992px; margin-top:30px;}		
			.wrap .contents .con .qList .List_t{width:135px; height:50px; float:left;}
			
			.wrap .contents .con .qList h3 {height:30px; margin-right:20px; text-align:center; padding-top:10px; font-size:1.3em; font-weight:900; color:#01357e; border-left:2px solid #01357e;}
			
			.wrap .contents .con .qList .option {width:800px; margin:25px auto 30px auto; border-bottom:1px solid #ccc;}	
			.wrap .contents .con .qList .option .order {border:1px solid #ccc; background-color:#fafafa; margin-bottom:14px; padding:15px; font-weight:bold; color:#000; font-size:1.2em;}
			.wrap .contents .con .qList .option .order input[type="radio"] {margin-left:100px; margin-right:8px;}
			.wrap .contents .con .qList .option ul {height:120px; margin-bottom:30px;}	
			.wrap .contents .con .qList .option ul .out {float:right; padding-right:20px; text-align:center; color:#8b8b8b; font-weight:bold;}	
			.wrap .contents .con .qList .option ul li img {padding-bottom:7px;}
			.wrap .contents .con .qList .option ul li .t {padding-left:12px;}
			.wrap .contents .con .qList .option ul li.on a {color:#0091de;}
			
			.wrap .contents .con .qList .btn {width:800px; height:84px; margin:auto; float:right;}			
			.wrap .contents .con .qList .btn ul {float:right; width:855px; height:58px;; border-bottom:1px solid #9dadc4;}		
			.wrap .contents .con .qList .btn ul li {float:left; padding-left:10px;}							
					.wrap .contents .con .qList .table textarea {float:left; width:798px; height:100%; border:1px solid #d1d3d6; overflow:scroll;}	
														
			.wrap .contents .con .qList .bottom_btns {width:100%; height:100px; margin:0 auto; padding-top:60px; padding-bottom:60px; text-align:right;}
			.wrap .contents .con .qList .bottom_btns img {padding-right:5px;}
			.wrap .contents .con .G_line{border-bottom:1px dashed #999; padding-top:30px; width:990px; float:right; text-align:center;}

/* sub1 */
.inform .textarea {} 
.inform .textarea textarea {border:1px solid #ccc; width:820px; height:200px; overflow:scroll; margin-right:5px;} 
.inform .in {border:10px solid #bdc5cc; padding:25px 33px; background-color:#f8f8f8;}
.inform .in input {border:1px solid #b2c3d3; width:700px; height:20px; line-height:20px; background-color:#fff; padding:5px; font-size:14px;}

.inform .table {width:852px; padding-left:1px; }
.inform .table table td {border-bottom:1px solid #a0a0a0; height:25px; padding-left:15px; color:#999;}
.inform .table table td.tit1 {border:1px solid #a0a0a0; border-left:0px; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}
.inform .table table td.tit2 {border:1px solid #a0a0a0; border-right:0px; border-left:0px; height:30px; padding-left:15px; color:#999;}
.inform .table table td.tit3 {border-right:1px solid #a0a0a0; height:150px; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}
.inform .table table td.text {height:130px; font-size:12px; padding-left:15px;}

.inform .table table td.tit {border-right:1px solid #a0a0a0; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}
.inform .table table td.tit {border-right:1px solid #a0a0a0; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}
.inform .table table td select {width:175px; height:22px; border:1px solid #70706e;}
.inform .table table td input.in1 {width:80px; height:26px; background:#e3e2e7; border:1px solid #b1b1ae; padding-left:5px;}
.inform .table table td input.in2 {width:80px; height:26px; background:#d6e2ee; border:0px; padding-left:5px;}
.inform .table table td input.in3 {width:600px; height:26px; background:#e9e9e6; border:1px solid #d7d7d3; padding-left:5px;}
.inform .table table td span {color:#323338; font-size:14px; font-weight:bold; padding-left:5px;}


/* type_add */
.inform {width:855px; margin:0 auto; float:right;}
.inform .choice {margin-bottom:6px; padding-left:15px; font-weight:bold;}
.inform .layout {background-color:#fbfbfb; border:1px solid #e2e2e2; padding:15px 30px; margin-bottom:35px;}
.inform .layout img {margin-left:20px; vertical-align:top;}
.inform .volume {text-align:left; padding-left:2px; color:#888; font-size:.9em;}
.inform .volume em {font-weight:bold;}
.mediaList .media.image {background-image:url(../img/img_btn.gif); background-repeat:no-repeat; background-position:top left;}
.mediaList .media.audio {background-image:url(../img/audio_btn.gif); background-repeat:no-repeat; background-position:top left;}
.mediaList .media.video {background-image:url(../img/video_btn.gif); background-repeat:no-repeat; background-position:top left;}
.upload_box {margin:0 10px 10px 54px; width:725px; padding:12px 15px; border:1px solid #ccc; background-color:#f5f5f5;}
.upload_box ul {height:26px;}
.upload_box ul li {float:left;}

/* choi:문제 파일 업로드 */
.upload_box .route {width: 410px; height: 22px; position: relative; overflow: hidden; background: ...; }
.upload_box input[type="file"] {position: absolute; top: -5px; right: -5px; cursor: pointer; opacity: 0.0; filter: alpha(opacity=0); width: 100px; height: 22px !important;}
 
.upload_box .close {text-align:right; margin-left:185px;}
.text_box {position:relative; left:0; top:0; width:860px; height:110px;}
.text_close {position:absolute; right:18px; top:20px; width:21px; height:20px; z-index:1; text-align:center;}
.text_box textarea {padding-right:35px; width:753px; height:80px; line-height:18px;}
.upload_box .route input {border:1px solid #ccc; background-color:#fcfcfa; height:20px; line-height:18px; width:400px;}
.loadbtn {padding:5px 20px; line-height:22px; background-color:#4c6172; color:#fff; font-size:1em; text-align:center;}
.upbtn {padding:5px 30px; line-height:22px; background-color:#0065b3; color:#fff; font-size:1em; text-align:center; margin-left:2px;}
.upload_box .explain {margin-top:16px;}
.upload_box .explain input {border-bottom:1px solid #ccc; border-top:none; border-left:none; border-right:none; background-color:#f5f5f5;; width:430px;}

.inform .example_box {min-height:120px;}
.inform .answer {font-weight:bold; padding-left:5px; padding-bottom:5px; font-size:1.2em;text-indent:58px;}
.inform .answer .volume {font-weight:normal; font-size:.75em;  margin-left:618px;}
.example {margin-bottom:10px; height:;}
.exDiv .numb_list_sub{float:left; height:22px; width:40px; border:1px solid #999; margin-right:15px;text-align:center;padding:8px 0;font-size:20px;}
.example .numb_list_sub{float:left; height:22px; width:40px; border:1px solid #999; margin-right:15px;text-align:center;padding:8px 0;font-size:20px;}
.example_box .check {float:left; height:38px; width:40px; border:1px solid #999; margin-right:15px; cursor: pointer;}
.example_box li .check.on {border:1px solid #0091de; background:url(../img/q_check.png) no-repeat;}
.example input[type="text"] {float:left; height:38px; line-height:38px; width:660px; border:1px solid #ccc; margin-right:5px; padding:0 10px; font-size:1.2em;}

.example2 {margin-bottom:10px; height:64px;}
.example2 .upbox {float:left; border:1px solid #ccc; background-color:#f8f8f8; width:710px; height:48px; padding:8px 10px;}
.example2 .upbox input[type="text"] {height:20px; line-height:20px; width:350px; background-color:#fbfbfb; border:1px solid #ccc;}
.example2 .upbox img {margin-left:240px;}
.example2 .upbox .ex_img {position:relative; top:-50px; left:300px; width:80px; height:52px;}

.example2 .upbox a {float:right;}
.example2 .upbox .ps {margin-top:5px;}
.example2 .upbox .ps .in_name {font-weight:bold;}
.example2 .upbox .ps input[type="text"] {border-bottom:1px solid #ccc; border-top:none; border-right:none;  border-left:none; background-color:#f8f8f8; width:400px;}

/* choi:보기 파일 업로드 */
.example2 .upload {width: 100px; height: 22px; position: relative; overflow: hidden; background: ...;}
.example2 .upbox input[type="file"] {position: absolute; top: -8px; right: 0; cursor: pointer; opacity: 0.0; filter: alpha(opacity=0); width: 450px; height: 22px !important;}
 

.add {text-align:right; font-size:1em; padding-right:5px; padding-top:5px; text-decoration:underline; font-weight:bold;}


/* sub7 */
.inform .term {border-bottom:1px dashed #ccc; padding:10px 0 10px 16px; margin-bottom:10px; font-size:1.1em; font-weight:bold;}
.inform .term input[type="text"] {margin-left:10px; padding:4px 10px; width:80px; text-align:center; border:1px solid #ccc;}
.inform .term span {font-size:.8em; font-weight:normal; padding-left:10px; color:#999;}
.inform .view {border-bottom:1px dashed #ccc; padding:10px 0; margin-bottom:40px; font-size:1.1em; font-weight:bold;}
.inform .view input[type="radio"] {margin-left:10px;}
.inform .drag .dr {margin:10px 0;}



/* copy */
.copy {width:100%; text-align:center; font-size:11px; color:#909090; padding:10px 0; border-top:1px solid #c8c8d0; letter-spacing:1px; background:#FFF;}


/* 드래그 정렬 */
.sortable-placeholder { margin:10px 0; height:64px; background-color:#EAEAEA; border:1px solid #ccc; }
#sortable li:hover { cursor: pointer; }

/* test_list */
.wrap .contents .test_list {width:1200px; margin-top:40px; padding-bottom:120px;}
.wrap .contents .test_list table {border-top:2px solid #333; border-bottom:1px solid #333; border-collapse:collapse;}
.wrap .contents .test_list table tr th {border-bottom:1px solid #666; height:45px; line-height:45px;}
.wrap .contents .test_list table .trbg {background-color:#f4f4f4;}
.wrap .contents .test_list table .trbg.on {background-color:#fff;}
.wrap .contents .test_list table .trbg.on td {border-bottom:none;}
.wrap .contents .test_list table tr td {border-bottom:1px dashed #ccc; padding-top:15px; padding-bottom:10px; color:#868996; font-weight:700; text-align:center; line-height:16px;}
.wrap .contents .test_list table tr .category {color:#5b5f6d;}
.wrap .contents .test_list table tr .q {text-align:justify; padding-right:0; padding-left:15px; word-break:break-all;}
.wrap .contents .test_list table tr .btn_view {text-align:left;}
.wrap .contents .test_list table tr .h {text-align:left; word-break:break-all;}
.wrap .contents .test_list table tr .date {color:#b6b7bc;}
.wrap .contents .test_list table tr .over {border-bottom:1px solid #9fa8c8; font-weight:normal; padding:0;}
.wrap .contents .test_list table tr .over .over_view {border-top:4px solid #2d375e; border-left:1px solid #9fa8c8; border-right:1px solid #9fa8c8; height:440px; padding:0 10px;}

.wrap .contents .test_list table tr .over .over_view ul li {float:left;}
.wrap .contents .test_list table tr .over .over_view .view_top {position:relative; height:50px; padding:5px 39px 0 15px; border-bottom:1px dashed #ccc;}
.wrap .contents .test_list table tr .over .over_view .view_top .view_close {position:absolute; top:6px; right:0;}
.wrap .contents .test_list table tr .over .over_view .view_top ul {height:50px;}
.wrap .contents .test_list table tr .over .over_view .view_top ul li {color:#535d80; line-height:50px;}
.wrap .contents .test_list table tr .over .over_view .view_top .top1 {width:82%; text-align:left; font-weight:700;}
.wrap .contents .test_list table tr .over .over_view .view_top span {color:#203571; font-weight:bold; font-size:1.2em; margin-right:8px;}
.wrap .contents .test_list table tr .over .over_view .view_top .top1 em {color:#bbb; padding:0 15px; font-weight:normal;}
.wrap .contents .test_list table tr .over .over_view .view_top .top1 .titclass {font-weight:normal; font-size:1em; margin:0;}
.wrap .contents .test_list table tr .over .over_view .view_top .top1 .level {text-decoration:underline;}
.wrap .contents .test_list table tr .over .over_view .view_top .top1 img {padding-bottom:5px;}
.wrap .contents .test_list table tr .over .over_view .view_top .top2 {width:18%; text-align:right; padding-top:12px; line-height:38px;}
.wrap .contents .test_list table tr .over .over_view .view_top .top2 span {font-size:.95em; margin:0 0 0 2px; padding:6px 13px; color:#fff;}
.wrap .contents .test_list table tr .over .over_view .view_top .top2 .qtopb1 {background-color:#2f67a7;}
.wrap .contents .test_list table tr .over .over_view .view_top .top2 .qtopb2 {background-color:#8b97a4;}

.wrap .contents .test_list table tr .over .over_view .view_in {height:350px; text-align:left; padding:20px 15px;}
.wrap .contents .test_list table tr .over .over_view .view_in li {color:#3c4044; width:45%;}
.wrap .contents .test_list table tr .over .over_view ul .view_in1 {margin-right:70px;}
.wrap .contents .test_list table tr .over .over_view .view_in .sstit {color:#203571; font-weight:bold; font-size:1.1em; padding-bottom:6px;}
.wrap .contents .test_list table tr .over .over_view .view_in .view_text1 {padding-bottom:30px;}
.wrap .contents .test_list table tr .over .over_view .view_in .view_text2 {padding-bottom:10px;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .tipbox {font-weight:bold; color:#848893; line-height:30px; height:30px;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .tipbox span {background-color:#f3f4f4; padding:12px 15px 10px 15px;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .tipbox span em {color:#182f6a;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .extit {margin:25px 0 10px 0;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .extit span {color:#0e4085; border:1px solid #1655ac; padding:5px 10px; font-weight:bold;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .exbox {border:1px solid #ccc; padding:10px; margin-bottom:10px;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .ex {margin-bottom:2px; padding:3px;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .ex img {margin-right:8px;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .exbox .ex.on {background:url(../img/ex_check.png) top right no-repeat #e9eaee;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .exbox2 {border:1px solid #ccc; padding:15px; margin-bottom:10px; height:192px;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .exbox2 li {float:left; text-align:center; height:87px; width:87px; padding:5px;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .exbox2 .ex2 img {border:1px solid #183690;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .exbox2 .ex2.on { background-color:#a7adbb;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .audio {border:1px solid #ccc; background:url(../img/enter.png) right no-repeat #e8e9eb; padding:10px; margin-bottom:10px; color:#70798a; font-weight:700;}
.wrap .contents .test_list table tr .over .over_view .view_in2 .audio img {padding-right:10px;}


/* search */
.wrap .contents .search_q {width:990px; margin-top:40px;}
.wrap .contents .search_q table {border:1px solid #e3e4e5; background:#fcfcfa; border-collapse:collapse;}
.wrap .contents .search_q table td {border-bottom:1px solid #e3e4e5; height:29px; color:#565b5b; padding:0;}
.wrap .contents .search_q table td select {width:133px; height:22px; border:1px solid #70706e;}				
.wrap .contents .search_q table td input.key {width:80px; height:20px; background:#d6e2ee; border:0px; padding-left:5px;}							
.wrap .contents .search_q table td.tit {font-weight:bold; color:#000; width:126px; height:29px; background:url(../img/td_bg.gif) no-repeat; padding:0 0 0 15px;}						
.wrap .contents .search_q table td.bottom1 {border-bottom:0px; font-weight:bold; color:#000; width:126px; height:29px; background:url(../img/td_bg.gif) no-repeat; padding-left:15px;}
.wrap .contents .search_q table td.bottom2 {border-bottom:0px; height:29px; color:#565b5b;}
.wrap .contents .search_q p.list_btn {float:left; width:990px; padding:10px 0 0 920px;}	



/* 등록현황 */
.wrap .contents .q_stats {width:990px; margin-top:40px;}
.wrap .contents .q_stats table {border:1px solid #e3e4e5; border-collapse:collapse;}
.wrap .contents .q_stats table tr th {height:30px; color:#565b5b; padding:0 0 0 25px; text-align:left; background-color:#fafafa;}
.wrap .contents .q_stats table tr td {height:30px; color:#565b5b; padding:0}
.wrap .contents .q_stats table tr td .q_bar {display:inline-block; width:35%; height:8px; background-color:#6ec6ea; border-bottom-right-radius:0.8em; border-top-right-radius:0.8em;}
.wrap .contents .q_stats table tr td.best .q_bar {width:70%; background-color:#123184;}
.wrap .contents .q_stats table td em {color:#6ec6ea; padding-left:7px; font-weight:700;}
.wrap .contents .q_stats table td.best em {color:#123184;}

.wrap .contents .q_total {border:1px solid #9fcae6; background-color:#f6f6f6; padding:15px 30px 10px 30px; text-align:right; margin-top:15px;}
.wrap .contents .q_total span {display:inline-block; height:40px;}
.wrap .contents .q_total span.q_total_l {text-align:right; padding-right:20px; vertical-align:middle;}
.wrap .contents .q_total span.q_total_l img {padding-bottom:4px;}
.wrap .contents .q_total span.q_total_r {font-family:"나눔고딕", NanumGothic; font-size:3em; font-weight:700; color:#000; text-align:left; line-height:40px;}



/* 문제등록 미리보기 */
.exam_view {width:505px; height:750px; background:url(../img/exam_view_bg.jpg) top left no-repeat; margin:0; padding:0;}
.exam_view .qu_in {position:absolute; width:385px; height:490px; margin:110px 0 0 45px; padding:10px 15px 10px 0; overflow-y:scroll; overflow-x:hidden; line-height:130%;}
.exam_view .qu_in .level_wrap {text-align:right;}
.exam_view .qu_in .level_wrap .v_level {border:1px solid #000; padding:3px 5px; font-size:.9em; font-weight:700; color:#666;}
.exam_view .qu_in .level_wrap .v_level img {padding-right:1px; vertical-align:middle;}
.exam_view .qu_in .v_no {text-decoration:underline; font-size:1.2em; font-weight:700; margin-bottom:4px; color:#000;}
.exam_view .qu_in .v_q {font-size:1.1em;}
.exam_view .qu_in .pre_q {font-size:.9em; font-weight:700; color:#666; margin-top:2px; margin-bottom:10px;}
.exam_view .qu_in .v_img {height:200px; border:1px solid #ccc;}
.exam_view .qu_in .v_img_infor {text-align:right; margin-top:3px;}
.exam_view .qu_in table.v_example {margin-top:20px; font-size:1em; border-spacing:0; border-collapse:collapse; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.exam_view .qu_in .v_example tr th {width:12%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:14px 0; background:url(../img/v_ex_bg.png) center 7px no-repeat; vertical-align:text-top;}
.exam_view .qu_in .v_example tr td {width:88%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:8px 15px; background:url(../img/v_left_bg.png) left top no-repeat;}
.exam_view .qu_in .v_example tr.on th {border-top:1px solid #25a7e1; border-bottom:1px solid #25a7e1; background:url(../img/v_on.png) center 7px  no-repeat; color:#fff;}
.exam_view .qu_in .v_example tr.on td {border-top:1px solid #25a7e1; border-bottom:1px solid #25a7e1; background:url(../img/v_check.png) left top no-repeat; font-weight:700; color:#333;}



/* XML입력 */
.xml_tit {margin-top:40px; padding-left:10px; color:#000; font-size:1.6em; background:url(../img/q_tit_icon.png) left no-repeat;}
.xml_tit em {letter-spacing:.15em;}
.xml_infor {margin:8px 0 40px 0; padding-left:10px;}

.up_btn_wrap {margin:0 auto 20px auto; text-align:right;}
.up_regist {display:inline-block; font-weight:700; padding:9px 50px; text-align:center; background-color:#0066b3; color:#fff; font-size:1.1em; border-bottom-left-radius:0.5em; border-top-right-radius:0.5em;}
.up_add {display:inline-block; width:798px; font-weight:700; padding:8px 0; margin-bottom:80px; text-align:center; border:1px solid #ccc; color:#4c6172;}

.p_dotline {border-bottom:1px dashed #ccc; margin-bottom:40px;}

.form_down {text-align:right; border:1px solid #ccc;}
.form_down .file_i {padding:15px 26px 10px 10px; overflow:hidden; background:url(../img/download_bg.png) left bottom no-repeat;}
.form_down .file_i li {display:inline; float:right; height:80px;}
.form_down .file_i li em {display:inline-block; margin-top:1px; font-size:.8em; color:#000; font-weight:700; padding-right:4px;}
.form_down .file_i li img {display:block; margin-left:10px;}
.form_down .file_i li a.i_over img {border-width:0; display:inline; width:68px;}
.form_down .file_i li a.i_over img.over {display:none; width:140px;}
.form_down .file_i li a.i_over:hover {border:0;}
.form_down .file_i li a.i_over:hover img {display:none;}
.form_down .file_i li a.i_over:hover img.over {display:inline;}
.form_down .file_t {padding:10px 26px 10px 10px; background-color:#f9f9f9; border-top:1px solid #eee; font-weight:700; color:#777;}
.form_down .file_t img {padding-right:8px; vertical-align:middle;}


.upload_box2 {width:705px; padding:12px 15px; border:1px solid #ccc; background-color:#f5f5f5;}
.upload_box2 ul {height:26px;}
.upload_box2 ul li {float:left;}
.upload_box2 .route {width: 410px; height: 22px; position: relative; overflow: hidden; background: ...; }
.upload_box2 input[type="file"] {position: absolute; top: -5px; right: -5px; cursor: pointer; opacity: 0.0; filter: alpha(opacity=0); width: 100px; height: 22px !important;} 
.upload_box2 .close {text-align:right; margin-left:170px;}
.upload_box2 .route input {border:1px solid #ccc; background-color:#fcfcfa; height:20px; line-height:18px; width:400px;}
.upload_box2 .explain {margin-top:16px;}
.upload_box2 .explain input {border-bottom:1px solid #ccc; border-top:none; border-left:none; border-right:none; background-color:#f5f5f5;; width:650px;}


/* 문항카드 미리보기 */
.exam_view1 {width:1200px; height:800px; background:#fff;}
.exam_view1 .qu_in {position:absolute; width:405px; height:730px; overflow-y:scroll; overflow-x:hidden; line-height:130%; background:#fff;padding-left:10px;padding-bottom:15px;}
.exam_view1 .qu_in p {text-align:left; margin-right:5px; padding:5px;}
.exam_view1 .qu_in .v_no {text-decoration:underline; font-size:1.2em; font-weight:700; margin-bottom:4px; color:#000;}
.exam_view1 .qu_in .v_q {font-size:1.1em;}
#scriptArea {font-size:1.1em; padding-top:15px;}
.exam_view1 .qu_in .pre_q {font-size:.9em; font-weight:700; color:#666; margin-top:2px; margin-bottom:10px;}
.exam_view1 .qu_in .v_img {height:200px; border:1px solid #ccc;}
.exam_view1 .qu_in .v_img_infor {text-align:right; margin-top:3px;}
.exam_view1 .qu_in table.v_example {margin-top:20px; font-size:1em; border-spacing:0; border-collapse:collapse; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.exam_view1 .qu_in .v_example tr th {width:12%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:14px 0; background:url(../img/v_ex_bg.png) center 7px no-repeat; vertical-align:text-top;}
.exam_view1 .qu_in .v_example tr td {width:88%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:8px 15px; background:url(../img/v_left_bg.png) left top no-repeat;text-align:left;}
.exam_view1 .qu_in .v_example tr.on th {border-top:1px solid #25a7e1; border-bottom:1px solid #25a7e1; background:url(../img/v_on.png) center 7px  no-repeat; color:#fff;}
.exam_view1 .qu_in .v_example tr.on td {border-top:1px solid #25a7e1; border-bottom:1px solid #25a7e1; background:url(../img/v_check.png) left top no-repeat; font-weight:700; color:#333;}

/* type_add */
.preform {width:785px; height:730px; margin-left:415px; overflow-y:scroll; overflow-x:hidden;}
.preform .choice {margin-bottom:6px; padding-left:15px; font-weight:bold;}
.preform .layout {background-color:#fbfbfb; border:1px solid #e2e2e2; padding:15px 30px; margin-bottom:35px;}
.preform .layout img {margin-left:20px; vertical-align:top;}
.preform .volume {text-align:left; padding-left:2px; color:#888; font-size:.9em;}
.preform .volume em {font-weight:bold;}

/* sub1 */
.preform .textarea {margin-top:40px;} 
.preform .textarea textarea {border:1px solid #ccc; width:800px; height:300px; overflow:scroll;} 
.preform .in {margin-top:40px; border:10px solid #bdc5cc; padding:25px 33px; background-color:#f8f8f8;}
.preform .in input {border:1px solid #b2c3d3; width:700px; height:20px; line-height:20px; background-color:#fff; padding:5px; font-size:14px;}

.preform .table {margin-top:40px;}
.preform .table table td {border-bottom:1px dashed #a0a0a0; height:40px; padding-left:15px; color:#999;text-align:left;}
.preform .table table td.tit1 {border:1px dashed #a0a0a0; border-left:0px; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}
.preform .table table td.tit2 {border:1px dashed #a0a0a0; border-right:0px; border-left:0px; height:40px; padding-left:15px; color:#999;}
.preform .table table td.tit3 {border-right:1px dashed #a0a0a0; height:250px; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}
.preform .table table td.text {height:250px; font-size:12px; padding-left:15px;}

.preform .table table td.tit {border-right:1px dashed #a0a0a0; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}
.preform .table table td.tit {border-right:1px dashed #a0a0a0; font-size:13px; font-weight:bold;  padding-left:20px; color:#404348; background-color:#eeeeef;}
.preform .table table td select {width:133px; height:22px; border:1px solid #70706e;}
.preform .table table td input.in1 {width:80px; height:26px; background:#e3e2e7; border:1px solid #b1b1ae; padding-left:5px;}
.preform .table table td input.in2 {width:80px; height:26px; background:#d6e2ee; border:0px; padding-left:5px;}
.preform .table table td input.in3 {width:600px; height:26px; background:#e9e9e6; border:1px solid #d7d7d3; padding-left:5px;}
.preform .table table td span {color:#323338; font-size:14px; font-weight:bold; padding-left:5px;}


.exam_view1 .modBtn {font-size:.95em; margin:0 0 0 2px; padding:6px 13px; color:#fff;background-color:#2f67a7;}

#questionCardPreview .pop_top{width:1200px; height:50px; font-weight:800; margin:0 auto; background:#0099FF;}
.pop_top .view_a{ float:left; width:265px; color:#FFFFFF;  font-size:1.5em; font-weight:800; text-align:left; padding-top:10px; background:#003366; height:40px;padding-left:150px;}
.pop_top .view_b{float:left; width:730px;color:#FFFFFF;  font-size:1.5em; font-weight:800; text-align:center; padding-top:10px; background:#0099FF; height:40px;}
.pop_top .exitimg{float:right;  margin-top:10px; margin-right:10px;}

#questionCardPreview .bak_y{background:#f6d981; color:black;font-weight:bold;}

/* 미리보기 수정버튼 */
.edit_bt{width:65px; height:20px; background-color:#0099ff; border:solid 1px #FFF; font-size:0.7em; color:#FFF !important; float:right; padding-top:5px; margin-right:20px; text-align:center;}

/* 2016-02-16 답가지 텍스트에디터 위치 수정 */
#exampleList .example_box .example > a{position:relative;left:690px;}
#exampleList .example_box .example .cke{margin-left:113px;margin-top:-40px;width:675px;}